<section class="slider_clienti_homepage_single">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="clienti_feedback_single">
                <div>
                    <img class="img_cliente img-responsive" src="{{ data.image.src }}"
                         alt="{{ data.image.alt|default("") }}"/>
                    <p class=" subtitle_dicono">
                        <span>"</span>{{ data.testo|raw }}<span>"</span></p>
                    <p class="firma_section">{{ data.titolo }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
