<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb"
            itemscope itemtype="http://schema.org/BreadcrumbList">
            {% for item in data.items %}
                {% if loop.last %}
                    <li itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem" class="active">
                        <a itemprop="item" itemscope itemtype="http://schema.org/Thing" href="{{ item.url }}">
                            <span itemprop="name">{{ item.label }}</span>
                        </a>
                        <meta itemprop="position" content="{{ loop.index }}"/>
                    </li>
                {% else %}
                    <li itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemprop="item" itemscope itemtype="http://schema.org/Thing" href="{{ item.url }}">
                            <span itemprop="name">{{ item.label }}</span>
                        </a>
                        <meta itemprop="position" content="{{ loop.index }}"/>
                    </li>

                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>