& {
  overflow: hidden;
}

.breadcrumb > li + li::before {
  content: "> ";
  padding: 0 5px;
  color: inherit;
}

.breadcrumb {

  background: transparent;
  margin-bottom: 18px;
  margin-top: 18px;
  li {
    font-size: 18px;
    color: #c6c6c6;
    a {
      color: inherit;
    }
  }
  li.active, li:hover {
    &::before {
      color: #dddddd;
    }
    color: $color20;
  }
}

@media(max-width: 767px) {
  .breadcrumb {
    margin-top: 8px;
    margin-bottom: 8px;
    li {
      font-size: 14px;
    }
  }
}

@media(max-width: 500px) {
  .breadcrumb {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .breadcrumb li {
    font-size: 13px;
  }
  .breadcrumb > li + li::before {
    content: "> ";
    padding: 0 2px;
    color: inherit;
  }
}

