<ul{% if class.val|default("") %} class="{{ class.val }}"{% endif %}>
    {% for socialImage in socialImages %}
        <li>
            <a target="_blank" href="{{ socialUrls[loop.index0]['val'] }}"><img class="social_icon"
                                                                                src="{{ socialImage.src }}"
                                                                                alt="{{ socialImage.alt|default("") }}"/>
            </a>
        </li>
    {% endfor %}
</ul>
