{% if data.Page %}
    {% if data.Page.ListImgFileName %}
        <img src="/{{ data.Page.uploadDir }}{{ data.Page.ListImgFileName }}" alt="{{ data.Page.listImgAlt }}">
    {% endif %}
    <h3>{{ data.Page.translate().titolo }}</h3>
{% endif %}