<section class="titleSubtitleListWithIcon">
    <h2 class="titolo">
        {{ titolo.val }}
    </h2>
    <h3 class="sottotitolo">
        {{ sottotitolo.val }}
    </h3>
    <ul class="lista">
        <li>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{ img_icon.src }}" alt="{{ img_icon.alt|default("") }}">
                    </a>
                </div>
                <div class="media-body">
                    {{ titoletto1.val|raw }}
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{ img_icon.src }}" alt="{{ img_icon.alt|default("") }}">
                    </a>
                </div>
                <div class="media-body">
                    {{ titoletto2.val|raw }}
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{ img_icon.src }}" alt="{{ img_icon.alt|default("") }}">
                    </a>
                </div>
                <div class="media-body">
                    {{ titoletto3.val|raw }}
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{ img_icon.src }}" alt="{{ img_icon.alt|default("") }}">
                    </a>
                </div>
                <div class="media-body">
                    {{ titoletto4.val|raw }}
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{ img_icon.src }}" alt="{{ img_icon.alt|default("") }}">
                    </a>
                </div>
                <div class="media-body">
                    {{ titoletto5.val|raw }}
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{ img_icon.src }}" alt="{{ img_icon.alt|default("") }}">
                    </a>
                </div>
                <div class="media-body">
                    {{ titoletto6.val|raw }}
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{ img_icon.src }}" alt="{{ img_icon.alt|default("") }}">
                    </a>
                </div>
                <div class="media-body">
                    {{ titoletto7.val|raw }}
                </div>
            </div>
        </li>
    </ul>
</section>