<div class="box-triplo-flottante">
    <div class="container-fluid">
        <div class="row row-top">
            {% if titolo.val|default("") %} <h3>{{ titolo.val }}</h3> {% endif %}
            {% if sottotitolo.val|default("") %} <p>{{ sottotitolo.val }}</p> {% endif %}
        </div>
        <div class="row row-floating">
            <div class="container">
                <div class="row">
                    {% for titolo in titoli %}
                        {% set sottotitolo = attribute(sottotitoli, loop.index0) %}
                        {% set testo = attribute(testi, loop.index0) %}
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="box-testo">
                                {% if titolo.val|default("") %}
                                    <p class="numero">
                                        {{ titolo.val }}
                                    </p>
                                {% endif %}
                                {% if sottotitolo.val|default("") %}
                                    <h4 class="titolo">
                                        {{ sottotitolo.val }}
                                    </h4>
                                {% endif %}

                                {% if testo.val|default("") %}
                                    <p class="testo">
                                        {{ testo.val }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row row-bottom">
            {% if link.link|default("") %}
                <a href="{{ link.link }}" class="btn btn-default">{{ link.label|default("etichetta link mancante") }}
                    <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
</div>