{% trans_default_domain "public" %}
<div class="form-contatti"
     {% if bg_img.src is defined and bg_img.src != "" %}style="background-image:url('{{ asset(bg_img.src) }}')"{% endif %}>
    <div class="container">
        <div class="row">
            <p class="form-title">{{ titolo.val }}</p>
            {% if testo.val|default("") %}
                <p>
                    {{ testo.val | raw }}
                </p>
            {% endif %}
            <form class="contact" data-endpoint="{{ to_route('contact-us-form') }}">
                <div class="row_x">
                    <input type="text" name="{{ random('ABCDEFGHI') }}{{ random() }}_wt" value=""/>
                </div>
                <input placeholder="{% trans %}booking.labels.nome_e_cognome{% endtrans %}*" type="text"
                       name="nome_cognome" id="nome_cognome" required value="">
                <input placeholder="{% trans %}booking.labels.email{% endtrans %}*" type="email" name="email" id="email"
                       required value="">
                {#<label for="phone">{% trans %}booking.labels.telefono{% endtrans %}</label>#}
                {#<input type="tel" name="phone" id="phone" required value="">#}
                {#<label for="tipo_richiesta">{% trans %}booking.labels.oggetto{% endtrans %}</label>#}
                <input type="text" placeholder="{% trans %}booking.labels.oggetto {% endtrans %}*" name="tipo_richiesta"
                       id="tipo_richiesta" required value="">
                {#<label>{% trans %}booking.labels.informazioni{% endtrans %}</label>#}
                <textarea placeholder="{% trans %}booking.labels.messaggio{% endtrans %}*" name="richiesta"
                          id="richiesta"></textarea>
                <div class="pretty">
                    <input type="checkbox" name="privacy" id="privacy" value="1"/>
                    <label class="privacy-thing"><i class="fa fa-check"></i>{% trans %}
                        booking.labels.ho_letto{% endtrans %}
                        <a target="_blank" href="{{ link_privacy.link }}"><u>{% trans %}
                                    default.labels.privacy_policy{% endtrans %}</u></a></label>
                </div>
                {#<p>{% trans %}default.labels.campi_obbligatori{% endtrans %}</p>#}
                {#<input type="submit" class="btn btn-default btn-send" formnovalidate#}
                {#value="{% trans %} default.labels.invia {% endtrans %}">#}
                {% if(img_btn.src is defined and img_btn.src != "") %}
                    <img class="submit-btn btn-send" src="{{ img_btn.src }}">
                {% endif %}
            </form>
        </div>
    </div>
</div>