.sezione.box-doppio-lista {
  .col-lg-5 {
    position: relative;
    display: table;
    .box-testo {
      text-align: left;
      padding: 30px;
      display: table-cell;
      vertical-align: middle;
      img {
        margin-bottom: 0;
        margin-right: 5px;
      }
      h2 {
        margin-top: 0;
      }
      .services {
        table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 10px;
          td:first-child {
            text-align: center;
          }
        }
      }
    }
  }
  .col-lg-7 {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.box-doppio-lista .col-lista {
    height: auto;
    .box-testo {
      transform: none;
      left: auto;
      padding: 10px;
    }
  }
  .sezione.box-doppio-lista .services {
    table {
      td {
        img {
          width: auto;
        }
      }
    }
  }
}
