.videos {
  padding: 30px 5%;
  background-position: left;
  background-repeat: no-repeat;

  iframe {
    width: 100%;
    height: 540px;
    margin-bottom: 20px;
  }
  @media (max-width: 1600px) {
    iframe {
      height: 400px;
    }
  }
}