<section class="menu-laterale">
    <div class="headMenu">
        {#{% if(data.categoriaMenu.icona != "") %}#}
        {#<span class="iconHeader {{ data.categoriaMenu.icona }}"></span>#}
        {#{% endif %}#}
        <h2 class="titoloMenu">{{ data.nome }}</h2>
    </div>
    {#<div class="bodyMenu">#}

    {#</div>#}
</section>
