{% trans_default_domain "public" %}
<div class="container-fluid container-limitato">
    <div class="row">
        <div class="col-sm-12 colonna">
            <h1 class="titolo-sezione">
                {% trans %}ecommerce.labels.carrello{% endtrans %}
            </h1>
            {% if data.Carrello.recordsCarrello|length %}
                <table class="tabella-carrello">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>{% trans %}ecommerce.labels.prodotto{% endtrans %}</th>
                        <th class="numeric no-mobile">{% trans %}ecommerce.labels.prezzo{% endtrans %}</th>
                        <th class="qty no-mobile">{% trans %}ecommerce.labels.quantita{% endtrans %}</th>
                        <th class="numeric no-mobile">{% trans %}ecommerce.labels.subtotale{% endtrans %}</th>
                        <th class="no-mobile">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for riga in data.Carrello.recordsCarrello %}
                        <tr data-id="{{ riga.id }}">
                            <td class="tab-img-prodotto">
                                <img src="{{ asset(riga.prodotto.uploadDir ~ riga.prodotto.listImgFileName) }}"
                                     alt="{{ riga.prodotto.listImgAlt }}"/>
                            </td>
                            <td class="tab-dati-prodotto">

                                {% if ecommerce.manage_brands %}
                                    <div class="marca">{{ riga.prodotto.brand }}</div>
                                {% endif %}
                                <a href="#" class="nome-prodotto">{{ riga.prodotto }}</a>
                                {% if riga.variante|length %}
                                    <div class="dati-variante">{{ riga.variante }}</div>
                                {% endif %}
                                <div class="numeric subtotale mobile">{{ (productHelper.getPrezzo(riga.prodotto, listinoHelper.getDefault(), riga.variante) * riga.qty) | localizedcurrency('EUR') }}</div>
                                <div class="qty quantita mobile">
                                    Quantità
                                    <a href="#" class="minusone"><i class="fa fa-minus"></i></a>
                                    <input class="form-control" type="text" value="{{ riga.qty }}"/>
                                    <a href="#" class="addone"><i class="fa fa-plus"></i></a>
                                </div>
                                <div class="elimina mobile"><a href="#" class="remove-btn"><i
                                                class="fa fa-close"></i></a>
                                </div>
                            </td>
                            <td class=" prezzo numeric no-mobile">{{ productHelper.getPrezzo(riga.prodotto, listinoHelper.getDefault(), riga.variante) | localizedcurrency('EUR') }}</td>
                            <td class="qty quantita no-mobile">
                                <a href="#" class="minusone"><i class="fa fa-minus"></i></a>
                                <input class="form-control" type="text" value="{{ riga.qty }}"/>
                                <a href="#" class="addone"><i class="fa fa-plus"></i></a>
                            </td>
                            <td class="numeric subtotale no-mobile">{{ (productHelper.getPrezzo(riga.prodotto, listinoHelper.getDefault(), riga.variante) * riga.qty) | localizedcurrency('EUR') }}</td>
                            <td class="elimina no-mobile"><a href="#" class="remove-btn"><i class="fa fa-close"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" class="no-mobile">

                        </td>
                        <td colspan="2" class="labelfoot">{% trans %}ecommerce.labels.imponibile{% endtrans %} </td>
                        <td colspan="2"
                            class="valfoot">{{ carrelloHelper.getImponibile(data.Carrello) | localizedcurrency('EUR') }}</td>
                    </tr>
                    {% for tasse in carrelloHelper.getTasse(data.Carrello) %}
                        <tr>
                            <td colspan="3" class="no-mobile"></td>
                            <td colspan="2" class="numeric labelfoot">
                                {{ tasse.description }}
                            </td>
                            <td colspan="2" class="numeric valfoot">{{ tasse.imposta | localizedcurrency('EUR') }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="no-mobile"></td>
                        <td colspan="2" class="numeric labelfoot">
                            <strong>{% trans %}ecommerce.labels.totale{% endtrans %}</strong>
                        </td>
                        <td colspan="2"
                            class="numeric valfoot">
                            <strong>{{ carrelloHelper.getTotale(data.Carrello) | localizedcurrency('EUR') }}</strong>
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <a class="btn pulsante-form pull-right btn-cassa"
                   href="{{ to_route('checkout', {}, app.request.locale) }}">{% trans %}
                        ecommerce.labels.goto_checkout {% endtrans %}</a>

            {% else %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{% trans %}
                    ecommerce.labels.carrellovuoto{% endtrans %}
                </div>
            {% endif %}
        </div>
    </div>
</div>


<script type="text/x-handlebars-template" id="notEnoughTemplate">
    <div id="carrelloModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                        {% trans %}ecommerce.labels.cart{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% verbatim %} product.labels.quantita_non_sufficiente{% endverbatim %}
                    </div>
                    <ul>
                        <li>{% trans %}product.labels.quantita_richiesta {% endtrans %}
                            : {% verbatim %} {{qty}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.giacenza{% endtrans %}
                            : {% verbatim %} {{giacenza}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_aggiunta {% endtrans %}
                            : {% verbatim %} 0 {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_incarello {% endtrans %}
                            : {% verbatim %} {{total}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.maxAddable{% endtrans %}
                            : {% verbatim %} {{maxAddable}} {% endverbatim %}</li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                            <a href="/carrello" class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToCart{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>