$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color3: #878787 !default;
$color4: #C9C9C9 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.titolo-sezione {
  font-size: 24px;
  font-weight: 600;
  color: $color6;
  margin-bottom: 20px;
}

.fa-close {
  font-size: 26px;
  color: #D81B1A;
}

.fa {
  color: $color2;
}

.alert {
  background-color: $color2;
  background-image: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: 0;
}

.qty {
  text-align: center;
  &.mobile {
    text-align: left;
    a:first-child {
      margin-left: 10px;
    }
  }
}

.qty input {
  width: 3em;
  display: inline-block;
  margin: 0 1em;
}

.pulsante-form {
  background-color: #f39200;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
}

.btn-cassa {
  margin-top: 20px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.tabella-carrello {
  width: 100%;
  border-bottom: 1px solid $color5;
  .tab-dati-prodotto {
    .marca {
      font-size: 14px;
      color: $color3;
    }
    .nome-prodotto {
      font-size: 17px;
      color: $color6;
      &:hover {
        color: darken($color6, 20%);
      }
    }
    .dati-variante {
      color: $color2;
      font-size: 14px;
    }

  }
  .prezzo {
    font-size: 16px;
    color: $color21;
  }
  .subtotale {
    font-size: 16px;
    font-weight: 600;
    color: $color6;
  }

  tfoot {
    tr:first-child td {
      padding-top: 20px;
    }
    tr:last-child td {
      padding-bottom: 20px;
    }
    tr td {
      color: $color6;
      font-size: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    tr.totale td {
      font-weight: 600;

    }
  }

  thead {
    tr {
      background-color: $color2;
      th {
        color: white;
        padding: 14px 0;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  tbody {
    tr {
      border: 1px solid $color5;
      border-top: 0;
    }
    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .tab-img-prodotto {
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 150px;
      }

    }
  }

  @media(max-width: 991px) {
    tbody .tab-img-prodotto img {
      max-height: 150px;
      max-width: 100px;
    }
    thead {
      th {
        font-size: 14px;
      }
    }
    tfoot {
      tr td {
        font-size: 16px;
      }
    }
    .tab-dati-prodotto {
      .marca {
        font-size: 13px;
      }
      .nome-prodotto {
        font-size: 15px;
      }
      .dati-variante {
        font-size: 13px;
      }

    }
    .prezzo {
      font-size: 15px;
    }
    .subtotale {
      font-size: 15px;
    }
  }

  .mobile {
    display: none;
  }
  @media(max-width: 767px) {
    .colonna {
      padding: 0;
    }
    thead {
      display: none;
    }
    .no-mobile {
      display: none;
    }
    .tab-dati-prodotto {
      column-span: 5;
      position: relative;
      .elimina.mobile {
        position: absolute;
        top: 10px;
        right: 10px
      }
    }
    .mobile {
      display: block;
    }
  }
}

@media(max-width: 767px) {
  .btn-cassa {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  .titolo-sezione {
    padding-left: 15px;
    padding-right: 15px;
  }
  .valfoot {
    text-align: right;
    padding-right: 15px;
  }
  .labelfoot {
    padding-left: 15px;
  }
  .colonna {
    padding: 0;
  }
}