<section class="address-footer">
    <p class="footer_title">{{ titolo.val }}</p>
    <ul class="lista_footer">
        <li>{{ riga1.val }}</li>
        <li>{{ riga2.val }}</li>
        <li>{{ riga3.val }}</li>
        <li><a href="{{ riga4.link }}">{{ riga4.label }}</a></li>
    </ul>
</section>
