{% extends "@WebtekEcommerce/admin/tax/formLayout.html.twig" %}

{% block title %} {% trans %} tax_ecommerce.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} tax_ecommerce.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
