<div class="form-registrazione">
    <div class="container-fluid">

        {% if not data.success %}
        {% form_theme data.formRegistrazione '_simpleTheme.html.twig' %}
        {% for error in data.errors %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-triangle"></i>{{ error }}
            </div>
        {% endfor %}
        {{ form_start(data.formRegistrazione) }}
        <div style="display:none">
            {{ form_row(data.formRegistrazione.isGuest) }}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="titolo-registrazione">REGISTRAZIONE</h1>
                <p class="subtitle-registrazione">{{ text.val|raw }}</p>
                <h2 class="titoletto-form">DATI FATTURAZIONE</h2>
                {{ form_row(data.formRegistrazione.isAzienda) }}
                {{ form_row(data.formRegistrazione.ragioneSociale) }}
                {{ form_row(data.formRegistrazione.partitaIva) }}

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.nome) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.cognome) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.indirizzo) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.nazione) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4" style="">
                        {{ form_row(data.formRegistrazione.cap) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(data.formRegistrazione.provincia) }}
                        {{ form_row(data.formRegistrazione.provincia_text) }}
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.comune) }}
                {{ form_row(data.formRegistrazione.comune_text) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.telefono) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.cellulare) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.codiceFiscale) }}
            </div>
            {#<div class="col-sm-6">#}
            {#{{ form_row(data.formRegistrazione.email) }}#}
            {#</div>#}
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.email.first) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.email.second) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.plainPassword.first) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(data.formRegistrazione.plainPassword.second) }}
            </div>
        </div>
        {#TODO Data di nascita,Privacy#}
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titoletto-form">INFORMATIVA SULLA PRIVACY</h2>

                <div class="informativa-privacy">
                    <p>
                        Ai sensi dell'art. 13 del D. Lgs. 196/03, i dati personali sono raccolti con modalità
                        telematiche e trattati con modalità automatizzate, unicamente per le finalità connesse
                        all'evasione delle richieste. Il conferimento di tali dati da parte del richiedente ed il
                        consenso al loro trattamento sono facoltativi; in difetto, le richieste non potranno essere
                        evase. I dati personali non saranno in alcun modo divulgati.<br>
                        Il richiedente potrà esercitare i diritti previsti dall'art. 7, D. Lgs. 196/03 (accesso,
                        correzione, cancellazione, opposizione, ecc.), facendone espressa richiesta al titolare del
                        trattamento dei dati (visionabile nella sezione Condizioni di vendita).<br>
                        Sicurezza<br>
                        Al fine di garantire la massima tutela in tema di trattamento dei dati personali, il titolare e
                        il/i responsabile/i del trattamento dati si impegnano ad osservare ed attuare con scrupolo le
                        leggi applicabili in materia, tra cui:<br>
                        - il D. Lgs. 196/03.<br>
                        Presa visione delle informazioni che precedono, acconsento al trattamento dei miei dati
                        personali.
                    </p>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="accettazione-privacy" value="">
                        Acconsento al trattamento dei miei dati personali ai sensi del D.Lgs 196/03.*
                    </label>
                </div>
            </div>
        </div>
        <button class="btn btn-main-submit pulsante-form" formnovalidate>
            {% trans %} default.labels.registrati {% endtrans %}</button>

        {{ form_end(data.formRegistrazione) }}
    </div>

</div>

<script type="text/x-handlebars-template" id="optionsTemplate">
    {% verbatim %}
        {{#each options}}<option value="{{id}}">{{nome}}</option>{{/each}}
    {% endverbatim %}
</script>

<script type="text/x-handlebars-template" id="emptyComuneTemplate">
    <option value="0">{% trans %} anagrafica.labels.select_province {% endtrans %}</option>
</script>
{% else %}
    <h1>REGISTRAZIONE COMPLETATA!</h1>
        {% endif %}


<script type="text/x-handlebars" id="noPrivacyTemplate">

    <div id="noWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                        {% trans %}default.labels.privacyRequired{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% trans %}ecommerce.labels.privacyRequiredErrorText{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>




</script>