$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color3: #878787 !default;
$color4: #C9C9C9 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;
$color8: #717078 !default;
$color9: #a0a0a0 !default;
$color10: #FAFAFA !default;
$color11: #949494 !default;
$color12: #595959 !default;
$color13: #d2d2d2 !default;
$color14: #f39200 !default;
$color15: #8d8d8d !default;
$color16: #bdbdbd !default;
$color17: #F9F9F9 !default;
$color18: #F4F4F4 !default;
$color19: #b9b9b9 !default;
$color20: #53c76e !default;
$color21: #787878 !default;
$color22: #EFEFEF !default;
$color23: #585858 !default;
$color24: #f7f7f7 !default;
$color25: #f0f0f0 !default;
$color26: #BFBFBF !default;

.form-registrazione {

  .error-block {
    margin-top: -20px;
  }
  padding: 40px 0;
  .informativa-privacy {
    height: 300px;
    overflow: scroll;
    background-color: #f7f7f7;
    padding: 20px;
    border: 0;
  }
  input, select {
    margin-bottom: 30px;
  }

  .alert {
    background-color: $color2;
    background-image: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: 0;
    @media(max-width: 767px) {
      font-size: 14px;
    }
    .fa {
      color: white;
      margin-right: 10px;
    }
  }

  .titolo-registrazione {
    font-size: 28px;
    color: $color1;
    font-weight: 600;
    text-align: left;
    margin-bottom: 40px;
  }
  .subtitle-registrazione {
    font-size: 14px;
    font-weight: 400;
    color: $color1;
  }
  .titoletto-form {
    font-size: 14px;
    font-weight: 600;
    color: $color6;
  }
  label {
    font-size: 14px;
    color: $color6;
    font-weight: 500;
    span {
      color: $color6;
      font-weight: 700;
    }
  }
  .radio {
    display: inline-block;
    margin-right: 20px;
  }
  .radio label, .checkbox label, .radio-inline, .checkbox-inline, .light-description, .checkbox label {
    font-size: 14px;
    font-weight: 400;
    color: $color6;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  select,
  input[type='text'], input[type='email'], input[type='password'] {
    height: 55px;
    border-radius: 5px;
  }
  input[type="text"] {
    border: 1px #cbcbcb solid;
  }
}

@media(max-width: 500px) {
  .form-registrazione .titolo-registrazione {
    font-size: 33px;
  }
}

@media(max-width: 340px) {
  .form-registrazione .titolo-registrazione {
    font-size: 25px;
  }
}

