<section class="weird {% if mirror.val == 1 %} mirror{% endif %}">
    <section class="sfondo {% if cover.val == true %}cover{% endif %}"
             style="background-image:url('{{ background_img.src }}">
        <div class="box-testo" style="background-image:url('{{ bg_img_block.src }}')">
            <div class="wrap">
                <h2 class="titolo">
                    {{ titolo.val|raw }}
                </h2>
                <img class="img-box" src="{{ img.src }}" alt="{{ img.alt|default("") }}">
                <div class="testo">
                    <p>
                        {{ testo.val|raw }}
                    </p>
                    {% if img_opzionale.src is defined and img_opzionale.src != "" %}
                        <img class="img_opzionale" src="{{ img_opzionale.src }}"
                             alt="{{ img_opzionale.alt|default("") }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</section>
