.weird {
  overflow: hidden;
  .sfondo {
    position: relative;
    height: 850px;
    background-position: right;
    background-repeat: no-repeat;
  }

  &.mirror .sfondo {
    background-position: 40%;
  }

  &.mirror .box-testo {
    padding-left: 15%;
    padding-right: 15%;
  }
  .box-testo {
    position: absolute;
    top: 50%;
    width: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding-left: 10.4%;
    padding-right: 20%;
    padding-top: 7.3%;
    padding-bottom: 7.5%;
    background-size: 100% 100%;
  }

  &.mirror .box-testo {
    position: absolute;
    left: auto;
    right: 35%;
    transform: translate(50%, -50%);
    background-size: 100% 100%;
  }
  .img_opzionale {
    margin-top: 10px;
  }
  .titolo {
    font-family: $font3;
    font-size: 90px;
    color: white;
    text-align: center;
    strong {
      color: $color4;
      font-weight: $regular;
    }
  }
  .wrap {
    position: relative;
  }
  .titolo, .testo {
    padding: 0 40px;
  }
  .img-box {
    position: absolute;
    top: 52%;
    max-width: 110%;
    right: 0;
    transform: translate(100%, -50%);
  }

  &.mirror .img-box {
    right: auto;
    left: 0;
    transform: translate(-100%, -50%);
  }

  .testo {
    text-align: center;
    font-size: 15px;
    font-family: $font;
    color: $color5;
    strong {
      color: $color4;
      font-weight: $bold;
    }
  }

  @media (min-width: 1921px) {
    .sfondo {
      background-size: 100%;
    }
  }

  @media (max-width: 1400px) {
    .box-testo {
      width: 70%;
    }
  }

  @media (max-width: 1300px) {
    .titolo {
      font-size: 60px;
    }
    .testo {
      font-size: 14px;
    }
  }

  @media (max-width: 1200px) {
    .box-testo {
      width: 70%;
    }
  }

  @media (max-width: 1000px) {
    .box-testo {
      width: 80%;
    }
    .img-box {
      max-width: 80%;
    }
  }

  @media (max-width: 767px) {
    &, &.mirror {
      .sfondo {
        background-position: 0px 0px;
        background-size: auto 75%;
        height: auto;
      }
      .sfondo.cover {
        background-size: cover;
      }
      .testo {
        padding: 0;
      }
      .img-box {
        position: static;
        top: auto;
        max-width: 100%;
        right: auto;
        left: auto;
        transform: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .box-testo {
        position: static;
        left: auto;
        right: auto;
        width: 100%;
        left: 50%;
        padding-left: 40px;
        padding-right: 40px;
        transform: none;
        background-image: none !important;

      }
    }

  }

  @media (max-width: 600px) {
    &, &.mirror {
      .box-testo {
        padding: 20px;
      }
    }

  }

}

