<div class="sezione box-doppio-logo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-logo" data-aos="fade-right" data-aos-duration="800">
                <div class="box-logo">
                    <img src="{{ logo.src }}" alt="{{ logo.alt|default("") }}"/>
                    <a href="{{ link.link }}" type="button" class="btn btn-default">{{ link.label }}</a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-img" data-aos="fade-left" data-aos-duration="800">
                <img src="{{ immagine.src }}" alt="{{ immagine.alt|default("") }}"/>
            </div>
        </div>
    </div>
</div>
