.col-lg-6 {
  padding: 0 10px;
  .thumbnail {
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 0;
    img {
      max-width: 100%;
      transform: scale(1) rotate(0);
      -webkit-transform: scale(1) rotate(0);
      -moz-transform: scale(1) rotate(0);
      -o-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
      transition-duration: 0.5s;
    }
    &:hover {
      img {
        transform: scale(1.2) rotate(5deg);
        -webkit-transform: scale(1.2) rotate(5deg);
        -moz-transform: scale(1.2) rotate(5deg);
        -o-transform: scale(1.2) rotate(5deg);
        -ms-transform: scale(1.2) rotate(5deg);
        transition-duration: 0.5s;
      }
    }
  }
}

@media screen and (max-width: 449px) {
  .col-lg-6 {
    width: 100%;
  }
}
