{% if data is defined %}
    <div class="blogArchive">
        <h5 class="titolo">{{ titolo.val | upper }}</h5>
        <hr/>
        <ul class="side-list">
            {% for mese in data %}
                <li><a href="{{ to_route("blog", {mese: mese.month}) }}">{{ mese.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
