{% trans_default_domain "public" %}
{% set order=data.order %}
{% if order %}
    <div class="row dati-ordine">
        <div class="col-sm-12 col-md-6">
            {% trans %}ecommerce.labels.billingData{% endtrans %}<br><br>{{ order.billing | nl2br }}
        </div>
        <div class="col-sm-12 col-md-6">
            {% trans %}
            ecommerce.labels.shippingData{% endtrans %}<br><br>{{ order.delivery | nl2br }}
        </div>
    </div>
    <table class="table-responsive table tabella-dati-ordine">
        <thead>
        <tr>
            <th colspan="3">
            </th>
            <th colspan="2" class="delivery"></th>
        </tr>
        <tr>
            <td> {% trans %}
                    ecommerce.labels.orderStatus
                {% endtrans %}


            </td>
            <td>{{ order.status }}
                {% if order.status.codice == "NOTPAGATO" and order.paymentUrl %}
                    - <a target="_blank" class="paga-ora" href="{{ order.paymentUrl }}">{% trans %}
                        ecommerce.labels.paga_ora {% endtrans %}</a>
                    {#<span class="pagaOraHelp">{% trans %}#}
                    {#ecommerce.labels.paga_ora_help {% endtrans %}</span>#}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}
                    ecommerce.labels.payment
                {% endtrans %}
            </td>
            <td>
                {{ order.payment }}
            </td>
        </tr>

        </thead>
    </table>
    <table class="tabella-riepilogo-articoli">
        <thead>
        <tr>
            <th></th>
            <th>{% trans %}ecommerce.labels.prodotto{% endtrans %}</th>
            <th class="numeric prezzo-head">{% trans %}ecommerce.labels.prezzo{% endtrans %}</th>
            <th class="qty quantita-head">{% trans %}ecommerce.labels.quantita{% endtrans %}</th>
            <th class="numeric subtotale-head">{% trans %}ecommerce.labels.subtotale{% endtrans %}</th>
            {% if order.isrecensibile %}
                <th class=""></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for riga in order.records %}
            <tr>
                <td class="tab-img-prodotto">
                    {% if riga.product %}
                        <img src="{{ asset(riga.product.uploadDir ~ riga.product.listImgFileName) | imagine_filter('product_mini') }}"
                             alt="{{ riga.product.listImgAlt }}"/>
                    {% endif %}
                </td>
                <td class="tab-dati-prodotto">{% if ecommerce.manage_brands %}
                        {% if riga.product %}
                            <img class="img-responsive img-mobile"
                                 src="{{ asset(riga.product.uploadDir ~ riga.product.listImgFileName) | imagine_filter('product_mini') }}"
                                 alt="{{ riga.product.listImgAlt }}"/>
                        {% endif %}
                        <div class="marca">{{ riga.product.brand }}</div>
                    {% endif %}
                    <a href="#" class="nome-prodotto">{{ riga.product }}</a>
                    {% if riga.variante|length %}
                        <div class="dati-variante">{{ riga.variante }}</div>
                    {% endif %}
                    <div class="dati-variante">Rif. {{ riga.code }}</div>

                    <div class="mobile dati-extra">
                        Prezzo {{ taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax)| localizedcurrency('EUR') }} <br>
                        Quantità {{ riga.qty }}
                    </div>
                </td>
                <td class="prezzo numeric">{{ taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax)| localizedcurrency('EUR') }}</td>
                <td class="quantita qty">
                    {{ riga.qty }}
                </td>
                <td class="subtotale numeric">{{ (taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax) * riga.qty) | localizedcurrency('EUR') }}</td>
                {% if order.isrecensibile %}
                    <td class="recensione-column"><a
                                href="{{ to_route("recensione_prodotto_ecommerce",{"prodotto":riga.product.id}) }}">{% trans %}
                                ecommerce.labels.review{% endtrans %}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if ecommerce.enable_coupons %}
            {% if order.coupon and order.coupon.type == 0 %}
                <tr>
                    <td colspan="5" class="numeric">
                        {{ order.coupon.translate().titolo }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="numeric">
                {% trans %}ecommerce.labels.imponibile{% endtrans %}
            </td>
            <td class="numeric">{{ orderHelper.getImponibile(order) | localizedcurrency('EUR') }}</td>
        </tr>
        {% for tasse in orderHelper.getTasse(order) %}
            <tr>
                <td colspan="4" class="numeric">
                    {{ tasse.description }}
                </td>
                <td class="numeric">{{ tasse.imposta | localizedcurrency('EUR') }}</td>
            </tr>
        {% endfor %}
        {% if order.deliveryCost %}
            <tr>
                <td colspan="4" class="numeric">
                    {{ order.deliverBy }}
                </td>
                <td class="numeric">{{ order.deliveryCost | localizedcurrency('EUR') }}</td>
            </tr>
        {% endif %}
        {% if order.payment.extraPrice %}
            <tr>
                <td colspan="4" class="numeric">
                    {{ order.payment }} - Costo extra
                </td>
                <td class="numeric">{{ order.payment.extraPrice | localizedcurrency('EUR') }}</td>
            </tr>
        {% endif %}
        {% if ecommerce.enable_coupons %}
            {% if order.coupon and order.coupon.type == 1 %}
                <tr>
                    <td colspan="4" class="numeric">
                        {% trans %}ecommerce.labels.totale{% endtrans %}
                    </td>
                    <td class="numeric">{{ (order.total + order.deliveryCost + order.payment.extraPrice + order.couponScontoEuro) | localizedcurrency('EUR') }}</td>
                </tr>
                <tr>
                    <td colspan="4" class="numeric mob2">
                        {{ order.coupon.translate().titolo }}
                    </td>
                    <td class="numeric mob">
                        - {{ order.couponScontoEuro | localizedcurrency('EUR') }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr>
            <td colspan="4" class="numeric">
                {% trans %}ecommerce.labels.totale{% endtrans %}
            </td>
            <td class="numeric">{{ (order.total + order.deliveryCost + order.payment.extraPrice) | localizedcurrency('EUR') }}</td>
        </tr>
        </tfoot>


    </table>
{% endif %}
