.only_title_text {
  padding: 80px 0;
  padding-bottom: 0;
  background-color: $color5;
  .align-center {
    text-align: center;
  }
  a {
    color: $color2;
  }

  .title_section {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: $medium;
    font-family: $font3;
    font-size: 90px;
    color: $color2;
    strong {
      color: $color3;
      font-weight: $regular;
    }
  }
  .text_section {
    font-size: 15px;
    font-family: $font;
    color: $color1;
    margin: 0px 20%;
    line-height: 24px;
    font-weight: $medium;
    margin-bottom: 80px;
    strong {
      color: $color4;
    }
  }
}

@media (max-width: 1170px) {
  .only_title_text {
    padding-top: 60px;
    .text_section {
      font-size: 14px;
      margin: 60px 20px;
      line-height: 23px;
    }
    .title_section {
      font-size: 70px;
    }
  }
}

@media screen and (max-width: 640px) {
  .only_title_text {
    padding-top: 40px;
    .text_section {
      font-size: 14px;
      margin: 40px 20px;
      line-height: 21px;
    }
    .title_section {
      font-size: 50px;
    }
  }
}
