<section class="only_title_text">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if h1.val == 1 %} <h1 {% else %} <h2 {% endif %} class="title_section align-center"
                                                                    data-aos="fade-in"
                                                                    data-aos-duration="800">{{ titolo.val|raw }}  {% if h1.val == 1 %} </h1> {% else %} </h2> {% endif %}</h2>
                {% if(testo.val != "") %}
                    <p class="text_section align-center" data-aos="fade-in"
                       data-aos-duration="800">{{ testo.val|raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
