<div class="sezione citazioni">
    {% if quote_icon1.src|default("") %}
        <img class="quote left" src="{{ quote_icon1.src }}" alt="{{ quote_icon1.alt|default("") }}"/>
    {% endif %}
    <p data-aos="flip-left" data-aos-duration="1500" data-aos-delay="300">
        {{ citazione.val|raw }}
    </p>
    {% if quote_icon2.src|default("") %}
        <img class="quote right" src="{{ quote_icon2.src }}" alt="{{ quote_icon2.alt|default("") }}"/>
    {% endif %}
</div>