.sezione.citazioni {
  text-align: center;
  padding: 60px 0;
  position: relative;
  .quote {
    position: absolute;
  }
  .quote.left {
    left: 20px;
    top: 20px;
  }
  .quote.right {
    right: 20px;
    bottom: 20px;
  }
  p {
    margin: 0 20px;
    display: inline-block;
    padding: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .sezione.citazioni .quote {
    width: 40px;
  }
}
