{% if data.error %}
    {{ data.error }}
{% else %}
    {% if data.error %}
        {{ data.error }}
    {% else %}
        {% if data.error %}
            {{ data.error }}
        {% else %}
            {% if data.slides %}
                <div class="scroll-to-menu">
                    <div class="container-fluid">
                        <div class="row">
                            <ul>
                                {% for slide in data.slides %}
                                    <li>
                                        <a href="#{{ slide.slug }}">{{ slide.titolo }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% for slide in data.slides %}
                    {% if loop.index0 is odd %}
                        <div class="sezione box-doppio" id="{{ slide.slug }}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img-responsive">
                                        <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-text">
                                        <div class="box-testo">
                                            {% if slide.sottotitolo|default("") %}
                                                <h3>{{ slide.sottotitolo }}</h3>{% endif %}
                                            {% if slide.testo %}
                                                <p>
                                                    {{ slide.testo|raw }}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="sezione box-doppio-invertito" id="{{ slide.slug }}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-6 col-md-push-6 col-lg-6 col-lg-push-6 col-img-responsive">
                                        <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6 col-lg-6 col-lg-pull-6 col-text">
                                        <div class="box-testo">
                                            {% if slide.sottotitolo|default("") %}
                                                <h3>{{ slide.sottotitolo }}</h3>{% endif %}
                                            {% if slide.testo %}
                                                <p>
                                                    {{ slide.testo|raw }}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}