.sezione.box-doppio-gallery {
  background-color: $color4;
  .col-lg-7 {
    .slider-dx {
      height: 100%;
      div {
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .slick-dots {
        bottom: 15px;
        li button:before {
          font-size: 15px;
        }
      }
    }
  }
  .box-testo {
    text-align: center;
    padding: 15%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      margin-bottom: 80px;
    }
    h2 {
      color: $color1;
    }
    button {
      padding: 20px 30px;
    }
    p {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1199px) {
  .sezione.box-doppio-gallery .box-testo {
    padding: 30px;
    img {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    .sezione.box-doppio-gallery .col-lg-7, .sezione.box-doppio-gallery .col-lg-5 {
      height: 350px;
    }
    .sezione.box-doppio-gallery .box-testo {
      padding: 20px;
      img {
        margin-bottom: 10px;
        width: 60px;
      }
      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
