{% extends "admin/admin-list.html.twig" %}

{% block page_title %} {% trans %} order.labels.title{% endtrans %}: {% trans %} default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}
    <div class="btn-group" role="group">
        <a href="{{ path("order_stats") }}" class="btn btn-primary"><i class="fa fa-area-chart"></i> {% trans %}
                order.labels.statistiche {% endtrans %}
        </a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <table data-name="datatable" id="datatable" class="table table-striped table-bordered">
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/webtekecommerce/admin/js/order.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/webtekecommerce/admin/css/order.css') }}" rel="stylesheet">
{% endblock %}