{% extends "admin/admin.html.twig" %}

{% block title %} {% trans %} order.labels.title{% endtrans %}: {% trans %} order.labels.statistiche{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} order.labels.title{% endtrans %}: {% trans %} order.labels.statistiche{% endtrans %} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/webtekecommerce/admin/css/order.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendors/morris.js/morris.css') }}" rel="stylesheet">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/webtekecommerce/admin/js/order.js') }}"></script>
    <script src="{{ asset('admin/vendors/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/morris.js/morris.min.js') }}"></script>
{% endblock %}

{% block page_content %}
    <h2>{% trans %} order.labels.statistiche_annue{% endtrans %}</h2>
    <div id="ordini-annui" style="height: 250px;"></div>
    <h2>{% trans %} order.labels.statistiche_mensili{% endtrans %}</h2>
    <div id="ordini-mensili" style="height: 250px;"></div>
{% endblock %}