.box-card-left-separatore {
  position: relative;
  .box-separatore {
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    > div {
      width: 100%;
      background-color: $color4;
      padding-top: 50px;
    }
    img.bordo-bottom {
      width: 100%;
    }
  }
  .content {
    position: relative;
    .box-testo {
      background-color: rgba($color2, .8);
      position: absolute;
      text-align: center;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      .wrapper-testo {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 30px;
        .title {
          color: $color1;
          font-size: $font-size4;
          font-weight: $regular;
          font-style: italic;
          margin-bottom: 30px;
        }
        .text {
          line-height: 50px;
          font-size: $font-size3;
          color: $color4;
          font-weight: $regular;
          margin-bottom: 30px;
          strong {
            font-weight: $bold;
            color: $color1;
            font-style: italic;
          }
        }
        .btn-default {
          border-radius: 0;
          font-size: $font-size1;
          font-weight: $medium;
        }
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;'
    }
  }
}

@media screen and (max-width: 1549px) {
  .box-card-left-separatore {
    .box-separatore {
      > div {
        img {
        }
      }
    }
    .content {
      .box-testo {
        .wrapper-testo {
          .title {
            font-size: font-percentage($font-size4, 0.8);
            margin-bottom: 15px;
          }
          .text {
            line-height: 40px;
            font-size: font-percentage($font-size3, 0.8);
            margin-bottom: 15px;
          }
          .btn-default {
            font-size: font-percentage($font-size1, 0.9);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-card-left-separatore {
    .box-separatore {
      > div {
        img {
          height: 70px;
        }
      }
    }
    .content {
      .box-testo {
        width: 100%;
        height: auto;
        .wrapper-testo {
          position: relative;
          padding: 15px;
          .title {
            font-size: font-percentage($font-size4, 0.7);
            margin-bottom: 15px;
            margin-top: 0;
          }
          .text {
            line-height: 30px;
            font-size: font-percentage($font-size3, 0.7);
            margin-bottom: 15px;
          }
          .btn-default {
            padding: 10px 20px;
          }
        }
      }
      img {
        height: 500px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .box-card-left-separatore {
    .box-separatore {
      > div {
        img {
        }
      }
    }
    .content {
      .box-testo {
        .wrapper-testo {
          padding: 20px;
          .title {
            font-size: font-percentage($font-size4, 0.7);
            margin-bottom: 30px;
          }
          .text {
            line-height: 30px;
            font-size: font-percentage($font-size3, 0.8);
            margin-bottom: 20px;
          }
          .btn-default {
            font-size: font-percentage($font-size1, 0.8);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .box-card-left-separatore {
    .box-separatore {
      > div {
        img {
          height: 50px;
        }
      }
    }
    .content {
      .box-testo {
        .wrapper-testo {
          padding: 15px;
          .title {
            font-size: font-percentage($font-size4, 0.6);
            margin-bottom: 15px;
          }
          .text {
            line-height: 20px;
            font-size: font-percentage($font-size3, 0.6);
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
