<section class="box-card-left-separatore">
    <div class="container-fluid">
        <div class="row">
            <div class="box-separatore">
                <div>
                    <img src="{{ icona.src }}" alt="{{ icona.alt|default("") }}"/>
                </div>
                <img src="images/church/grafica/curva-bianca-sotto.png" class="bordo-bottom"/>
            </div>
            <div class="content">
                <div class="box-testo">
                    <div class="wrapper-testo">
                        <h3 class="title">{{ titolo.val }}</h3>
                        <p class="text">
                            {{ testo.val|raw }}
                        </p>
                        {% if link.link|default("") %}
                            <a href="{{ link.link }}" class="btn btn-default">{{ link.label }}</a>
                        {% endif %}
                    </div>
                </div>
                <img src="{{ image.src }}" alt="{{ image.alt|default("") }}" class="object-fit-image"/>
            </div>
        </div>
    </div>
</section>
