.sezione.box-doppio-logo-doppio {
  .col-lg-6 {
    height: 600px;
    display: table;
    .box-logo {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0 15%;
      .thumbnail {
        background-color: transparent;
        border: none;
        img {
          margin-bottom: 50px;
        }
        p {
          font-family: 'montserratlight';
          font-size: 16px;
          line-height: 28px;
          strong {
            font-family: 'montserratregular';
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .sezione.box-doppio-logo-doppio .col-lg-6 .box-logo {
    padding: 0 10%;
    .thumbnail {
      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione.box-doppio-logo-doppio .col-lg-6 .box-logo .thumbnail p {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .sezione.box-doppio-logo-doppio .col-lg-6 .box-logo {
    padding: 20px 5%;
    text-align: center;
    .thumbnail {
      p {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: 549px) {
  .sezione.box-doppio-logo-doppio .col-xs-6 {
    height: 300px;
  }
  .sezione.box-doppio-logo-doppio {
    .col-lg-6 {
      width: 100%;
    }
  }
}
