.title {
  text-align: center;
  margin-bottom: 40px;
  color: $color6;
  font-size: 24px;
  font-weight: 600;
}

.msg-reg {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.alert {
  background-color: $color2;
  background-image: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  margin-bottom: -20px;
  padding: 6px;
  .fa {
    color: white;
    margin-right: 10px;
  }
}

input {
  background-color: #e9e9e9;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  &:focus {
    box-shadow: none;
  }
}

.form-control {
  height: 50px;
  margin-bottom: 20px;
}

.psw-forgot {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  color: $color6;
  font-size: 14px;
  font-weight: 600;
}

.btn-main-submit {
  background-color: $color2;
  width: 100%;
  border-radius: 0;
  color: white;
  padding: 12px 5px;
  font-weight: 700;
  font-size: 14px;
  &.padded {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.grey {
    background-color: $color6;
  }
}