{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/newscat.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/newscat.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('admin/newscat/form.html.twig') }}
{% endblock %}