{% extends "admin/admin.html.twig" %}

{% use ":admin/layoutcontent:types.html.twig" %}

{% block title %} {% trans %} layoutcontent.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} layoutcontent.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} "{{ widget.name }}" {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/admin/css/layoutcontent.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/codemirror/lib/codemirror.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/codemirror/theme/dracula.css') }}" rel="stylesheet">
    <link href="{{ asset("node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.css") }}" rel="stylesheet">
    <link href="{{ asset('node_modules/jstree/dist/themes/default/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/filemanager.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">


{% endblock %}


{% block page_content %}

    <form method="post" class="form-horizontal form-label-left input_mask" enctype="multipart/form-data">

        <input type="hidden" id="id" value="{{ template.id }}"/>

        {% set hasMultilang = false %}
        {% set hasDatiGenerici = false %}

        {% for field in widget.meta.config %}
            {% if field.multilang %}
                {% set hasMultilang = true %}
            {% endif %}
            {% if not field.multilang %}
                {% set hasDatiGenerici = true %}
            {% endif %}
        {% endfor %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="text-danger">{% trans %} layoutcontent.labels.security {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label required" for="requiredRole">
                                {% trans %}layoutcontent.labels.required_role{% endtrans %}
                                <span class="required" title="This field is required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {% set selected = template.requiredRole %}
                                <select class="form-control" id="requiredRole" name="requiredRole">
                                    <option value="ROLE_SUPER_ADMIN"{% if selected == "ROLE_SUPER_ADMIN" %} selected{% endif %}>{% trans %}
                                            ROLE_SUPER_ADMIN{% endtrans %}</option>
                                    <option value="ROLE_ADMIN"{% if selected == "ROLE_ADMIN" %} selected{% endif %}>{% trans %}
                                            ROLE_ADMIN{% endtrans %}</option>
                                    <option value="ROLE_USER"{% if selected == "ROLE_USER" %} selected{% endif %}>{% trans %}
                                            ROLE_USER{% endtrans %}</option>
                                </select>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if hasDatiGenerici %}

            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans %} layoutcontent.labels.dati_generici {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    {% for field in widget.meta.config %}
                        {% if not field.multilang %}
                            {% set shortLocale = "it" %}
                            {% set id =  field.var %}
                            {% set indexField = "" %}
                            {% if field.allow_add is defined and field.allow_add %}
                                {% set indexField = "[0]" %}
                            {% endif %}

                            {% if field.type == "boolean" %}
                                {% set val = attribute(attribute(attribute(widget.config, shortLocale), field.var), "val") %}
                                {% block booleanField %}
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 col-xs-12 control-label{% if field.mandatory %} required{% endif %}"
                                                   for="{{ field.var }}">
                                                {{ field.label }}
                                                {% if field.mandatory %}
                                                    {% if field.mandatory %}
                                                        <span class="required"
                                                              title="This field is required">*</span>{% endif %}
                                                {% endif %}
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <select class="form-control" id="{{ field.var }}"
                                                        name="it[{{ field.var }}][val]">
                                                    <option value="0"{% if val == 0 %} selected{% endif %}>{% trans %}
                                                            default.labels.no{% endtrans %}</option>
                                                    <option value="1"{% if val == 1 %} selected{% endif %}>{% trans %}
                                                            default.labels.si{% endtrans %}</option>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endif %}
                            {% if field.type == "simpleText" %}
                                {% if indexField %}
                                    {% set dbData = attribute(widget.config, shortLocale) | default([]) %}
                                    {% set valori = attribute(dbData, field.var) | default(false) %}
                                    <div class="raggruppa">
                                        {% if valori %}
                                            {% for elemento in valori %}
                                                {% set val = elemento.val %}
                                                {% set indexField = "["~ loop.index0 ~"]" %}
                                                {{ block("simpleText") }}
                                            {% endfor %}
                                        {% else %}
                                            {% set val = "" %}
                                            {{ block("simpleText") }}
                                        {% endif %}
                                        <div class="row row-btn">
                                            <div class="col-md-9 col-md-offset-3">
                                                <a href="#" class="btn btn-primary btn-add-field btn-block"><i
                                                            class="fa fa-plus"></i> {% trans %}
                                                        layoutcontent.labels.aggiungi{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% set val = attribute(attribute(attribute(widget.config, shortLocale), field.var), "val") %}
                                    {{ block("simpleText") }}
                                {% endif %}
                            {% endif %}
                            {% if field.type == "simpleTextarea" %}
                                {% set val = attribute(attribute(attribute(widget.config, shortLocale), field.var), "val") %}
                                {% block simpleTextarea %}
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 col-xs-12 control-label{% if field.mandatory %} required{% endif %}"
                                                   for="{{ field.var }}">
                                                {{ field.label }}
                                                {% if field.mandatory %}
                                                    <span class="required" title="This field is required">*</span>
                                                {% endif %}
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <textarea class="simpleTA" id="{{ field.var }}"
                                                          name="{{ shortLocale }}[{{ field.var }}][val]"{% if field.mandatory %} required="required"{% endif %}
                                                          class="form-control">{{ val }}</textarea>
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endif %}

                            {% if field.type == "mediumText" %}
                                {% set val = attribute(attribute(attribute(widget.config, shortLocale), field.var), "val") %}
                                {% block mediumText %}
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 col-xs-12 control-label{% if field.mandatory %} required{% endif %}"
                                                   for="{{ field.var }}">
                                                {{ field.label }}
                                                {% if field.mandatory %}
                                                    <span class="required" title="This field is required">*</span>
                                                {% endif %}
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <textarea class="ck" type="text" id="{{ field.var }}"
                                                          name="{{ shortLocale }}[{{ field.var }}][val]"
                                                          required="required" class="form-control">{{ val }}</textarea>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endif %}

                            {% if field.type == "link" %}
                                {% if indexField %}
                                    {% set dbData = attribute(widget.config, shortLocale) | default([]) %}
                                    {% set valori = attribute(dbData, field.var) | default(false) %}
                                    <div class="raggruppa">

                                        {% if valori %}
                                            {% for dbData in valori %}
                                                {% set indexField = "["~ loop.index0 ~"]" %}
                                                {{ block("link") }}
                                            {% endfor %}
                                        {% else %}
                                            {{ block("link") }}
                                        {% endif %}
                                        <div class="row row-btn">
                                            <div class="col-md-9 col-md-offset-3">
                                                <a href="#" class="btn btn-primary btn-add-field btn-block"><i
                                                            class="fa fa-plus"></i> {% trans %}
                                                        layoutcontent.labels.aggiungi{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% set dbData = attribute(attribute(widget.config, shortLocale), field.var) %}
                                    {{ block("link") }}
                                {% endif %}
                            {% endif %}

                            {% if field.type =="image" %}
                                {% set vars = attribute(widget.meta.config, field.var) %}
                                {% if vars.tolerance is defined %}
                                    {% set tolerance = vars.tolerance %}
                                {% else %}
                                    {% set tolerance = 10 %}
                                {% endif %}
                                {% set dimensioni = attribute(vars, "dimensioni") %}
                                {% set typeOfFile = "image" %}
                                {% set hasAlt = true %}
                                {% set extensions = attribute(vars, "types") %}

                                {% if indexField %}
                                    {% set valori = attribute(attribute(widget.config, shortLocale), field.var)|default("") %}
                                    <div class="raggruppa">
                                        {% if valori %}
                                            {% for dbData in valori %}
                                                {% set indexField = "["~ loop.index0 ~"]" %}
                                                {% set preview = dbData.src | default('http://fpoimg.com/' ~ dimensioni) %}

                                                {{ block("file") }}
                                            {% endfor %}
                                        {% else %}
                                            {% set indexField = "[0]" %}
                                            {% set preview = 'http://fpoimg.com/' ~ dimensioni %}
                                            {{ block("file") }}
                                        {% endif %}
                                        <div class="row row-btn">
                                            <div class="col-md-9 col-md-offset-3">
                                                <a href="#" class="btn btn-primary btn-add-field btn-block"><i
                                                            class="fa fa-plus"></i> {% trans %}
                                                        layoutcontent.labels.aggiungi{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% set dbData = attribute( attribute(widget.config, shortLocale), field.var) %}
                                    {% set indexField = "" %}
                                    {% if not dbData.src %}
                                        {% set preview = 'http://fpoimg.com/' ~ dimensioni %}
                                    {% else %}
                                        {% set preview = dbData.src %}
                                    {% endif %}
                                    {{ block("file") }}
                                {% endif %}
                            {% endif %}
                            {% if field.type == "backgroundImage" %}
                                {% set widgetConfig = attribute(widget.config, shortLocale) %}
                                {% set dbData = attribute(widgetConfig, field.var) %}
                                {% set vars = attribute(widget.meta.config, field.var) %}
                                {% set extensions = attribute(vars, "types") %}
                                {% set dimensioni = attribute(vars, "dimensioni") %}
                                {% set typeOfFile = "image" %}
                                {% set hasAlt = false %}
                                {% if vars.tolerance is defined %}
                                    {% set tolerance = vars.tolerance %}
                                {% else %}
                                    {% set tolerance = 10 %}
                                {% endif %}
                                {% if not dbData.src %}
                                    {% set preview = 'http://fpoimg.com/' ~ dimensioni %}
                                {% else %}
                                    {% set preview = dbData.src %}
                                {% endif %}

                                {{ block("file") }}

                            {% endif %}
                            {% if field.type == "file" %}
                                {% set vars = attribute(widget.meta.config, field.var) %}
                                {% set typeOfFile = "file" %}
                                {% set hasAlt = false %}
                                {% set extensions = attribute(vars, "types") %}

                                {% if indexField %}
                                    {% set valori = attribute(attribute(widget.config, shortLocale), field.var)|default("") %}
                                    <div class="raggruppa">
                                        {% if valori %}
                                            {% for dbData in valori %}
                                                {% set indexField = "["~ loop.index0 ~"]" %}
                                                {{ block("file") }}
                                            {% endfor %}
                                        {% else %}
                                            {% set indexField = "[0]" %}
                                            {{ block("file") }}
                                        {% endif %}
                                        <div class="row row-btn">
                                            <div class="col-md-9 col-md-offset-3">
                                                <a href="#" class="btn btn-primary btn-add-field btn-block"><i
                                                            class="fa fa-plus"></i> {% trans %}
                                                        layoutcontent.labels.aggiungi{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% set dbData = attribute( attribute(widget.config, shortLocale), field.var) %}
                                    {% set indexField = "" %}
                                    {{ block("file") }}
                                {% endif %}
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endif %}

        {% if hasMultilang %}
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans %} layoutcontent.labels.dati_lingua {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <div class="tabbable">

                        <ul class="nav nav-tabs">
                            {% for shortLocale, locale in languages.getActiveLanguages %}
                                <li{% if loop.first %} class="active"{% endif %}>
                                    <a href="#" data-toggle="tab"
                                       data-target=".tab-pane-{{ shortLocale }}">
                                        {{ locale }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {% for shortLocale, locale in languages.getActiveLanguages %}
                                <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                                     class="tab-pane tab-pane-{{ shortLocale }}{% if loop.first %} active{% endif %}">
                                    {% set indexField = "" %}
                                    {% for field in widget.meta.config %}

                                        {% if field.multilang %}

                                            {% if field.type == "simpleText" %}
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-3 col-sm-3 col-xs-12 control-label{% if field.mandatory %} required{% endif %}"
                                                               for="{{ field.var }}_{{ shortLocale }}">
                                                            {{ field.label }}
                                                            {% if field.mandatory %}
                                                                <span class="required"
                                                                      title="This field is required">*</span>{% endif %}

                                                        </label>
                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                            <input type="text" id="{{ field.var }}_{{ shortLocale }}"
                                                                   name="{{ shortLocale }}[{{ field.var }}][val]"
                                                                   required="required" class="form-control"
                                                                   maxlength="256"
                                                                   value="{{ attribute(attribute(attribute(widget.config, shortLocale), field.var), "val") }}">
                                                        </div>
                                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if field.type == "mediumText" %}

                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-3 col-sm-3 col-xs-12 control-label{% if field.mandatory %} required{% endif %}"
                                                               for="{{ field.var }}_{{ shortLocale }}">
                                                            {{ field.label }}
                                                            {% if field.mandatory %}
                                                                <span class="required"
                                                                      title="This field is required">*</span>{% endif %}

                                                        </label>
                                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <textarea class="ck" type="text"
                                                      id="{{ field.var }}_{{ shortLocale }}"
                                                      name="{{ shortLocale }}[{{ field.var }}][val]"
                                                      required="required"
                                                      class="form-control">{{ attribute(attribute(attribute(widget.config, shortLocale), field.var), "val") }}</textarea>
                                                        </div>
                                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if field.type == "link" %}
                                                {% set dbData = attribute(attribute(widget.config, shortLocale), field.var) %}

                                                <div class="row">
                                                    <label class="col-md-3 col-sm-3 col-xs-12 control-label required"
                                                           for="page_form_translations_it_titolo">
                                                        {{ field.label }}
                                                        {% if field.mandatory %}
                                                            <span class="required"
                                                                  title="This field is required">*</span>{% endif %}

                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12 row ">
                                                        <div class="col-md-6">
                                                            <input type="text"
                                                                   id="{{ field.var }}_{{ shortLocale }}_link"
                                                                   name="{{ shortLocale }}[{{ field.var }}][link]"
                                                                   required="required" class="form-control"
                                                                   maxlength="256"
                                                                   value="{{ attribute(dbData, "link") }}">
                                                            <div class="help-block">
                                                                {% trans %}layoutcontent.help.link{% endtrans %}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text"
                                                                   id="{{ field.var }}_{{ shortLocale }}_label"
                                                                   name="{{ shortLocale }}[{{ field.var }}][label]"
                                                                   required="required" class="form-control"
                                                                   maxlength="256"
                                                                   value="{{ dbData.label | default("") }}">
                                                            <div class="help-block">
                                                                {% trans %}layoutcontent.help.link_label{% endtrans %}
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            {% endif %}

                                            {% if field.type == "backgroundImage" %}
                                                {% set widgetConfig = attribute(widget.config, shortLocale) %}
                                                {% set dbData = attribute(widgetConfig, field.var) %}
                                                {% set vars = attribute(widget.meta.config, field.var) %}
                                                {% set extensions = attribute(vars, "types") %}
                                                {% set dimensioni = attribute(vars, "dimensioni") %}
                                                {% set typeOfFile = "image" %}
                                                {% set hasAlt = false %}
                                                {% if vars.tolerance is defined %}
                                                    {% set tolerance = vars.tolerance %}
                                                {% else %}
                                                    {% set tolerance = 10 %}
                                                {% endif %}
                                                {% if not dbData.src %}
                                                    {% set preview = 'http://fpoimg.com/' ~ dimensioni %}
                                                {% else %}
                                                    {% set preview = dbData.src %}
                                                {% endif %}

                                                {{ block("file") }}

                                            {% endif %}

                                            {% if field.type == "file" %}
                                                {% set widgetConfig = attribute(widget.config, shortLocale) %}
                                                {% set dbData = attribute(widgetConfig, field.var) %}
                                                {% set vars = attribute(widget.meta.config, field.var) %}
                                                {% set extensions = attribute(vars, "types") %}
                                                {% set dimensioni = attribute(vars, "dimensioni") %}
                                                {% set typeOfFile = "file" %}
                                                {% set hasAlt = false %}
                                                {% if vars.tolerance is defined %}
                                                    {% set tolerance = vars.tolerance %}
                                                {% else %}
                                                    {% set tolerance = 10 %}
                                                {% endif %}

                                                {{ block("file") }}

                                            {% endif %}

                                            {% if field.type =="image" %}
                                                {% set widgetConfig = attribute(widget.config, shortLocale) %}
                                                {% set dbData = attribute(widgetConfig, field.var) %}
                                                {% set vars = attribute(widget.meta.config, field.var) %}
                                                {% set extensions = attribute(vars, "types") %}
                                                {% set typeOfFile = "image" %}
                                                {% set dimensioni = attribute(vars, "dimensioni") %}
                                                {% set hasAlt = true %}
                                                {% if vars.tolerance is defined %}
                                                    {% set tolerance = vars.tolerance %}
                                                {% else %}
                                                    {% set tolerance = 10 %}
                                                {% endif %}
                                                {% if not dbData.src %}
                                                    {% set preview = 'http://fpoimg.com/' ~ dimensioni %}
                                                {% else %}
                                                    {% set preview = dbData.src %}
                                                {% endif %}

                                                {{ block("file") }}

                                            {% endif %}

                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>

        {% endif %}

        {% if is_granted('ROLE_MANAGE_COLORS') and scssVariables %}

            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans %} layoutcontent.labels.aspetto_grafico {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="col-md-4">

                        {% for tipo, variabili in scssVariables %}

                            {% for variabile, selector in variabili %}

                                {% set selected = variabile %}
                                {% if scssConfig %}
                                    {% if attribute(scssConfig, variabile) | default("") %}
                                        {% set selected = attribute(scssConfig, variabile) %}
                                    {% endif %}
                                {% endif %}

                                <strong>{{ selector }} </strong>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-6 col-sm-6 col-xs-12 control-label required">
                                            <span class="required" title="This field is required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="hidden" name="scssVars[{{ variabile }}]"
                                                   value="{{ selected }}"/>
                                            <div class="dropdown" data-value="{{ variabile }}">
                                                <button class="btn btn-default dropdown-toggle" type="button"
                                                        data-toggle="dropdown"
                                                        {% if tipo == "colori" %}
                                                    style="background-color:{{ attribute(colors, selected) | default("#fff") }}"
                                                        {% endif %}>
                                                    {{ selected }}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    {% if tipo == "colori" %}
                                                        {% for var,hex in colors %}
                                                            <li><a href="#">
                                                                    <i style="background-color:{{ hex }}"></i>
                                                                    <span class="var">{{ var }}</span>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if tipo == "textsize" %}
                                                        {% for var,size in textsize %}
                                                            <li>
                                                                <a href="#">
                                                                    <span class="var"
                                                                          style="font-size: {{ size }};">{{ var }}</span>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if tipo == "fontweight" %}
                                                        {% for var,weight in fontweight %}
                                                            <li>
                                                                <a href="#">
                                                                    <span class="var"
                                                                          style="font-weight: {{ weight }};">{{ var }}</span>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            {% endfor %}

                        {% endfor %}

                    </div>

                    <div class="col-md-8">
                        <label>{% trans %}layoutcontent.labels.preview{% endtrans %}</label>
                        <iframe id="preview" srcdoc='
                        <html>
                            <head>
                            {% if moduleAssets.css is defined %}
                                {% for css in moduleAssets.css %}
                                    <link rel="stylesheet" type="text/css" href="{{ css }}">
                                {% endfor %}
                            {% endif %}
                            <link rel="stylesheet" type="text/css" href="/public/css/{{ generali.layout }}/style.min.css" />
                            <style id="onTheFlyStyle">
                            {{ widget.css }}
                            </style>
                            </head>
                            <body>
                            {{ widget.out.it | raw }}
                            {% if moduleAssets.js is defined %}
                                {% for js in moduleAssets.js %}
                                    <script src="{{ js }}"></script>
                                {% endfor %}
                            {% endif %}
                            </body>
                        </html>'>
                        </iframe>
                        <label>{% trans %}layoutcontent.labels.scss{% endtrans %}</label>
                        <textarea id="scss">{{ scss }}</textarea>
                        <label>{% trans %}layoutcontent.labels.twig{% endtrans %}</label>
                        <textarea id="twig">{{ twig }}</textarea>
                    </div>

                </div>
            </div>
        {% endif %}

        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

            <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
                    default.labels.salva {% endtrans %}</button>

            <a href="{{ path('layoutcontent') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                    default.labels.chiudi {% endtrans %}</a>
        </div>

    </form>

    <script type="text/x-handlebars-template" id="fileManagerTemplate">

        {{ include(":admin/filemanager:filemanager-core.html.twig") }}


    </script>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('node_modules/codemirror/lib/codemirror.js') }}"></script>
        <script src="{{ asset('node_modules/codemirror/mode/css/css.js') }}"></script>
        <script src="{{ asset('node_modules/codemirror/mode/xml/xml.js') }}"></script>
        <script src="{{ asset('node_modules/codemirror/mode/javascript/javascript.js') }}"></script>
        <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
        <script src="{{ asset('node_modules/jstree/dist/jstree.min.js') }}"></script>
        <script src="{{ asset('bundles/app/admin/js/lightbox-dblclick.js') }}"></script>
        <script src="{{ asset('node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.js') }}"></script>
        <script src="{{ asset('node_modules/dropzone/dist/dropzone.js') }}"></script>
        <script src="{{ asset('bundles/app/admin/js/filemanager.logic.js') }}"></script>
        <script src="{{ asset('bundles/app/admin/js/layoutcontent.js') }}"></script>

    {% endblock %}
