{% block simpleText %}
    <div class="row row-field">
        <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 control-label{% if field.mandatory %} required{% endif %}"
                   for="{{ field.var }}">
                {{ field.label }}
                {% if field.mandatory %}
                    <span class="required" title="This field is required">*</span>
                {% endif %}
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <input type="text" id="{{ id }}"
                       name="{{ shortLocale }}[{{ field.var }}]{{ indexField }}[val]"{% if field.mandatory %} required="required"{% endif %}
                       class="form-control" maxlength="256" value="{{ val }}">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-12">
                {% if indexField %}
                    <a href="#" class="btn btn-danger btn-remove-array-element btn-block"><i
                                class="fa fa-trash"></i></a>
                {% endif %}
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block file %}
    <div class="row row-image row-field" style="margin-bottom:0.5em;"
         data-dimensioni="{{ dimensioni }}" data-extensions="{{ extensions|join(',') }}"
         data-tolerance="{{ tolerance }}">
        <div class="row">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-12 control-label{% if field.mandatory %} required{% endif %}"
                       for="{{ field.var }}">
                    {{ field.label }}
                    {% if field.mandatory %}
                        <span class="required"
                              title="This field is required">*</span>{% endif %}

                </label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-success btn-browse">Browse</span>
                        </label>
                        <input type="text" class="form-control"
                               id="{{ field.var }}"
                               name="{{ shortLocale }}[{{ field.var }}]{{ indexField }}[src]"
                               readonly
                               value="{{ attribute(dbData, "src") |default("") }}">
                        <span class="input-group-addon btn-danger delFileAttachment"><i
                                    class="fa fa-trash"></i></span>
                    </div>
                    <div class="help-block">
                        {% trans %}layoutcontent.help.image{% endtrans %}
                    </div>
                    {% if hasAlt %}
                        <input type="text" id="{{ field.var }}_alt"
                               name="{{ shortLocale }}[{{ field.var }}]{{ indexField }}[alt]"
                               required="required"
                               class="form-control img-alt" maxlength="256"
                               value="{{ attribute(dbData, "alt")| default("") }}">
                        <div class="help-block">
                            {% trans %}
                                layoutcontent.help.image_alt{% endtrans %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    {% if typeOfFile == "image" %}
                        <img class="img-responsive" src="{{ preview }}"
                             alt="{{ attribute(dbData, "alt")| default("") }}"/>
                    {% endif %}
                </div>
                <div class="col-md-1 col-sm-1 col-xs-2">
                    {% if indexField %}
                        <a href="#" class="btn btn-danger btn-remove-array-element btn-block"><i
                                    class="fa fa-trash"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block link %}
    <div class="row row-field">
        <label class="col-md-3 col-sm-3 col-xs-12 control-label{% if field.mandatory %} required{% endif %}"
               for="{{ field.var }}">
            {{ field.label }}
            {% if field.mandatory %}
                <span class="required"
                      title="This field is required">*</span>{% endif %}

        </label>
        <div class="col-md-9 col-sm-9 col-xs-12 row ">
            <div class="col-md-6">
                <input type="text" id="{{ field.var }}_link"
                       name="{{ shortLocale }}[{{ field.var }}]{{ indexField }}[link]" required="required"
                       class="form-control" maxlength="256"
                       value="{{ attribute(dbData, "link") | default("") }}">
                <div class="help-block">
                    {% trans %}layoutcontent.help.link{% endtrans %}
                </div>
            </div>
            <div class="col-md-5">

                {% set label = dbData.label | default("") %}

                <input type="text" id="{{ field.var }}_label"
                       name="it[{{ field.var }}]{{ indexField }}[label]" required="required"
                       class="form-control" maxlength="256" value="{{ label }}">
                <div class="help-block">
                    {% trans %}layoutcontent.help.link_label{% endtrans %}
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2">
                {% if indexField %}
                    <a href="#" class="btn btn-danger btn-remove-array-element btn-block"><i
                                class="fa fa-trash"></i></a>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
