{% extends "admin/admin-list.html.twig" %}

{% block page_title %} Gestione operatori {% endblock %}

{% block pulsantiera %}
    <div class="btn-group" role="group">
        <a data-name="nuovo" href="{{ path("operatori_new") }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuovo</a>
    </div>
{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <table data-name="datatable" id="datatable" class="table table-striped table-bordered">
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/admin/js/operatori.js') }}"></script>
{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('bundles/app/admin/css/operatori.css') }}" rel="stylesheet">
{% endblock %}