<section class="menu-laterale">
    <div class="mobileWrap mobile">

        <h1 class="mobile">Area Clienti</h1>
        <select class="mobile menuSelectMobile">
            {% for cat in data.menu %}
                <option {% if cat.active %} selected
                                            {% endif %}value="{% if cat.url is defined %}{{ cat.url }}{% else %}{{ to_route(cat.route) }}{% endif %}">{{ cat.titolo }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="headMenu">
        <h2 class="titoloMenu">{{ data.currentPage }}</h2>
    </div>
    <div class="bodyMenu">

        <ul class="lista-categorie">
            {% for cat in data.menu %}
                <li>
                    <a {% if cat.active %}class="active"
                       {% endif %}href="{% if cat.url is defined %}{{ cat.url }}{% else %}{{ to_route(cat.route) }}{% endif %}">{{ cat.titolo }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
