.item {
    cursor: pointer;
}

.item img {
    margin: auto;
    max-height: 150px;
    cursor: pointer;
}

.item a {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.item em {
    position: absolute;
    right: 1px;
    bottom: 1px;
    padding: 0.2em;
    background-color: #cecece;
    border: 1px solid #000;
    color: #000;
}

.item i {
    display: inline-block;
    color: #fff;
    background-color: #f00;
    left: 1px;
    top: 1px;
    padding: 3px;
    position: absolute;
    font-size: 1.2em;
}

.item p {
    font-size: 1.1em;
}

#drop {
    width: 400px;
    height: 300px;
    border: 2px dashed firebrick;
}

.thumbcover {
    width: 100%;
    background-size: cover;
    position: relative;
}

.item {
    border: 1px solid #fff;
}

.selected {
    border: 1px solid #0000cc;
}

.selected p {
    background-color: #0000cc;
    color: #fff;
}

.panel-tree {
    overflow: auto;
}