.img-container {
    min-height: 500px;
}

.btn-group.btn-block {
    display: table;
}

.btn-group.btn-block > .btn {
    display: table-cell;
}

.btn-image {
    width: 100%;
}

.thumbnail {
    margin: auto;
}

.image-box {
    background-color: #fff;
    margin-bottom: 1em;
}

.frame {
    padding: 1em;
    border: 1px solid #cecece;
    border-radius: 0.4em;
}

.frame p {
    margin-top: 0.5em;
    height: 3em;
    display: block;
    overflow: hidden;
}

.image-box img {
    height: 15em;
    max-width: 100%;
}

.boxImg {
    border: 1px solid #cecece;
}

.img-thumb {
    height: 15em;
    background-size: cover;
    background-position: center center;
    border: 1px solid #cecece;
    border-radius: 5px;
}

.warning {
    position: absolute;
    color: #f00;
    font-size: 2em;
    background-color: #fff;
    padding: 0 0.2em;
    border: 1px solid #f00;
    border-top-left-radius: 5px;
}

.handle {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: #fff;
    font-size: 2em;
    background-color: #42484f;
    padding: 0 0.2em;
    cursor: move;
    border: 1px solid #42484f;
    border-top-right-radius: 5px;
}

.helper {
    border: 2px dashed #42484f;
    height: 24em;
    border-radius: 5px;
}