.dropdown-menu li a i {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    display: block;
    float: left
}

.dropdown-menu li a {
    line-height: 20px
}

.dropdown-menu li {
    line-height: 20px
}

.dropdown button {
    width: 100%
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto !important;
    margin-bottom: 1em
}

#preview {
    border: 2px solid #000;
    margin-bottom: 1em;
    width: 100%
}

.simpleTA {
    height: 400px;
    width: 100%
}

.row-field, .raggruppa {
    margin-bottom: 1em;
}
