.module {
    border: 1px solid #cecece;
    margin: .4em 0;
    padding: .4em;
    background-color: #fff
}

.elencoModuli {
    height: 60em;
    overflow: auto
}

.even {
    background-color: #2a3f54;
    color: #e7e7e7
}

.even p {
    color: #e7e7e7
}

.btn-container {
    padding-right: 0;
    position: relative;
    height: 10.6em
}

.btn-container .btn {
    margin-right: 0
}

.btn-container .btn-remove-module {
    position: absolute;
    bottom: 0;
    right: 0
}

.btn-container .btn-edit {
    position: absolute;
    bottom: 52px;
    right: 0
}

#contentContainer .module {
    background-color: #fff
}

.ui-state-highlight {
    background-color: #d9d9d9;
    border: 2px dotted #baca42;
    height: 11em
}

.btn-move {
    margin: 0;
    float: right
}

.btn-template {
    margin-bottom: .4em
}