.big-slider-home {
  .slick-slider {
    margin-bottom: 0;
    overflow: hidden;
  }
  .col-xs-12 {
    padding: 0;
  }
  .slick-slide img {
    width: 100%;
  }
  .scroll_button {
    @media(max-width: 767px) {
      display: none;
    }
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    left: 0;
    a span {
      position: absolute;
      top: -45px;
      left: 50%;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border: 3px solid $color3;
      border-radius: 100%;
      box-sizing: border-box;
      z-index: 8;
      bottom: 60px;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 41px;
        height: 41px;
        box-shadow: 0 0 0 0 $color3;
        border-radius: 100%;
        opacity: 0;
        -webkit-animation: sdb03 2s infinite;
        animation: sdb03 2s infinite;
        box-sizing: border-box;
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 3px solid $color3;
        border-bottom: 3px solid $color3;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
      }
    }
  }
  .slick-prev, .slick-next {
    z-index: 80;
    width: auto;
    height: auto;
    &::before {
      font-family: 'Glyphicons Halflings';
      font-size: 32px;
      color: $color2;
    }
  }
  .slick-prev {
    left: 10px;
    &::before {
      content: "\e257";
    }
  }
  .slick-next {
    right: 10px;
    &::before {
      content: "\e258";
    }
  }
  .slick-dots {
    width: auto !important;
    left: 40px;
    top: 50%;
    bottom: auto;
    //transform: rotate(90deg);
  }
  .slick-dots li {
    width: 8px;
    display: block;
    button {
      width: 20px;
    }
    button:before {
      background-color: #c7bcb3 !important;
      width: 8px !important;
      height: 8px !important;
      border-width: 0 !important;
    }
    &.slick-active {
      button:before {
        background-color: transparent !important;
        border-color: $color3;
        border-width: 2px !important;
        width: 12px !important;
        height: 12px !important;
        margin-left: -2px;
      }
    }
  }
  .slick-dots li button:before {
    font-size: 18px !important;
    content: '' !important;
    width: 12px;
    opacity: 1;
    height: 12px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #9d9d9d;
  }
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}