<div class="sezione social">
    <h4>
        {{ titolo.val|default("") }}
        {% if social1.link|default("") %}
            <a href="{{ social1.link }}" target="_blank">{% if social1_img.src|default("") %}
                    <img src="{{ social1_img.src }}" alt="{{ social1_img.alt|default("") }}">{% endif %}</a>
        {% endif %}
        {% if social2.link|default("") %}
            <a href="{{ social2.link }}" target="_blank">{% if social2_img.src|default("") %}
                    <img src="{{ social2_img.src }}" alt="{{ social2_img.alt|default("") }}">{% endif %}</a>
        {% endif %}
        {% if social3.link|default("") %}
            <a href="{{ social3.link }}" target="_blank">{% if social3_img.src|default("") %}
                    <img src="{{ social3_img.src }}" alt="{{ social3_img.alt|default("") }}">{% endif %}</a>
        {% endif %}
    </h4>
</div>