<section class="image_with_background_image" style="background-image:url('{{ bg.src }}');">
    <div class="container-fluid">
        <div class="overlay_video">
        </div>
        <img class="center-img img-responsive" src="{{ img.src }}" alt="{{ img.alt|default("") }}">
        <div id="scroll_button">
            <a href="{{ id_sezione.link }}" title="{{ id_sezione.label }}"><span></span></a>
        </div>
    </div>
</section>
