<ul class="firstMenu menuCategorieMobile">
    {% for cat in data.categorie %}

        <li>
            <a class="nome-cat-primaria" href="#sub_{{ cat.id }}">{{ cat.name|upper }}<span
                        class="glyphicon glyphicon-menu-right"
                        aria-hidden="true"></span></a>
            {#{% if cat.children|length %}#}
            {#<div class="submenu">#}
            {#<div class="container-limitato container-fluid">#}
            {#<div class="row">#}
            {#{% for child in cat.children %}#}
            {#{% set url=to_route("categoria_ecommerce",{"slug":cat.slug ~ "/" ~ child.slug }) %}#}

            {#<div class="col-lg-2 col-md-4 col-sm-2 categoria-box">#}
            {#<div class="img-categoria-wrap">#}
            {#<a href="{{ url }}" rel="nofollow"><img#}
            {#src="{{ asset(child.listImg) }}"></a>#}
            {#</div>#}
            {#<a class="nome-categoria" href="{{ url }}">{{ child.name|upper }}</a>#}
            {#</div>#}
            {#{% endfor %}#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#{% endif %}#}
        </li>
    {% endfor %}
</ul>