$color2: #F39200 !default;
$color3: #878787 !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.totalCount {
  text-align: right;
  strong {
    color: $color2;
  }
}

.lista-prodotti-4col, .lista-prodotti-3col {
  margin-top: 10px;
  margin-bottom: 40px;
  .colonna-prodotto:first-child {
    padding-left: 15px;
  }
  .colonna-prodotto:last-child {
    padding-right: 15px;
  }
  .colonna-prodotto {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 14px;
  }
  .box-prodotto {
    text-align: center;
    border: 1px solid $color5;
    padding: 16px;
    .marca {
      font-size: 14px;
      font-weight: 600;
      color: $color3;
      margin-bottom: 10px;
    }
    .nome-prodotto {
      font-size: 14px;
      font-weight: 600;
      color: $color6;
      margin-bottom: 10px;
      margin-top: 0;
    }
    .prezzo {
      font-size: 26px;
      font-weight: 600;
      color: $color2;
      margin-bottom: 20px;
    }
    .wishlist-button {
      display: inline-block;
    }
    .pulsanti {
      padding-left: 10%;
      padding-right: 10%;
    }
    .acquista-button {
      margin-right: 1%;
    }
    .wishlist-button {
      margin-left: 1%;
      background-color: $color7;
    }
    .acquista-button, .wishlist-button {
      font-size: 14px;
      font-weight: 800;
      width: 48%;
      float: left;
      padding-left: 0;
      padding-right: 0;
    }
    .img-prodotto-wrap {
      height: 200px;
      text-align: center;
      width: 100%;
      font: 0/0 a;
      margin-bottom: 10px;
    }
    .img-prodotto-wrap:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle; /* vertical alignment of the inline element */
      height: 100%;
    }
    .img-prodotto {
      margin-bottom: 10px;
      text-align: center;
      max-height: 100%;
      max-width: 100%;
      width: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media(max-width: 540px) {
    .colonna-prodotto {
      width: 100%;
    }
  }
}