{% set News = data.News %}
{% if News %}
    {% if News.ListImgFileName|default("") %}
        {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
        {% set imgAlt = News.HeaderImgAlt %}
    {% else %}
        {% set img = "/images/defaults/placeholder.png" %}
        {% set imgAlt = News.translate(app.request.locale).titolo %}
    {% endif %}

    <div class="copertina">
        <img src="{{ asset(img) | imagine_filter('news2') }}" alt="{{ News.listImgAlt }}"/>
        <div class="info">
            <div class="btn btn-default">
                <p>{{ blogService.getDateFormat(News, 'd') }}</p>
                <span>{{ blogService.getDateFormat(News, '%b') }}<br></span>
                <span>{{ blogService.getDateFormat(News, 'Y') }}</span>
            </div>
            <div class="category">
                <a href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">{{ blogService.getCategory(News, app.request.locale).titolo }}</a>
            </div>
        </div>
    </div>
{% endif %}