.copertina {
  height: 600px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    .btn {
      padding: 5px 40px;
      cursor: auto;
      p {
        font-size: 40px;
      }
    }
    .category {
      background-color: $color3;
      color: $color4;
      text-align: center;
      padding: 10px 0;
      margin-top: 10px;
    }
    .category a {
      color: $color4;
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.main-blog .left-blog .col-lg-8 .copertina {
    height: 250px;
  }
  .sezione.main-blog .left-blog .col-lg-8 .copertina .info .btn {
    padding: 5px 20px;
    p {
      font-size: 20px;
      margin-bottom: 0;
    }
    span {
      font-size: 10px;
    }
  }
  .sezione.main-blog .left-blog .col-lg-8 .copertina .info .category {
    font-size: 10px;
  }
}