<div class="sezione citazione"{% if logo.src|default("") %} style="background-image:url('{{ logo.src }}');"{% endif %}>
    <div class="container">
        <div class="row">
            <img class="quote left" src="{{ asset('images/chalet/Cit.png') }}" alt="">
            {% if slogan.val|default("") %}
                <h3>{{ slogan.val }}</h3>{% endif %}
            <img class="quote right" src="{{ asset('images/chalet/Cit1.png') }}" alt="">
        </div>
    </div>
</div>