{% use "admin/translation/input_lang.html.twig" %}

{% extends "admin/admin-list.html.twig" %}

{% block page_title %} {% trans %} translation.labels.title{% endtrans %}: {% trans %} default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-primary btn-translation-new"><i class="fa fa-plus"></i> {% trans %}
                default.labels.nuovo {% endtrans %}
        </a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <table data-name="datatable" id="datatable" class="table table-striped table-bordered"
                   data-langs='{{ langs }}'>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("node_modules/jquery-form/dist/jquery.form.min.js") }}"></script>
    <script src="{{ asset('admin/js/jquery.jeditable.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/requirejs/require.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/translation.js') }}"></script>
{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('bundles/app/admin/css/translation.css') }}" rel="stylesheet">


{% endblock %}


{% block modals %}

    <script type="text/x-handlebars-template" id="newTranslationKeyTemplate">


        <div id="newTranslationKey" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title text-info">{% verbatim %}{{ titolo }}{% endverbatim %}</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ path('translation_save') }}">

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-12 control-label required"
                                           for="translation_id">{% trans %}translation.label.translation_id{% endtrans %}
                                        <span class="required" title="This field is required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" id="translation_id" name="translation_id" required="required"
                                               class="form-control" value="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                        {% trans %} translation.help.formato_id {% endtrans %}
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            {% for lang in languages %}
                                {{ block('input') }}
                            {% endfor %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa fa-close"></i> {% trans %}default.labels.annulla{% endtrans %}</button>
                        <button type="button" class="btn btn-success btn-confirm">
                            <i class="fa fa-save"></i> {% trans %}default.labels.salva{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>

    </script>
{% endblock %}