<section class="two_blocks_text_image_right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col_text" data-aos="fade-right" data-aos-duration="1000">
                <div class="wrapper_text">
                    <h2 class="title_section">{{ titolo.val|raw }}</h2>
                </div>
            </div>
            <div class="col-md-6 col_img" data-aos="fade-left" data-aos-duration="1000">
                <img class="img-responsive img_right" src="{{ immagine.src }}">
            </div>
        </div>
    </div>
</section>
