{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/appartamenti/admin/css/servizi.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appartamenti/admin/js/servizi.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('@Tag/Tag/form.html.twig') }}
{% endblock %}