<ul class="nav navbar-nav">
    {% for menu in data.menu %}
        <li><a {% if menu.active %} class="active"{% endif %} href="{{ menu.slug }}">{{ menu.titolo|upper }}</a></li>
    {% endfor %}
</ul>