$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color3: #878787 !default;
$color4: #C9C9C9 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;
$color8: #717078 !default;
$color9: #a0a0a0 !default;
$color10: #FAFAFA !default;
$color11: #949494 !default;
$color12: #595959 !default;
$color13: #d2d2d2 !default;
$color14: #f39200 !default;
$color15: #8d8d8d !default;
$color16: #bdbdbd !default;
$color17: #F9F9F9 !default;
$color18: #F4F4F4 !default;
$color19: #b9b9b9 !default;
$color20: #53c76e !default;
$color21: #787878 !default;
$color22: #EFEFEF !default;
$color23: #585858 !default;
$color24: #f7f7f7 !default;
$color25: #f0f0f0 !default;
$color26: #BFBFBF !default;

.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.prodotto-main {

  .social-link {
    vertical-align: middle;
  }
  .wrap-square {
    padding-bottom: 100%;
    width: 100%;
    position: relative;
    border: 1px solid $color5;
  }
  .marchioH3 {
    h3 {
      display: inline;
      font-size: inherit;
    }
  }
  .share-box {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-left: 10px;
      li {
        display: inline-block;
      }
    }
  }
  .nome-prodotto-main {
    font-size: 30px;
    color: $color6;
    margin-bottom: 20px;
    line-height: 40px;
  }
  .descrizione-prodotto, .descrizione-prodotto p {
    font-size: 14px;
    font-weight: 300;
    color: $color3;
  }
  .tabs-prodotto {
    margin-top: 40px;
    li {
      border-color: $color5;
      &.active a {
        color: $color6;
      }
      a {
        font-size: 14px;
        font-weight: 700;
        color: $color3;
      }
      a:hover {
        background-color: white;
        color: $color6;
      }
    }
    li:focus {
      outline: 0;
      box-shadow: none;
    }

  }
  .tab-content-prodotto {
    border-left: 1px solid $color5;
    border-right: 1px solid $color5;
    border-bottom: 1px solid $color5;
    margin-bottom: 40px;
    .tab-pane {
      padding: 40px 20px;
      padding-bottom: 30px;
    }
  }
  .sezione-prodotto {
    .disponibilita {
      float: left;
      font-size: 14px;
      font-weight: bold;
      color: $color20;
      text-transform: uppercase;
      &.disabled {
        color: red;
      }
    }
    .promo-spedizione {
      float: right;
      font-size: 14px;
      font-weight: 600;
      color: $color3;
      img {
        margin-right: 10px;
      }
      strong {
        color: $color2;
        font-weight: 600;
      }
    }
    .prezzo {
      font-size: 35px;
      font-weight: 600;
      color: $color6;
      float: left;
    }
    .wishlist-add {
      float: right;
      cursor: pointer;
      margin-top: 7px;
      span {
        font-size: 34px;
      }
      &.active span::before {
        content: "\e900";
        color: $color2;
      }
    }
    .quantita {
      width: 80px;
      margin-right: 10px;
      padding-left: 24px;
      padding-bottom: 2px;
      padding-top: 2px;
    }
    .acquista-button {
      font-size: 18px;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      &.disabled {
        background-color: grey;
        cursor: not-allowed;
      }
    }
  }
  .box-varianti {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    li {
      display: inline-block;
      margin-right: 5px;
      cursor: pointer;
    }
    .notAvailable {
      opacity: 0.5;
      cursor: not-allowed;
      &:focus, &:hover {
        background-color: transparent !important;
        color: $color19 !important;
        border: 1px solid $color5;
      }
    }
    .variante-colore {
      width: 30px;
      height: 30px;
    }
    .variante-taglia .attributeSelected {
      background-color: $color2;
      color: white;
      border-color: transparent;
      font-weight: 600;
    }
    .variante-taglia a {
      border: 1px solid $color5;
      padding: 4px 7px;
      height: 30px;
      display: table;
      text-align: center;
      vertical-align: middle;
      color: $color19;
      &:hover {
        text-decoration: none;
        background-color: #484848;
        border-color: transparent;
        color: white;
      }
      &:focus {
        background-color: $color2;
        color: white;
        border-color: transparent;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  .sezione-prodotto {
    padding: 20px 0;
    border-top: 1px solid $color5;
    list-style: none;
    font-size: 17px;
    li {
      color: $color19;
      margin-bottom: 5px;

      strong, > a {
        color: $color3;
        font-weight: 400;
      }
    }
  }
  .slider-img-prodotto {
    a {

      padding: 5px;
      transition: 200ms;
      opacity: 0.85;
      &:hover {
        opacity: 1;
        transition: 200ms;
      }
      &:focus {
        outline: none;
        opacity: 1;
      }
      .wrap {
        position: relative;
        width: 100%;
        height: 150px;
        text-align: center;
        font: 0/0 a;
        &::before {
          content: ' ';
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
      }
      img {
        text-align: center;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .img-prodotto-big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;

    max-width: 100%;
    font: 0/0 a;

    //&::before {
    //  content: " ";
    //  display: inline-block;
    //  vertical-align: middle;
    //  height: 100%;
    //}
    //img {
    //  margin-bottom: 10px;
    //  text-align: center;
    //  max-height: 100%;
    //  max-width: 100%;
    //  width: auto;
    //  display: inline-block;
    //  vertical-align: middle;
    //}

  }

  @media(max-width: 1250px) {

    .nome-prodotto-main {
      font-size: 24px;
      line-height: 28px;
    }
    .sezione-prodotto .prezzo {
      font-size: 30px;
    }
  }
  @media(max-width: 991px) {
    .wrap-square {
      padding-bottom: 50%;
    }
  }

  @media(max-width: 767px) {
    .mobileHelp {
      margin-top: 20px;
    }
  }

}



