<section class="titolo3ImgWithLinks" style="background-image:url('{{ bg_img.src }}')">
    <div class="container-fluid">
        <h3 class="title_section align-center">{{ titolo.val|raw }}</h3>
        <div class="row elementi">
            <div class="col-md-4">
                <a href="{{ link1.link }}" rel="nofollow">
                    <img class="img-responsive" alt="{{ img1.alt|default("") }}"
                         src="{{ img1.src }}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ link2.link }}" rel="nofollow">
                    <img class="img-responsive" alt="{{ img2.alt|default("") }}"
                         src="{{ img2.src }}">
                </a>
            </div>
            <div class="col-md-4 ">
                <a href="{{ link3.link }}" rel="nofollow">
                    <img class="img-responsive" alt="{{ img3.alt|default("") }}"
                         src="{{ img3.src }}">
                </a>
            </div>

        </div>
    </div>
</section>