.titolo3ImgWithLinks {
  padding: 90px 20px;
  background-size: cover;
  background-position: center;
  .elementi {
    padding: 0 18%;
  }
  .elementi .col-md-4 {
    text-align: center;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .titolo {
      display: inline-block;
      text-align: center;
      margin-top: 20px;
      font-family: $font2;
      font-size: 24px;
      font-weight: $bold;
      color: $color1;
    }
  }

  .title_section {
    font-size: 32px;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    font-weight: $medium;
    font-family: $font3;
    font-size: 90px;
    color: $color2;
    strong {
      color: $color3;
      font-weight: $regular;
    }
  }

  @media screen and (max-width: 991px) {
    .elementi .col-md-4 {
      margin-bottom: 40px;
    }
    .title_section {
      font-size: 70px;
      strong {
        font-size: 70px;
      }
    }
  }

  @media screen and (max-width: 400px) {

    .title_section {
      font-size: 50px;
      strong {
        font-size: 50px;
      }
    }
  }

}
