.box-testo-icona {
  padding: 20px 0;
  text-align: center;
  background-color: $color4;
  .title {
    font-size: $font-size3;
    font-weight: $medium;
    color: $color1;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .text {
    line-height: 60px;
    font-size: $font-size3;
    color: $color2;
    font-weight: $regular;
    margin-bottom: 30px;
    strong {
      font-weight: $bold;
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-testo-icona {
    .title {
      line-height: 40px;
      font-size: font-percentage($font-size3, 0.9);
      margin-bottom: 20px;
    }
    .text {
      line-height: 40px;
      font-size: font-percentage($font-size3, 0.9);
      margin-bottom: 20px;
    }
    img {
      height: 70px;
    }
  }
}

@media screen and (max-width: 991px) {
  .box-testo-icona {
    .title {
      line-height: 30px;
      font-size: font-percentage($font-size3, 0.8);
      margin-bottom: 15px;
    }
    .text {
      line-height: 30px;
      font-size: font-percentage($font-size3, 0.8);
      margin-bottom: 15px;
    }
    img {
      height: 60px;
    }
  }
}

@media screen and (max-width: 767px) {
  .box-testo-icona {
    padding: 20px;
    .title {
      line-height: 20px;
      font-size: font-percentage($font-size3, 0.6);
    }
    .text {
      line-height: 20px;
      font-size: font-percentage($font-size3, 0.6);
    }
    img {
      height: 50px;
    }
  }
}
