{% trans_default_domain "public" %}
<div id="mc_embed_signup">
    <form action="{{ action.val|default("#") }}" method="post" id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <p class="help-block">{{ message.val }}</p>
            <div class="mc-field-group">
                <label for="mce-EMAIL">
                    {% trans %} default.labels.email {% endtrans %} <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c0c8f121d5ff13fc39c0f6b72_2a7d80d69f" tabindex="-1" value=""></div>
            <div class="clear">
                <input type="submit" value="{% trans %} default.labels.iscriviti {% endtrans %}" name="subscribe"
                       id="mc-embedded-subscribe" class="btn btn-default button">
            </div>
            <div class="indicates-required">
                <span class="asterisk">*</span> {% trans %} default.labels.mandatory_fields {% endtrans %}</div>
        </div>
    </form>
</div>
