<section class="two-blocks-icon-title-text">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img class="icon" src="{{ icona1.src }}" alt="{{ icona1.alt|default("") }}" data-aos="fade-left"
                     data-aos-duration="1000" data-aos-anchor-placement="top-center">
                <h3 class="title" data-aos="fade-up" data-aos-delay="150" data-aos-duration="600">
                    {{ titolo1.val|raw }}
                </h3>
                <h3 class="subtitle" data-aos="fade-iup" data-aos-delay="300" data-aos-duration="600">
                    {{ sottotitolo1.val|raw }}
                </h3>
                <p class="text" data-aos="fade-up" data-aos-delay="450" data-aos-duration="600">
                    {{ testo1.val|raw }}
                </p>
            </div>
            <div class="col-md-6">
                <img class="icon" src="{{ icona2.src }}" alt="{{ icona2.alt|default("") }}" data-aos="fade-right"
                     data-aos-duration="1000" data-aos-anchor-placement="top-center">
                <h3 class="title" data-aos="fade-up" data-aos-delay="150" data-aos-duration="600">
                    {{ titolo2.val|raw }}
                </h3>
                <h3 class="subtitle" data-aos="fade-up" data-aos-delay="300" data-aos-duration="600">
                    {{ sottotitolo2.val|raw }}
                </h3>
                <p class="text" data-aos="fade-up" data-aos-delay="450" data-aos-duration="600">
                    {{ testo2.val|raw }}
                </p>
            </div>
        </div>
    </div>
</section>
