<section class="text_with_background_video" {% if img.src is defined %}
    style="background-image:url('{{ img.src }}');"
        {% endif %}>
    <div class="container-fluid">
        {% if mp4.src or webm.src %}
            <video poster="{{ img.src }}" id="bgvid" playsinline autoplay muted loop>
                {% if webm.src %}
                    <source src="{{ webm.src }}" type="video/webm">{% endif %}
                {% if mp4.src is defined %}
                    <source src="{{ mp4.src }}" type="video/mp4">{% endif %}
            </video>
        {% endif %}
        <div class="overlay_video">
        </div>
        <div class="wrapper_motto">
            <p class="title1">{{ title1.val|raw }}</p>
            <p class="title2">{{ title2.val|raw }}</p>
            <p class="title3">{{ title3.val|raw }}</p>
        </div>
        <div id="scroll_button">
            <a href="{{ id_sezione.link }}" title="{{ id_sezione.label }}"><span></span></a>
        </div>
    </div>
</section>
