{% trans_default_domain "public" %}
<div>
    <div id="logo">
        <img src="{{ logo.src }}" alt="{{ logo.alt|default("") }}">
    </div>
    <div id="trattino">
        <div></div>
    </div>
    <div id="messaggio_errore">
        <h3>Ops! Error 404</h3>
        <p class="stringaerrore">
            {{ "error.message.pagina_richiesta_non_trovata"|trans|raw }}
        </p>
    </div>
    <div id="menu">
        {% if data.menu|default("") %}
            {% for page in data.menu %}

                <a id="{{ page.titolo }}" href="{{ page.slug }}">
                    {% if page.titolo_menu|default("") %}
                        {{ page.titolo_menu }}
                    {% else %}
                        {{ page.titolo }}
                    {% endif %}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>