.headerSliderWithLinks {
  .slider {
    height: 900px;
  }
  .slider-wrap {
    position: relative;
    overflow: hidden;

    .ritaglio {
      //width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
  .slider {
    margin-bottom: 0;
    .slick-dots {
      bottom: 160px;
      z-index: 2;
      li {
        margin: 0;
        width: 15px;
      }
    }
    .slick-slide:focus {
      outline: none;
    }
    .slick-dots li button:before {
      font-size: $text5 !important;
      content: '' !important;
      border-radius: 8px;
      width: 8px;
      height: 8px;
      background-color: $color5;
      opacity: 1;
      border: 1px solid $color5;
    }

    .slick-dots li.slick-active button:before {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: transparent;
      border: 2.3px solid $color5;
      left: -2.2px;
      top: -2.2px;

    }
    .slide-full {
      width: 100%;
      background-color: transparent;
      height: 100%;
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover; object-position: center;';
    }
    .slick-track {
      height: 100%;
      background-color: transparent;
    }
    .slider, .slick-list {
      height: 100%;
      width: 100%;
      background-color: transparent;
    }
  }
  .menu-links {
    list-style: none;
    text-align: center;
    position: relative;
    margin-top: -105px;
    padding-left: 0;
    margin-left: 0;
    z-index: 2;
    li {
      display: inline-block;
      max-width: 33%;
      img {
        max-width: 100%;
      }
    }
  }

  @media (max-width: 1400px) {
    .slider {
      height: 750px;
    }
  }
  @media (max-width: 767px) {
    .menu-links {
      display: none;
    }
  }
}