{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/webtekecommerce/admin/css/group_attribute.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/webtekecommerce/admin/js/group_attribute.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('@WebtekEcommerce/admin/group_attribute/form.html.twig') }}
{% endblock %}