{% extends "@WebtekEcommerce/admin/group_attribute/formLayout.html.twig" %}

{% block title %} {% trans %} group_attribute.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} group_attribute.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


