{% extends "@WebtekEcommerce/admin/um/formLayout.html.twig" %}

{% block title %} {% trans %} um.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} um.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
