$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color3: #878787 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;

.panel_toolbox {
  min-width: 1em;
}

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid $color5;
}

.pannelloIndirizzo:last-child {
  .fa-plus {
    color: $color2;
  }
}

.x_content {
  color: $color6;
}

.x_title {
  border-bottom: 2px solid $color5;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
  h2 {
    font-size: 20px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0 6px;
    color: $color6;
  }
  .panel_toolbox > li > a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
  }
}

.nav-tabs {
  li {
    border-color: $color5;
    &.active a {
      color: $color2;
    }
    a {
      font-size: 14px;
      font-weight: 700;
      color: $color1;
    }
    a:hover {
      background-color: white;
      color: $color2;
    }
  }
  li:focus {
    outline: 0;
    box-shadow: none;
  }

}

.tab-content {
  border-left: 1px solid $color5;
  border-right: 1px solid $color5;
  border-bottom: 1px solid $color5;
  margin-bottom: 40px;
  .tab-pane {
    padding: 20px;
    padding-bottom: 30px;
  }
}

.pannelloIndirizzo .x_panel {
  min-height: 170px;
}

.form-edit {
  input, select {
    margin-bottom: 30px;
  }
  label {
    font-size: 14px;
    color: $color1;
    font-weight: 400;
    span {
      color: $color2;
      font-weight: 700;
    }
  }
  .radio {
    display: inline-block;
    margin-right: 20px;
  }
  .radio label, .checkbox label, .radio-inline, .checkbox-inline, .light-description, .checkbox label {
    font-size: 14px;
    font-weight: 400;
    color: $color2;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  select,
  input[type='text'], input[type='email'], input[type='password'] {
    height: 55px;
    border-radius: 5px;
  }
  input[type="text"] {
    border: 1px #cbcbcb solid;
  }
  .help-block {
    margin-bottom: 20px;
  }
}

.pulsante-form {
  background-color: $color2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}
