$color6: #f00 !default;
$color5: #f00 !default;
$color1: #f00 !default;
$color4: #f00 !default;
$color3: #f00 !default;
$text1: 12px !default;
$semi-bold: 600 !default;
$text10: 20px !default;
$text3: 14px !default;
$text4: 16px !default;
$text6: 16px !default;
$bold: 800 !default;

.sezione-slider-news {
  background-color: $color6;
  text-align: center;
  padding-bottom: 100px;
  position: relative;
  h3 {
    margin: 0 0 40px 0;
    font-size: $text10;
    font-weight: $semi-bold;
  }
  .read-more {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: $bold;
  }
  .slick-dots {
    bottom: -70px;
    li button:before {
      font-size: $text1;
    }
    li.slick-active button:before {
      color: transparent;
      border: 3px solid $color1;
      border-radius: 10px;
      font-size: 12px;
      top: -2px;
    }
  }
  .slick-slide {
    margin: 0 10px;
  }
  .slider .row {
    .col-lg-6 {
      position: relative;
      padding: 0;
    }
    .col-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .box-data {
        background-color: $color1;
        position: absolute;
        top: 10px;
        left: 10px;
        display: inline-block;
        padding: 10px;
        color: $color5 !important;
        p {
          font-size: $text6;
          font-weight: $bold;
          line-height: 16px;
          margin: 0;
        }
        span {
          font-size: $text3;
          font-weight: $bold;
        }
      }
    }
    .col-text {
      background-color: $color5;
      .slide-text {
        padding: 20%;
        h3 {
          font-size: $text6;
          font-weight: $semi-bold;
          color: $color4;
          margin-top: 0;
          margin-bottom: 30px;
        }
        p {
          font-size: $text1;
          color: $color4;
          margin-bottom: 30px;
        }
        .link-news {
          font-size: $text4;
          font-weight: $semi-bold;
          color: $color3;
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .sezione-slider-news .slider .row .col-text .slide-text {
    padding: 15%;
    h3 {
      font-size: font-percentage($text6, 0.7);
      margin-bottom: 10px;
    }
    p {
      font-size: font-percentage($text1, 0.9);
      margin-bottom: 10px;
    }
  }
  .sezione-slider-news {
    h3 {
      font-size: font-percentage($text10, 0.8);
      margin-bottom: 20px;
    }
    .read-more {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione-slider-news .slider .row .col-text .slide-text {
    padding: 20%;
    h3 {
      font-size: font-percentage($text6, 0.7);
    }
    p {
      font-size: font-percentage($text1, 0.8);
    }
  }
  .sezione-slider-news {
    h3 {
      font-size: font-percentage($text10, 0.7);
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione-slider-news .slider .row .col-text .slide-text {
    padding: 10%;
    h3 {
      font-size: font-percentage($text6, 0.6);
    }
    p {
      font-size: font-percentage($text1, 0.75);
    }
  }
  .sezione-slider-news {
    h3 {
      font-size: font-percentage($text10, 0.5);
    }
  }
}

@media screen and (max-width: 549px) {
  .sezione-slider-news .slider .row {
    .col-lg-6 {
      width: 100%;
    }
  }
  .sezione-slider-news {
    h3 {
      font-size: font-percentage($text10, 0.45);
      padding: 0 15px;
    }
  }
}
