{% extends "admin/base.html.twig" %}
{% block bodyclass %} class="login"{% endblock %}
{% block body %}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">

                {{ form_start(form) }}
                <h1>Login</h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData) }}</div>
                {% endif %}

                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <div>
                    <button data-name="login-button" class="btn btn-default submit" type="submit">
                        <i class="fa fa-lock"></i> {% trans %}
                            default.labels.log_in {% endtrans %}</button>
                    <br/>
                    <br/>
                    <a class="reset_pass" href="{{ path('lost_password') }}">Password persa?</a>
                </div>
                <div class="separator">
                    <div>
                        <h1><i class="icon-logo_webtek"></i> Webtek</h1>
                    </div>
                </div>
                {{ form_end(form) }}

            </section>
        </div>

    </div>
{% endblock %}