{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('public/lib/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/webtekecommerce/admin/css/feature.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/lib/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ asset('bundles/webtekecommerce/admin/js/feature.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('@WebtekEcommerce/admin/feature/form.html.twig') }}
{% endblock %}