<div class="container-fluid h100 section1"
        {% if not mp4.src and not webm.src and img.src is defined %}
    style="background-image:url('{{ img.src }}');"
        {% endif %}>

    {% if mp4.src or webm.src %}
        <video poster="{{ img.src }}" id="bgvid" playsinline autoplay muted loop>
            {% if webm.src %}
                <source src="{{ webm.src }}" type="video/webm">{% endif %}
            {% if mp4.src is defined %}
                <source src="{{ mp4.src }}" type="video/mp4">{% endif %}
        </video>
    {% endif %}

    <div class="wrapper_motto">
        <p class="title1">{{ titolo1.val }}</p>
        <p class="title2">{{ titolo2.val }}</p>
        <p class="title3">{{ titolo3.val }}</p>
    </div>

    <div id="scroll_button">
        <a href="{{ link.link }}" title="{{ link.label }}"><span></span></a>
    </div>
</div>
