<div class="box-mappa-contatti">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 sameHeight">
                <div class="box-testo">
                    {% if logo.src|default("") %}
                        <img src="{{ logo.src }}" alt="{{ logo.alt|default("") }}"/>
                    {% endif %}
                    {% if testo_contatti.val %}
                        <p>{{ testo_contatti.val | raw }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 sameHeight">
                {% if style.val|default("") %}
                    <script type="text/javascript">
                      var mapConfig = {{ style.val | raw }};
                    </script>
                {% endif %}

                <div id="map"
                     class="mappa" {% if puntatore.src|default("") %} data-cursor="{{ puntatore.src }}"{% endif %}{% if coordinate.val|default("") %} data-center="{{ coordinate.val }}"{% endif %}{% if zoom.val|default("") %} data-zoom="{{ zoom.val }}"{% endif %}{% if testoFumetto.val|default("") %} data-infowindow="{{ testoFumetto.val }}"{% endif %}></div>
            </div>
        </div>
    </div>
</div>