.contattiPedr {
  padding: 80px 20px;
  text-align: center;
  color: $color1;
  .titoletto {
    font-family: $font2;
    font-weight: $bold;
    font-size: 18px;
    color: $color10;
  }
  .titolo {
    font-family: $font3;
    font-size: 180px;
    line-height: 110px;
    color: $color2;
  }
  .indirizzo {
    font-family: $font;
    font-size: 18px;

  }
  .precontainer-indirizzi {
    padding: 0px 10%;
  }
  .container-indirizzi {
    padding: 5% 20%;
    background-size: 100% 100%;
    > .row {
      padding: 0px 50px;
    }
  }
  .block-title {
    font-family: $font2;
    font-weight: $bold;
    font-size: 18px;
    color: $color10;
    margin: 0;
    margin-top: 10px;
  }
  .block-link {
    font-family: $font;
    color: $color1;
    font-size: 22px;
    margin: 0;
    margin-top: 5px;
  }
}