<section class="contattiPedr">
    <div class="container-fluid">
        <h3 class="titoletto">
            {{ titoletto.val|default("") }}
        </h3>
        <h1 class="titolo">
            {{ titolo.val|default("") }}
        </h1>
        <h2 class="indirizzo">
            {{ sottotitolo.val|raw }}
        </h2>
        <div class="precontainer-indirizzi">
            <div class="container-indirizzi" {% if bg_container.src is defined and bg_container.src != "" %}
                 style="background-image:url('{{ bg_container.src }}')"> {% endif %}
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ block1.src }}" alt="{{ block1.alt|default("") }}">
                        <h3 class="block-title">
                            {{ block1_text.val }}
                        </h3>
                        <a class="block-link" href="{{ block1_link.link }}">
                            {{ block1_link.label }}
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ block2.src }}" alt="{{ block2.alt|default("") }}">
                        <h3 class="block-title">
                            {{ block2_text.val }}
                        </h3>
                        <a class="block-link" href="{{ block2_link.link }}">
                            {{ block2_link.label }}
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ block3.src }}" alt="{{ block3.alt|default("") }}">
                        <h3 class="block-title">
                            {{ block3_text.val }}
                        </h3>
                        <a class="block-link" href="{{ block3_link.link }}">
                            {{ block3_link.label }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>