<div class="sezione-box-flottante-stats" id="numeri">
    <div class="container-fluid">
        <div class="row row-stats">
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                <div class="row">
                    {% for  titolo in titoli %}
                        {% set icona = attribute(icone, loop.index0) %}
                        {% set valore = attribute(valori, loop.index0) %}
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {% if icona.src|default("") %}
                                <img src="{{ icona.src }}" alt="{{ icona.alt|default("") }}"/>
                            {% endif %}
                            <p class="odometer" data-num="{{ valore.val }}"></p>
                            <h4>{{ titolo.val }}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>