{% extends "admin/vetrina/formLayout.html.twig" %}

{% block title %} {% trans %} vetrina.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} vetrina.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


