.poweredBy2Blocchi {
  min-height: 500px !important;
  font-family: $font;
  .slick-dots {
    bottom: 40px;

  }
  .slick-dots li button:before {
    font-size: 18px !important;
    content: '' !important;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid $color2;
    opacity: .55;
  }

  .slick-dots li.slick-active button:before {
    background-color: $color2;
    opacity: 1;
    border: 3px solid $color2;
    width: 15px;
    height: 15px;
    margin-top: -1.5px;
  }

  .slider-wrap, .presentazione {
    width: 50%;
    float: left;
    position: relative;
    min-height: 500px;
  }
  .presentazione {
    display: table;
    vertical-align: middle;
    padding: 0 5%;
    height: 100%;
  }
  .slider-wrap {
    height: 100%;
  }
  .box-testo {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .slider {
    width: 100%;
    height: 100%;
    .slick-list {
      height: 100%;
    }
    .slick-track {
      height: 100%;
    }
    .slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        font-family: "object-fit:cover;object-position: center";
      }
    }
  }

  .btnScopri {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    text-decoration: none;
    color: $color1;
    background: $color2;
    font-size: 18px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
  }

  .testo {
    font-size: 18px;
    a {
      color: $color2;
    }
  }
  .titolo {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: $bold;
    color: $color2;
  }

  @media (max-width: 1400px) {
    .presentazione {
      padding: 0 40px;
    }
    .testo, .btnScopri {
      font-size: 16px;
    }
    .titolo {
      font-size: 24px;
    }

  }

  @media (max-width: 1100px) {
    .testo {
      line-height: 20px;
    }
  }

  @media(max-width: 960px) {
    min-height: initial !important;
    .slider-wrap {
      min-height: initial !important;
      height: 400px;
    }
    .presentazione {
      padding: 40px;
    }
    .slider-wrap, .presentazione {
      width: 100%;
      float: left;
      position: relative;
      min-height: initial !important;
    }
  }

  @media (max-width: 600px) {
    .presentazione {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 15px;
    }
  }

  @media (max-width: 400px) {
    .presentazione {
      font-size: 14px;
    }
    .btnScopri {
      width: 100%;
      text-align: center;
    }
  }

}
