<section class="poweredBy2Blocchi">
    <div class="slider-wrap">
        <div class="slider">
            {% if data.error %}
                {{ data.error }}
            {% else %}
                {% for  slide in data.slides %}
                    <div class="slide">
                        <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
    <div class="presentazione">
        <div class="box-testo">
            <h1 class="titolo">
                {{ titolo.val }}
            </h1>
            <p class="testo">
                {{ testo.val|raw }}
            </p>
            <a href="{{ link.link }}" target="_blank" class="btnScopri">{{ link.label }}</a>
        </div>
    </div>
</section>

