{{ form_start(formIndirizzo, {'action': action, attr : {"data-id": addressId}}) }}
{{ form_row(formIndirizzo.presso) }}
{{ form_row(formIndirizzo.nazione) }}
{{ form_row(formIndirizzo.provincia) }}
{{ form_row(formIndirizzo.provincia_text) }}
{{ form_row(formIndirizzo.comune) }}
{{ form_row(formIndirizzo.comune_text) }}
{{ form_row(formIndirizzo.cap) }}
{{ form_row(formIndirizzo.indirizzo) }}
{{ form_end(formIndirizzo) }}
