.sezione-parallax {
  padding: 100px 0 200px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  text-align: center;
  h2, p {
    color: $color5;
    margin-bottom: 40px;
    strong {
      font-weight: $extra-bold;
    }
  }
  .titolo {
    a {
      color: $color5;
    }
    font-size: $text10;
  }

  .sottotitolo {
    font-size: $text5;
  }
  .btn-default {
    font-weight: $bold;
    font-size: $text5;
    border-radius: 4px;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 1199px) {
  .sezione-parallax {
    .titolo {
      font-size: font-percentage($text10, 0.85);
    }
    .sottotitolo {
      font-size: font-percentage($text5, 0.9);
    }
    .btn-default {
      font-size: font-percentage($text5, 0.9);
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione-parallax {
    .titolo {
      font-size: font-percentage($text10, 0.75);
    }
    .sottotitolo {
      font-size: font-percentage($text5, 0.8);
    }
    .btn-default {
      font-size: font-percentage($text5, 0.8);
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione-parallax {
    padding: 60px 0 180px 0;
    .titolo {
      font-size: font-percentage($text10, 0.6);
    }
    .sottotitolo {
      font-size: font-percentage($text5, 0.7);
    }
    .btn-default {
      font-size: font-percentage($text5, 0.7);
      padding: 10px 20px;
    }
  }
}
