<div class="sezione-parallax"{% if bg.src|default("") %} style="background-image:url('{{ bg.src }}')"{% endif %}
     id="parallax">
    <p class="titolo">{% if link.link|default("") %}
        <a href="{{ link.link }}">{% endif %}{{ titolo.val }}{% if link.link|default("") %}</a>{% endif %}
    </p>
    <p class="sottotitolo">{% if sottotitolo.val|default("") %} {{ sottotitolo.val }} {% endif %}</p>
    {% if link.link|default("") %}
        <a rel="nofollow" href="{{ link.link }}" class="btn btn-default">{{ link.label|default("") }}</a>
    {% endif %}
</div>