.categories {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 40px;
  li {
    border-bottom: 1px solid $color1;
    padding-bottom: 10px;
    position: relative;
    color: $color1;
    a {
      color: inherit;
      padding-left: 22px;
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 13px;
        height: 18px;
        background-image: url("/img/icona-categoria.png");
      }
    }
    i {
      position: relative;
      top: 4px;
      margin-right: 3px;
    }
    span {
      position: absolute;
      right: 0;
      top: 10px;
      background-color: $color1;
      padding: 3px 4px;
      color: $color4;
      font-weight: 500,
    }
  }
}
