.blogHead {
  margin-bottom: 50px;
  margin-top: 50px;
  .img-head {
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .titolo-articolo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: $medium;
    font-family: $font3;
    font-size: 90px;
    color: $color2;
    strong {
      color: $color3;
      font-weight: $regular;
    }
  }
}