{{ form_start(form) }}

{{ form_row(form.chiave) }}
{{ form_row(form.valore) }}
{{ form_row(form.etichetta) }}
{{ form_row(form.aiuto) }}
{{ form_row(form.requiredRole) }}
{{ form_row(form.tipo) }}

{{ form_end(form) }}