{% extends "admin/admin.html.twig" %}

{% block title %} {% trans %} settings.labels.title{% endtrans %}{% endblock %}
{% block page_title %} {% trans %} settings.labels.title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/admin/css/settaggi.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("node_modules/jquery-form/dist/jquery.form.min.js") }}"></script>
    <script src="{{ asset('bundles/app/admin/js/settaggi.js') }}"></script>
{% endblock %}

{% block pulsantiera %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}<a href="#" class="btn btn-primary btn-new-setting">
        <i class="fa fa-plus"></i> {% trans %}default.labels.nuovo {% endtrans %}</a>{% endif %}
{% endblock %}

{% block page_content %}
    <form method="post" class="form-horizontal form-label-left input_mask">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {% for group in gruppi %}
                    <li role="presentation"{% if loop.first %} class="active"{% endif %}>
                        <a href="#{{ group.name|slugify }}" aria-control="{{ group.name|slugify }}" role="tab"
                           data-toggle="tab">
                            {{ group.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for group in gruppi %}
                    <div role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}"
                         id="{{ group.name|slugify }}">
                        <div class="container-fluid">
                            {% for settaggio in group.settings %}
                                {% if settaggio.tipo == "BOOLEAN" %}
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 col-xs-12 control-label"
                                                   for="{{ settaggio.chiave }}">
                                                {{ settaggio.etichetta }}
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-10">
                                                <select class="form-control" id="{{ settaggio.chiave }}"
                                                        name="{{ group.name|slugify }}[{{ settaggio.chiave }}]">
                                                    <option value="0"{% if settaggio.valore == 0 %} selected{% endif %}>{% trans %}default.labels.no{% endtrans %}</option>
                                                    <option value="1"{% if settaggio.valore == 1 %} selected{% endif %}>{% trans %}default.labels.si{% endtrans %}</option>
                                                </select>
                                            </div>
                                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <a href="#" data-id="{{ settaggio.id }}"
                                                       class="btn btn-info btn-edit"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" data-id="{{ settaggio.id }}"
                                                       class="btn btn-danger btn-delete-setting"><i
                                                                class="fa fa-trash"></i></a>
                                                </div>
                                            {% endif %}
                                            {% if settaggio.aiuto %}
                                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                                    {{ settaggio.aiuto }}
                                                </div>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if settaggio.tipo == "TEXT" %}
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 col-xs-12 control-label"
                                                   for="{{ settaggio.chiave }}">
                                                {{ settaggio.etichetta }}
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text" id="{{ settaggio.chiave }}"
                                                       name="{{ group.name|slugify }}[{{ settaggio.chiave }}]"
                                                       class="form-control" maxlength="256"
                                                       value="{{ settaggio.valore }}">
                                            </div>
                                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <a href="#" data-id="{{ settaggio.id }}"
                                                       class="btn btn-info btn-edit"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" data-id="{{ settaggio.id }}"
                                                       class="btn btn-danger btn-delete-setting"><i
                                                                class="fa fa-trash"></i></a>
                                                </div>
                                            {% endif %}
                                            {% if settaggio.aiuto %}
                                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                                    {{ settaggio.aiuto }}
                                                </div>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

            <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
                    default.labels.salva {% endtrans %}</button>

            <a href="{{ path('layoutcontent') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                    default.labels.chiudi {% endtrans %}</a>
        </div>

    </form>
{% endblock %}

{% block handlebars %}
    {{ parent() }}
    <script type="text/handlebars" id="formDialogTemplate">

{% verbatim %}

    <div id="formDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-success">{{ titolo }}</h4>
                </div>
                <div class="modal-body">
                {{{content}}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i>{% endverbatim %}
         {% trans %}default.labels.annulla{% endtrans %}{% verbatim %}</button>
                    <button type="button" class="btn btn-success btn-confirm"><i class="fa fa-save"></i>{% endverbatim %}
         {% trans %}default.labels.salva{% endtrans %}{% verbatim %}</button>
                </div>
            </div>
        </div>
    </div>

{% endverbatim %}




























































    </script>

{% endblock %}