<section class="four_blocks_seo">
    <div class="container-fluid">
        <div class="row align-center wrapper_four_blocks">
            <div class="col-md-6 block_wrapper block_grey_dark">
                <div class="icon_seo" data-aos="fade-left">
                    <img src="{{ icona1.src }}" alt="{{ icona1.alt|default("") }}">
                </div>
                <h3 class="title_section" data-aos="zoom-in-up" data-aos-delay="200"
                    data-aos-duration="500">{{ titolo1.val|raw }}</h3>
                <p class="text_section" data-aos="zoom-in-up" data-aos-delay="400"
                   data-aos-duration="500">{{ testo1.val|raw }}</p>
            </div>
            <div class="col-md-6 block_wrapper block_white">
                <div class="icon_seo" data-aos="fade-left">
                    <img src="{{ icona2.src }}" alt="{{ icona2.alt|default("") }}">
                </div>
                <h3 class="title_section" data-aos="zoom-in-up" data-aos-delay="200"
                    data-aos-duration="500">{{ titolo2.val|raw }}</h3>
                <p class="text_section" data-aos="zoom-in-up" data-aos-delay="400"
                   data-aos-duration="500">{{ testo2.val|raw }}</p>
            </div>
            <div class="col-md-6 block_wrapper block_grey_light">
                <div class="icon_seo" data-aos="fade-left">
                    <img src="{{ icona3.src }}" alt="{{ icona3.alt|default("") }}">
                </div>
                <h3 class="title_section" data-aos="zoom-in-up" data-aos-delay="200"
                    data-aos-duration="500">{{ titolo3.val|raw }}</h3>
                <p class="text_section" data-aos="zoom-in-up" data-aos-delay="400"
                   data-aos-duration="500">{{ testo3.val|raw }}</p>
            </div>
            <div class="col-md-6 block_wrapper block_green">
                <div class="icon_seo" data-aos="fade-left">
                    <img src="{{ icona4.src }}" alt="{{ icona4.alt|default("") }}">
                </div>
                <h3 class="title_section" data-aos="zoom-in-up" data-aos-delay="200"
                    data-aos-duration="500">{{ titolo4.val|raw }}</h3>
                <p class="text_section" data-aos="zoom-in-up" data-aos-delay="400"
                   data-aos-duration="500">{{ testo4.val|raw }}</p>
            </div>
        </div>
    </div>
</section>
