<section class="text_with_side_images_only_desktop" style="background-color:{{ bg_color.val }}">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="col-md-3 col_img_l">
                <img class="img-responsive float_l" src="{{ immagine_sx.src }}" alt="{{ immagine_sx.alt|default("") }}"
                     data-aos="fade-right" data-aos-duration="800">
            </div>
            <div class="col-md-6">
                <h3 class="title_section">{{ titolo.val }}</h3>
                <p class="subtitle_section">{{ sottotitolo.val|raw }}</p>
                <p class="text_section">{{ testo.val|raw }}</p>
            </div>
            <div class="col-md-3 col_img_r">
                <img class="img-responsive float_r" src="{{ immagine_dx.src }}" alt="{{ immagine_dx.alt|default("") }}"
                     data-aos="fade-left" data-aos-duration="800">
            </div>
        </div>
    </div>
</section>
