.slider-clienti-row-singola {
  padding: 40px 0;
  text-align: center;
  h3 {
    font-size: $text6;
    font-weight: $bold;
    color: $color3;
    margin-bottom: 5px;
  }
  hr {
    border-top: 4px solid $color1;
    width: 40px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .slider-customers {
    .fa {
      position: absolute;
      color: $color1;
      top: 50%;
      cursor: pointer;
      z-index: 2;
    }
    .fa-chevron-left {
      left: 5px;
    }
    .fa-chevron-right {
      right: 5px;
    }
    img {
      width: auto;
      height: 80px;
      margin: 0 auto;
    }
  }
}
