{% set structure = row.getStructureObject() %}
<div class="row">
    {% if structure.0.size == 3 %}
        <div class="col-md-12">
            {% if structure.0.type =="ck" %}
                {{ blogService.getText(row, '1') | raw }}
            {% else %}
                <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}"
                     alt="{{ row.getSlot1ImageAlt }}"/>
            {% endif %}
        </div>
    {% endif %}
    {% if structure.0.size == 2 %}
        <div class="col-md-8">
            {% if structure.0.type =="ck" %}
                {{ blogService.getText(row, '1') | raw }}
            {% else %}
                <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}"
                     alt="{{ row.getSlot1ImageAlt }}"/>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if structure.1.type =="ck" %}
                {{ blogService.getText(row, '2') | raw }}
            {% else %}
                <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot2ImageFile') }}"
                     alt="{{ row.getSlot2ImageAlt }}"/>
            {% endif %}
        </div>
    {% endif %}
    {% if structure.0.size == 1 %}{# Per le righe con 2 box da 50% #}
        {% if structure.1.size == 1 and structure.2.size == 0 %}
            <div class="col-md-6">
                {% if structure.0.type =="ck" %}
                    {{ blogService.getText(row, '1') | raw }}
                {% else %}
                    <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}"
                         alt="{{ row.getSlot1ImageAlt }}"/>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if structure.1.type =="ck" %}
                    {{ blogService.getText(row, '2') | raw }}
                {% else %}
                    <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot2ImageFile') }}"
                         alt="{{ row.getSlot2ImageAlt }}"/>
                {% endif %}
            </div>
        {% else %}
            <div class="col-md-4">
                {% if structure.0.type =="ck" %}
                    {{ blogService.getText(row, '1') | raw }}
                {% else %}
                    <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}"
                         alt="{{ row.getSlot1ImageAlt }}"/>
                {% endif %}
            </div>
            {% if structure.1.size == 1 %}
                <div class="col-md-4">
                    {% if structure.1.type =="ck" %}
                        {{ blogService.getText(row, '2') | raw }}
                    {% else %}
                        <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot2ImageFile') }}"
                             alt="{{ row.getSlot2ImageAlt }}"/>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if structure.2.type =="ck" %}
                        {{ blogService.getText(row, '3') | raw }}
                    {% else %}
                        <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot3ImageFile') }}"
                             alt="{{ row.getSlot3ImageAlt }}"/>
                    {% endif %}
                </div>
            {% else %}
                <div class="col-md-8">
                    {% if structure.1.type =="ck" %}
                        {{ blogService.getText(row, '2') | raw }}
                    {% else %}
                        <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot2ImageFile') }}"
                             alt="{{ row.getSlot2ImageAlt }}"/>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
