{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/news.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/admin/js/seo-pixels.js') }}"></script>
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('node_modules/croppie/croppie.min.js') }}"></script>
    <script src="{{ asset('node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/resizableImage.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/allegati.js') }}"></script>
    <script src="{{ asset('bundles/offerte/admin/js/offerte.js') }}"></script>


    {#<script src="{{ asset('admin/js/seo-pixels.js') }}"></script>#}
    {#<script src="{{ asset('admin/vendors/ckeditor/ckeditor.js') }}"></script>#}
    {#<script src="{{ asset('admin/vendors/Croppie/croppie.js') }}"></script>#}
    {#<script src="{{ asset('admin/node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>#}
    {#<script src="{{ asset('admin/vendors/moment/min/moment-with-locales.min.js') }}"></script>#}
    {#<script src="{{ asset('admin/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>#}
{% endblock %}

{% block page_content %}
    {{ include('@Offerte/Offerte/form.html.twig') }}
{% endblock %}
