{% extends "@Offerte/Offerte/formLayout.html.twig" %}

{% block title %} {% trans %}default.labels.gestione_offerte{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %}default.labels.gestione_offerte{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
