<div class="container-fluid container-limitato">
    <div class="row">
        <div class="col-sm-12 col-titolo">
            <div class="ordina">
                ORDINA PER
                {% set orderby=app.request.get('orderby') %}
                {% set dir=app.request.get('dir') %}
                <select class="filter-select">
                    <option value="">Nessun ordinamento</option>
                    <option value='{"orderby":"price","dir":"asc"}'
                            {% if orderby == "price" and dir =="asc" %}selected {% endif %}>
                        Prezzo dal più basso
                    </option>
                    <option value='{"orderby":"price","dir":"desc"}'
                            {% if orderby == "price" and dir =="desc" %}selected {% endif %}>Prezzo dal più alto
                    </option>
                    <option value='{"orderby":"name","dir":"asc"}'
                            {% if orderby == "name" and dir =="asc" %}selected {% endif %}>
                        Nome dalla A alla Z
                    </option>
                    <option value='{"orderby":"name","dir":"desc"}'
                            {% if orderby == "name" and dir =="desc" %}selected {% endif %}>Nome dalla Z alla A
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>