.ordina {
  text-align: right;
  color: #333333;
  font-size: 12px;
  select {
    border: 0;
    font-size: 14px;
    height: 42px;
    background-color: #F5F5F5;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }
}