{% extends "@WebtekEcommerce/admin/market_place/formLayout.html.twig" %}

{% block title %} {% trans %} tag.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} tag.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


