{% trans_default_domain "public" %}
{% if data.newsInEvidenza| length > 3 %}
    <div class="sezione top-blog">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    {% set News = attribute(data.newsInEvidenza, 0) %}
                    {% if News.ListImgFileName %}
                        {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                        {% set imgAlt = News.HeaderImgAlt %}
                    {% else %}
                        {% set img = "/images/defaults/placeholder.png" %}
                        {% set imgAlt = News.translate(app.request.locale).titolo %}
                    {% endif %}

                    <div class="thumbnail">
                        <a rel="nofollow"
                           href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                            <img src="{{ asset(img) | imagine_filter('news2') }}" alt="{{ News.listImgAlt }}"/>
                        </a>
                        <div class="titolo-box">
                            <div class="btn btn-default">
                                <a href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug} ) }}">{{ blogService.getCategory(News, app.request.locale).titolo }}</a>
                            </div>
                            <h2>
                                <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">{{ News.translate(app.request.locale).titolo }}</a>
                            </h2>
                            <p>{{ blogService.getDate(News) }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    {% set News = attribute(data.newsInEvidenza, 1) %}
                    {% if News.ListImgFileName %}
                        {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                        {% set imgAlt = News.HeaderImgAlt %}
                    {% else %}
                        {% set img = "/images/defaults/placeholder.png" %}
                        {% set imgAlt = News.translate(app.request.locale).titolo %}
                    {% endif %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="thumbnail">
                                    <a rel="nofollow"
                                       href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                        <img src="{{ asset(img) | imagine_filter('news2') }}"
                                             alt="{{ News.listImgAlt }}"/>
                                    </a>
                                    <div class="titolo-box">
                                        <div class="btn btn-default">
                                            <a href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug} ) }}">{{ blogService.getCategory(News, app.request.locale).titolo }}</a>
                                        </div>
                                        <h2>
                                            <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                                {{ News.translate(app.request.locale).titolo }}
                                            </a>
                                        </h2>
                                        <p>{{ blogService.getDate(News) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                {% set News = attribute(data.newsInEvidenza, 2) %}
                                {% if News.ListImgFileName %}
                                    {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                                    {% set imgAlt = News.HeaderImgAlt %}
                                {% else %}
                                    {% set img = "/images/defaults/placeholder.png" %}
                                    {% set imgAlt = News.translate(app.request.locale).titolo %}
                                {% endif %}

                                <div class="thumbnail">
                                    <a rel="nofollow"
                                       href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                        <img src="{{ asset(img) | imagine_filter('news3') }}"
                                             alt="{{ News.listImgAlt }}"/>
                                    </a>
                                    <div class="titolo-box">
                                        <div class="btn btn-default">
                                            <a href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug} ) }}">{{ blogService.getCategory(News, app.request.locale).titolo }}</a>
                                        </div>
                                        <h2>
                                            <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                                {{ News.translate(app.request.locale).titolo }}
                                            </a>
                                        </h2>
                                        <p>{{ blogService.getDate(News) }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                {% set News = attribute(data.newsInEvidenza, 3) %}
                                {% if News.ListImgFileName %}
                                    {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                                    {% set imgAlt = News.HeaderImgAlt %}
                                {% else %}
                                    {% set img = "/images/defaults/placeholder.png" %}
                                    {% set imgAlt = News.translate(app.request.locale).titolo %}
                                {% endif %}
                                <div class="thumbnail">
                                    <a rel="nofollow"
                                       href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                        <img src="{{ asset(img) | imagine_filter('news3') }}"
                                             alt="{{ News.listImgAlt }}"/>
                                    </a>
                                    <div class="titolo-box">
                                        <div class="btn btn-default">
                                            <a href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug} ) }}">{{ blogService.getCategory(News, app.request.locale).titolo }}</a>
                                        </div>
                                        <h2>
                                            <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                                {{ News.translate(app.request.locale).titolo }}
                                            </a>
                                        </h2>
                                        <p>{{ blogService.getDate(News) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}