.fullpage-box-destra {
  .section {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .box-wrap {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 515px;
    .box {
      position: absolute;
      padding: 50px;
      bottom: 0;
      margin-right: 30px;
      background-color: $color6;
      transform: translateY(100%);
      transition-duration: 1s;
      display: table;
      p {
        font-size: 15px;
        line-height: 22px;
      }
      h1, h3 {
        color: $color3;
        font-weight: bold;
        margin-bottom: 18px;
        font-size: 24px;
      }
      &.trasla {
        transform: translateX(0);
        transition-duration: 1s;
      }
      .wrapper_text {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .fullpage-box-destra .box-wrap .box {
    padding: 20px;
    padding-bottom: 50px;
    padding-left: 70px;
    p {
      text-align: left;
    }
    h1, h3 {
      font-size: 25px;
      margin-bottom: 10px;
      text-align: left;
    }
  }
}

@media screen and (max-width: 800px) {
  .fullpage-box-destra .box-wrap {
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto;
    .box {
      width: 100%;
      bottom: 0;
      left: 0;
      height: auto;
      padding: 30px;
      p {
        font-size: 15px;
        line-height: 19px;
      }
    }
    .wrapper_text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 60px;
      padding-bottom: 29px;
    }
  }
}

@media screen and (max-width: 767px) {
  .fullpage-box-destra .box-wrap .box {
    padding-left: 40px;
    p {
      font-size: 14px;
      line-height: 16px;
    }
    h1, h3 {
      font-size: 22px;
    }
    .wrapper_text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 0px;
      padding-right: 5px;
    }
  }
}

@media screen and (max-width: 640px) {
  .fullpage-box-destra .box-wrap .box {
    padding-left: 35px;
    p {
      font-size: 14px;
      line-height: 16px;
    }
    h1, h3 {
      font-size: 22px;
    }
  }
}

@media screen and (max-height: 480px) {
  .fullpage-box-destra .box-wrap .box {
    padding-left: 45px;
    p {
      font-size: 14px;
      line-height: 16px;
    }
    h1, h3 {
      font-size: 18px;
    }
  }
}
