.sezione.testo-immagine {
  padding: 100px 50px;
  background-color: $color2;
  text-align: center;

  h3, p {
    color: $text2;
  }
  .titoletto {
    color: $text3m;
    font-size: 24px;
    font-family: "montserratsemibold";
  }
  .titolo {

  }
  .testo {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: $text3;
    line-height: 25px;
  }
  .titoletto {
    font-size: 24px;
  }
  h3 {
    font-size: 48px;
  }
  img {
    margin-top: 15px;
  }
}

@media screen and (max-width: 1299px) {
  .sezione.testo-immagine img {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .sezione.testo-immagine {
    h3 {
      font-size: 30px;
    }
    p, .testo {
      font-size: 15px !important;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.testo-immagine {
    h3 {
      font-size: 22px;
    }
    p, .testo {
      font-size: 13px !important;
    }
  }
}

@media screen and (max-width: 499px) {
  .sezione.testo-immagine {
    p, .testo {
      font-size: 11px !important;
    }
    h3 {
      font-size: 20px;
    }
    padding: 20px;
    .container {
      padding: 0;
    }
  }
}
