<section
        class="text_button_with_background_image_opacity"{% if data.header.img.src %} style="background-image:url({{ data.header.img.src }});"{% endif %}>
    <div class="container-fluid">
        <div class="gradient"></div>
        <div class="wrapper_motto">
            <div class="box">
                <h3><strong>{{ data.header.titolo|raw }}</strong></h3>
            </div>
            {% if data.header.sottotitolo|default("") %}
                <p class="title2">
                    {{ data.header.sottotitolo }}
                </p>
            {% endif %}
        </div>
        <a href="{{ to_route('page', {'slug': 'azienda'}) }}"
           class="btn btn-right btn-default">{% trans %} default.labels.contattaci {% endtrans %}
            <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
    </div>
</section>