{% extends "admin/admin.html.twig" %}

{% block page_title %} {% trans %} filemanager.labels.title{% endtrans %} {% endblock %}


{% block page_content %}

    <div class="x_panel">
        <div class="x_content">
            {{ include(":admin/filemanager:filemanager-core.html.twig") }}
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <!--  JSTREE -->
        <script src="{{ asset('node_modules/jstree/dist/jstree.min.js') }}"></script>
        <script src="{{ asset("node_modules/jquery-form/dist/jquery.form.min.js") }}"></script>
        <script src="{{ asset('bundles/app/admin/js/filemanager.logic.js') }}"></script>
        <script src="{{ asset('bundles/app/admin/js/filemanager.js') }}"></script>
        <script src="{{ asset('bundles/app/admin/js/lightbox-dblclick.js') }}"></script>
        <script src="{{ asset('node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.js') }}"></script>
        <script src="{{ asset('node_modules/dropzone/dist/dropzone.js') }}"></script>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('node_modules/jstree/dist/themes/default/style.min.css') }}" rel="stylesheet">
        <link href="{{ asset("node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.css") }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/admin/css/filemanager.css') }}" rel="stylesheet">
        <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet">
        <link href="{{ asset('node_modules/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">
        <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
    {% endblock %}
