{% extends "admin/admin.html.twig" %}

{% block title %} {% trans %} gallery.labels.title{% endtrans %}: {% trans %} gallery.labels.gestione_immagini{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} gallery.labels.title{% endtrans %}: {% trans %} gallery.labels.gestione_immagini{% endtrans %} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/admin/css/gallery.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pulsantiera %}
    <div class="btn-group" role="group">
        <a href="{{ path('gallery') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                default.labels.chiudi {% endtrans %}</a>
    </div>
{% endblock %}


{% block page_content %}
<div class="x_panel">
    <div class="x_content">

        <div class=" col-md-10">
            <div class="x_panel immagini" data-id="{{ gallery.id }}">
                <div class="x_title">
                    <h2>{% trans %} gallery.labels.elenco_immagini {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content img-container">

                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans %} gallery.labels.help {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p class="helpblock">
                        {% trans %} gallery.labels.help_text {% endtrans %}                    </p>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/app/admin/js/gallery.js') }}"></script>
        <script src="{{ asset("node_modules/jquery-form/dist/jquery.form.min.js") }}"></script>

        <script src="{{ asset('node_modules/dropzone/dist/dropzone.js') }}"></script>

    {% endblock %}

    {% block handlebars %}
        {{ parent() }}
        {% verbatim %}
    <script type="text/x-handlebars" id="imageTemplate">
        <div id="a_{{id}}" class="col-md-4 sortList text-center image-box" data-id="{{id}}">
            <div class="frame">
                {{#if warning}}
                    <div class="warning">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                {{/if}}
                <div class="handle">
                    <i class="fa fa-arrows-alt"></i>
                </div>

                <div class="img-thumb" style="background-image:url(/{{ src }})"></div>
                <p>{{nome}}</p>
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-primary btn-edit-img"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="#" class="btn btn-danger btn-delete-img"><i class="fa fa-trash"></i> Cancella</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>
    {% endverbatim %}
    {% endblock %}
