{{ form_start(newsCatForm) }}

{{ form_errors(newsCatForm) }}


<div class="x_panel">
    <div class="x_title">
        <h2>{% trans %} default.labels.dati_strutturali {% endtrans %}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        {{ form_row(newsCatForm.isEnabled) }}
        {{ form_row(newsCatForm.nome) }}
        {{ form_row(newsCatForm.tipo) }}
        {{ form_row(newsCatForm.descrizione) }}
        {{ form_row(newsCatForm.validitaNazioni) }}
        {{ form_row(newsCatForm.nazioni) }}
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>{% trans %} ecommerce.labels.gestione_prezzi {% endtrans %}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        {{ form_row(newsCatForm.prezzo) }}
        {{ form_row(newsCatForm.codiceIva) }}
        <div class="form-group">

            <label class="control-label col-md-3 col-sm-6 col-xs-6"> Aliquota </label>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <input class="form-control js-aliquota" readonly>
            </div>
            <label class="control-label col-md-3 col-sm-6 col-xs-6"> Imposta </label>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <input class="form-control js-imposta" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-6 col-xs-6"> Prezzo tassato </label>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <input class="form-control js-prezzo-tassato" readonly>
            </div>
        </div>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>{% trans %} ecommerce.labels.gestione_prezzi_scontati_perPrezzo {% endtrans %}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <ul class="tags" data-prototype="{{ form_widget(newsCatForm.sconti_prezzo.vars.prototype)|e('html_attr') }}">

            {% for sconto in newsCatForm.sconti_prezzo %}
                <li>
                    {{ form_widget(sconto) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="x_panel">
    <div class="x_title">
        <h2>{% trans %} ecommerce.labels.dati_fatturazione {% endtrans %}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        {{ form_row(newsCatForm.nomeFatturazione) }}
        {{ form_row(newsCatForm.indirizzoFatturazione) }}
        {{ form_row(newsCatForm.capFatturazione) }}
        {{ form_row(newsCatForm.cittaFatturazione) }}
        {{ form_row(newsCatForm.provinciaFatturazione) }}
        {{ form_row(newsCatForm.nazioneFatturazione) }}
        {{ form_row(newsCatForm.telefonoFatturazione) }}
    </div>
</div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {% trans %}
            default.labels.salva {% endtrans %}</button>

    <a href="{{ path('metodi-spedizione-ecommerce') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
            default.labels.chiudi {% endtrans %}</a>
</div>

{{ form_end(newsCatForm) }}
