{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/vendors/Croppie/croppie.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/webtekecommerce/css/shipments.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('admin/node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/vendors/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('admin/vendors/Croppie/croppie.js') }}"></script>
    <script src="{{ asset('admin/node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/moment/min/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/webtekecommerce/shipments.js') }}"></script>


{% endblock %}

{% block page_content %}
    {{ include('@WebtekEcommerce/admin/shipments/form.html.twig') }}
{% endblock %}
