<div class="slider-wrapper">
    <div class="slider-main">
        {% for slide in immagini_slider %}
            {% if slide.src %}
                <div>
                    <img src="{{ slide.src }}" alt="{{ slide.alt|default("") }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>