.headerOnlyTextWithLink {
  font-family: $font;
  background: $color4;
  .testo {
    text-align: center;
    padding: 100px 15%;
    color: $color5;
    font-weight: $medium;
    font-size: 18px;
    strong {
      color: $color2;
      font-weight: $medium;
    }
  }
  .titoletto {
    font-weight: $bold;
    text-align: center;
    color: $color2;
    font-size: 30px;
  }
  .pulsante {
    position: relative;
    height: 46px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .freccia span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-left: -23px;
    border: 3px solid $color5;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 8;
    bottom: 60px;
  }
  .freccia span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 3px solid $color1;
    border-bottom: 3px solid $color1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .freccia span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 32px;
    margin-left: -1px;
    margin-top: -1px;
    height: 32px;
    background: $color5;
    box-shadow: 0 0 0 0 #d2d2d2;
    border-radius: 100%;
    opacity: 1;

    box-sizing: border-box;
  }
}

