<section class="headerOnlyTextWithLink">
    <div class="container-fluid">
        <p class="testo">
            {{ testo.val|raw }}
        </p>
        <h3 class="titoletto">{{ titoletto.val|raw }} </h3>
        <div class="pulsante">
            <a class="freccia" href="{{ link.link }}">
        <span>

        </span>
            </a>
        </div>
    </div>
</section>
