<h5>{{ titolo.val|upper }}</h5>
<hr/>

{% if data.News is not empty %}
    {% set News = attribute(data.News, 0) %}
    {% set img = News.UploadDir ~ News.ListImgFileName %}
    <div class="most-read">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                        <img class="img-grande" src="{{ asset(img) | imagine_filter('news4') }}"
                             alt="{{ News.listImgAlt }}"/>
                        <p class="label-categoria">
                            {{ blogService.getCategory(News, app.request.locale).titolo }}
                        </p>
                    </a>
                </div>
                <div class="col-lg-12">
                    <h6>{{ blogService.getDate(News) }}</h6>
                    <h5>
                        <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">{{ News.translate(app.request.locale).titolo }}</a>
                    </h5>
                    <p>{{ blogService.getTextPreview(News, 150, app.request.locale) }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="most-read-list">
        <div class="container-fluid">
            {% for News in data.News %}
                {% set img = News.UploadDir ~ News.ListImgFileName %}
                {% if loop.index > 1 %}
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                            <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                <img class="img-piccola" src="{{ asset(img) | imagine_filter('news5') }}"
                                     alt="{{ News.listImgAlt }}"/>
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
                            <h6>{{ blogService.getDate(News) }}</h6>
                            <h5>
                                <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">{{ News.translate(app.request.locale).titolo }}</a>
                            </h5>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
