<section class="big_text_section">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="col-md-12">
                <h3 class="big_title" data-aos="zoom-out" data-aos-duration="800">{{ testo.val }}</h3>
            </div>
        </div>
    </div>
</section>
