{% extends "admin/admin.html.twig" %}

{% block page_title %} {% trans %} setup_ecommerce.labels.title{% endtrans %}: {% trans %} default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}

{% endblock %}


{% block page_content %}
    {{ form_start(setupForm) }}
    {{ form_errors(setupForm) }}
    <div class="x_panel">
        <div class="x_title">
            <h2>Dati Aziendali</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            {{ form_row(setupForm.ragioneSociale) }}
            {{ form_row(setupForm.email) }}
            {{ form_row(setupForm.partitaIva) }}
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Sedi Aziendali</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="tabbable">
                <ul class="nav nav-tabs bar_tabs" role="tablist">
                    <li class="active">
                        <a role="presentation" href="#sedeLegale" role="tab" aria-controls="sedeLegale"
                           data-toggle="tab"
                           data-target="#sedeLegale">
                            {% trans %} setup_ecommerce.labels.sedeLegale {% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a role="presentation" href="#sedeOperativa" role="tab" aria-controls="sedeOperativa"
                           data-toggle="tab"
                           data-target="#sedeOperativa">
                            {% trans %} setup_ecommerce.labels.sedeOperativa {% endtrans %}
                        </a>
                    </li>

                </ul>


                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="sedeLegale"
                         class="active">
                        {{ form_row(setupForm.indirizzoLegale) }}
                        {{ form_row(setupForm.capLegale) }}
                        {{ form_row(setupForm.cittaLegale) }}
                        {{ form_row(setupForm.provinciaLegale) }}
                        {{ form_row(setupForm.nazioneLegale) }}
                        {{ form_row(setupForm.telefonoLegale) }}
                        {{ form_row(setupForm.faxLegale) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="sedeOperativa"
                         class="active">
                        {{ form_row(setupForm.indirizzoOperativa) }}
                        {{ form_row(setupForm.capOperativa) }}
                        {{ form_row(setupForm.cittaOperativa) }}
                        {{ form_row(setupForm.provinciaOperativa) }}
                        {{ form_row(setupForm.nazioneOperativa) }}
                        {{ form_row(setupForm.telefonoOperativa) }}
                        {{ form_row(setupForm.faxOperativa) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Testi Legali</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_row(setupForm.privacyPolicy) }}
            {{ form_row(setupForm.condizioniVendita) }}
        </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

        <button class="btn btn-success btn-main-submit" formnovalidate>
            <i class="fa fa-save"></i> {% trans %}
                default.labels.salva {% endtrans %}</button>


    </div>
    {{ form_end(setupForm) }}
{% endblock %}





{% block javascripts %}
    {{ parent() }}

    <!--  JSTREE -->
    <script src="{{ asset('node_modules/jstree/dist/jstree.min.js') }}"></script>

    <script src="{{ asset("node_modules/jquery-form/dist/jquery.form.min.js") }}"></script>

    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>

    <script src="{{ asset('bundles/webtekecommerce/admin/js/setup.js') }}"></script>



{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/webtekecommerce/admin/css/setup.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/webtek.css') }}" rel="stylesheet">

{% endblock %}
