a, a:hover {
  color: $color3
}

.most-read {
  .row {
    margin-bottom: 15px;
  }
  .img-piccola {
    width: 100%;
  }
  a, a:hover {
    color: $color3
  }
}

@media screen and (max-width: 450px) {
  .img-grande {
    width: 100%;
  }
  .most-read .row {
    .col-lg-5, .col-lg-7 {
      width: 100%;
    }
  }
}
