{% trans_default_domain "public" %}
{% if data.carrello.recordsCarrello.count %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-push-8 ">
                <div class="container-fluid">
                    <div id="carrello">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    {% trans %}
                                        ecommerce.labels.contenuto_carrello {% endtrans %}
                                </h4>
                            </div>
                            <div class="panel-body">

                                <table class="table table-responsive tab-esterna">

                                    {#<tr>#}
                                    {#<td>{% trans %}ecommerce.labels.numero_oggetti{% endtrans %}#}
                                    {#<br/>#}
                                    {#<a href="#" class="showDetail">{% trans %}#}
                                    {#ecommerce.labels.dettaglio{% endtrans %}</a>#}
                                    {#</td>#}
                                    {#<td class="numeric">{{ carrelloHelper.getNumberOfItems(data.carrello) }}</td>#}
                                    {#</tr>#}

                                    <tr>
                                        <td colspan="2">

                                            <table class="table table-responsive detail">
                                                {% for riga in data.carrello.recordsCarrello %}
                                                    <tr>
                                                        <td>
                                                            <img src="{{ asset(riga.prodotto.uploadDir ~ riga.prodotto.listImgFileName) | imagine_filter('product_mini') }}"
                                                                 alt="{{ riga.prodotto.listImgAlt }}"/>
                                                        </td>
                                                        <td>
                                                            {% if ecommerce.manage_brands %}
                                                                <div class="brand"> {{ riga.prodotto.brand }} </div>
                                                            {% endif %}
                                                            <div class="nome-prodotto">
                                                                {{ riga.prodotto }}
                                                                {% if riga.note|default("") %}
                                                                    <br/>
                                                                    <strong class="noteProdotto">{{ riga.note }}</strong>
                                                                {% endif %}
                                                            </div>
                                                            <div class="variante-prodotto">
                                                                {{ riga.variante }}
                                                            </div>
                                                            <div class="quantita">
                                                                <strong>{% trans %}
                                                                        ecommerce.labels.quantity{% endtrans %}
                                                                    : </strong>{{ riga.qty }}
                                                            </div>
                                                        </td>
                                                        <td class="numeric">{{ productHelper.getPrezzo(riga.prodotto, listinoHelper.getDefault(), riga.variante, data.carrello.coupon) | localizedcurrency('EUR') }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </td>
                                    </tr>
                                    {% if ecommerce.enable_coupons %}
                                        {% if data.carrello.coupon and data.carrello.coupon.type == 0 %}
                                            <tr>
                                                <td colspan="2">
                                                    {{ data.carrello.coupon.translate().titolo }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}

                                    <tr class="imponibile">
                                        <td>{% trans %}ecommerce.labels.imponibile{% endtrans %}</td>
                                        <td class="numeric">{{ carrelloHelper.getImponibile(data.carrello)  | localizedcurrency('EUR') }}</td>
                                    </tr>
                                    {% for tasse in carrelloHelper.getTasse(data.carrello) %}
                                        <tr>
                                            <td>
                                                {{ tasse.description }}
                                            </td>
                                            <td class="numeric">{{ tasse.imposta | localizedcurrency('EUR') }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if data.selected.Delivery %}
                                        <tr>
                                            <td>{{ data.selected.Delivery.translate().nome }}<br/>
                                                {#{{ data.selected.Delivery.translate().descrizione }}#}
                                            </td>
                                            <td class="numeric">{{ deliveryHelper.getPrice(data.selected.Address, data.selected.Delivery, carrelloHelper.getTotalePerCalcoloSpese(data.carrello)) | localizedcurrency('EUR') }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if ecommerce.enable_coupons and data.carrello.coupon and data.carrello.coupon.type == 1 %}
                                        <tr class="riga-totale">
                                            <td>{% trans %}ecommerce.labels.subtotale{% endtrans %}</td>
                                            <td class="numeric">
                                                {{ carrelloHelper.getTotale(data.carrello, deliveryHelper.getPrice(data.selected.Address, data.selected.Delivery, carrelloHelper.getTotale(data.carrello, 0, true)), true)  | localizedcurrency('EUR') }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ data.carrello.coupon.translate().titolo }}</td>
                                            <td class="numeric">
                                                -{{ data.carrello.coupon.value | localizedcurrency('EUR') }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr class="riga-totale">
                                        <td>{% trans %}ecommerce.labels.totale{% endtrans %}</td>
                                        <td class="numeric">
                                            {{ carrelloHelper.getTotale(data.carrello,
                                                deliveryHelper.getPrice(data.selected.Address, data.selected.Delivery, carrelloHelper.getTotalePerCalcoloSpese(data.carrello))
                                                , false)  | localizedcurrency('EUR') }}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-lg-pull-4 ">
                <div class="container-fluid">
                    <div class="row">
                        {% if data.loginError %}
                            <div class="alert alert-danger">
                                <i class="fa fa-exclamation-triangle"></i>{{ data.loginError.messageKey|trans(data.loginError.messageData, 'security') }}
                            </div>
                        {% endif %}
                        {% set problemiGiacenze = false %}
                        {% for riga in data.carrello.recordsCarrello %}
                            {% if riga.note|default("") %}
                                {% set problemiGiacenze = true %}
                            {% endif %}
                        {% endfor %}
                        {% if problemiGiacenze %}

                            <div class="alert alert-danger">
                                <i class="fa fa-exclamation-triangle"></i> {% trans %}
                                    ecommerce.labels.problemi_giacenze {% endtrans %}
                            </div>

                        {% endif %}
                        {% for error in data.registrationError %}
                            <div class="alert alert-danger">
                                <i class="fa fa-exclamation-triangle"></i>{{ error }}
                            </div>
                        {% endfor %}
                        {% if not data.customer %}
                            <div class="user-login-text">
                                Se sei già nostro cliente <a href="#" class="user-login-text openUserMenuCheckout">
                                    clicca
                                    qui per accedere</a> , oppure compila il modulo qui sotto per
                                registrarti e effettuare l'ordine.
                            </div>
                            <div class="registrazione {% if data.registrationError is defined and data.registrationError|length %}type-panel-active{% endif %}">
                                {% form_theme data.formRegistrazione '_simpleTheme.html.twig' %}
                                {{ form_start(data.formRegistrazione) }}
                                <div style="display:none">
                                    {{ form_row(data.formRegistrazione.isGuest) }}
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1 class="titolo-registrazione">REGISTRAZIONE</h1>
                                        <p class="subtitle-registrazione">I campi contrassegnati da <span>*</span>
                                            sono obbligatori</p>
                                        <h3 class="titoletto-form">DATI FATTURAZIONE</h3>
                                        {{ form_row(data.formRegistrazione.isAzienda) }}
                                        {{ form_row(data.formRegistrazione.ragioneSociale) }}
                                        {{ form_row(data.formRegistrazione.partitaIva) }}

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.nome) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.cognome) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.indirizzo) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.nazione) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4" style="">
                                                {{ form_row(data.formRegistrazione.cap) }}
                                            </div>
                                            <div class="col-sm-8">
                                                {{ form_row(data.formRegistrazione.provincia) }}
                                                {{ form_row(data.formRegistrazione.provincia_text) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.comune) }}
                                        {{ form_row(data.formRegistrazione.comune_text) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.telefono) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.cellulare) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.codiceFiscale) }}
                                    </div>
                                    {#<div class="col-sm-6">#}
                                    {#{{ form_row(data.formRegistrazione.email) }}#}
                                    {#</div>#}
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.email.first) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.email.second) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.plainPassword.first) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(data.formRegistrazione.plainPassword.second) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 class="titoletto-form">INFORMATIVA SULLA PRIVACY</h3>

                                        <div class="informativa-privacy">
                                            <p>
                                                Ai sensi dell'art. 13 del D. Lgs. 196/03, i dati personali sono
                                                raccolti con modalitÃ
                                                telematiche e trattati con modalitÃ automatizzate, unicamente per le
                                                finalitÃ connesse
                                                all'evasione delle richieste. Il conferimento di tali dati da parte
                                                del richiedente ed il
                                                consenso al loro trattamento sono facoltativi; in difetto, le
                                                richieste non potranno essere
                                                evase. I dati personali non saranno in alcun modo divulgati.<br>
                                                Il richiedente potrÃ esercitare i diritti previsti dall'art. 7, D.
                                                Lgs. 196/03 (accesso,
                                                correzione, cancellazione, opposizione, ecc.), facendone espressa
                                                richiesta al titolare del
                                                trattamento dei dati (visionabile nella sezione Condizioni di
                                                vendita).<br>
                                                Sicurezza<br>
                                                Al fine di garantire la massima tutela in tema di trattamento dei
                                                dati personali, il titolare e
                                                il/i responsabile/i del trattamento dati si impegnano ad osservare
                                                ed attuare con scrupolo le
                                                leggi applicabili in materia, tra cui:<br>
                                                - il D. Lgs. 196/03.<br>
                                                Presa visione delle informazioni che precedono, acconsento al
                                                trattamento dei miei dati
                                                personali.
                                            </p>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="accettazione-privacy" value="">
                                                Acconsento al trattamento dei miei dati personali ai sensi del D.Lgs
                                                196/03.*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-main-submit pulsante-form" formnovalidate>
                                    {% trans %} default.labels.registrati {% endtrans %}</button>

                                {{ form_end(data.formRegistrazione) }}


                            </div>

                        {% else %}


                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingDatiAnagrafici">
                                        <h4 class="panel-title">
                                            <a role="button">
                                                {% trans %} ecommerce.labels.dati_anagrafici {% endtrans %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="datiAnagrafici" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="headingDatiAnagrafici">
                                        <div class="panel-body">
                                            <p>
                                                {{ data.customer.user.nome }} {{ data.customer.user.cognome }}<br/>
                                                {{ data.customer.indirizzo }}
                                                <br/>
                                                {{ data.customer.cap }} {{ data.customer.comuneString }}
                                                - {{ data.customer.provinciaString }} - {{ data.customer.Nazione }}
                                            </p>


                                            <a class="btn btn-default"
                                               href="{{ path('security_ecommerce_logout') }}"> {% trans %}
                                                    ecommerce.labels.logout {% endtrans %} </a>


                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingIndirizzi">
                                        <h4 class="panel-title">
                                            <a class="collapsed">
                                                {% trans %} ecommerce.labels.indirizzo_consegna {% endtrans %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="indirizzi" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="headingIndirizzi">
                                        <div class="panel-body">

                                            {% form_theme data.formIndirizzi 'ecommerceForm.html.twig' %}
                                            {{ form_start(data.formIndirizzi) }}
                                            {{ form_row(data.formIndirizzi.indirizzoId) }}
                                            {% for indirizzo in data.customer.indirizzi %}

                                                {% set addressSelected = false %}

                                                {% for choice in data.formIndirizzi.indirizzoId %}
                                                    {% if choice.vars.value == indirizzo.id and choice.vars.checked %}
                                                        {% set addressSelected = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if loop.index%3==1 or loop.index == 1 %}
                                                    <div class="row">
                                                {% endif %}
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="panel indirizzo{% if addressSelected %}  panel-primary{% else %} panel-default{% endif %}"
                                                         data-id="{{ indirizzo.id }}">
                                                        <div class="panel-body">
                                                            <p>
                                                                {{ indirizzo.presso }}
                                                                <br/>
                                                                {{ indirizzo.indirizzo }}
                                                                <br/>
                                                                {{ indirizzo.cap }} {{ indirizzo.comuneString }}
                                                                - {{ indirizzo.provinciaString }}
                                                                - {{ indirizzo.Nazione }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if loop.index%3==0 or loop.last %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                            {{ form_end(data.formIndirizzi) }}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="indirizzoAdd">
                                                        <div class="newAddressForm">

                                                            {{ form_start(data.formNuovoIndirizzo, {'action' : path('checkout_save_address')}) }}
                                                            {{ form_end(data.formNuovoIndirizzo) }}

                                                        </div>
                                                        <div class="addAddressWrap">
                                                            <a href="#" class="addAddress">
                                                                <i class="fa fa-2x fa-plus"></i>
                                                                {% trans %}
                                                                    ecommerce.labels.add_new_address {% endtrans %}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix">
                                            </div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        &nbsp;
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 text-right">
                                                        <a class="btn btn-default btn-go-indirizzi btn-continue hide"
                                                           href="#"> {% trans %}
                                                                ecommerce.labels.continua {% endtrans %} </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title" id="headingCorriere">
                                            <a class="collapsed">
                                                {% trans %} ecommerce.labels.metodo_consegna {% endtrans %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="corrieri"
                                         class="panel-collapse collapse{% if data.selected.Address %} in{% endif %}"
                                         role="tabpanel" aria-labelledby="headingCorriere">
                                        <div class="panel-body">

                                            {% if data.formCorrieri is defined %}
                                                {% form_theme data.formCorrieri 'ecommerceForm.html.twig' %}
                                                {{ form_start(data.formCorrieri) }}
                                                {{ form_row(data.formCorrieri.delivery) }}

                                                {% for corriere in data.corrieri %}

                                                    {% set corriereSelected = false %}

                                                    {% if data.selected.Delivery == corriere %}
                                                        {% set corriereSelected = true %}

                                                    {% endif %}
                                                    {% if loop.index%3==1 or loop.index == 1 %}
                                                        <div class="row">
                                                    {% endif %}
                                                    <div class="col-lg-4 col-md-4">
                                                        <div class="panel corriere{% if corriereSelected %}  panel-primary{% else %} panel-default{% endif %}"
                                                             data-id="{{ corriere.id }}">
                                                            <div class="panel-body">
                                                                <div class="nome-opzione">
                                                                    {#TODO IMMAGINE DELL OPZIONE#}
                                                                    {{ corriere.translate().nome }}<br/>
                                                                    {{ corriere.translate().descrizione }}

                                                                </div>
                                                                <div class="prezzo-opzione">{{ deliveryHelper.getPrice(data.selected.Address, corriere, carrelloHelper.getTotale(data.carrello, 0, true)) | localizedcurrency('EUR') }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if loop.index%3==0 or loop.last %}
                                                        </div>
                                                    {% endif %}

                                                {% endfor %}
                                                <div class="clearfix"></div>
                                                <div class="col-lg-6 col-md-6">
                                                    &nbsp;
                                                </div>

                                                <div class="col-lg-6 col-md-6 text-right">
                                                    <input type="submit" class="btn btn-default btn-continue hide"
                                                           value="{% trans %} ecommerce.labels.continua {% endtrans %}"/>
                                                </div>

                                                {{ form_end(data.formCorrieri) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if data.formPagamenti is defined %}
                                    {% form_theme data.formPagamenti 'ecommerceForm.html.twig' %}
                                    {{ form_start(data.formPagamenti) }}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title" id="headingPagamento">
                                                <a class="collapsed">
                                                    {% trans %} ecommerce.labels.metodo_pagamento {% endtrans %}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="pagamenti"
                                             class="panel-collapse collapse{% if data.selected.Address and data.selected.Delivery %} in{% endif %}"
                                             role="tabpanel"
                                             aria-labelledby="headingPagamento">
                                            <div class="panel-body">

                                                {{ form_row(data.formPagamenti.Payment) }}
                                                {{ form_row(data.formPagamenti.Delivery) }}
                                                {{ form_row(data.formPagamenti.Address) }}

                                                {% for pagamento in data.pagamenti %}

                                                    <div class="col-lg-4 col-md-4">
                                                        <div class="panel pagamento{% if loop.first %}  panel-primary{% else %} panel-default{% endif %}"
                                                             data-id="{{ pagamento.id }}">
                                                            <div class="panel-body">
                                                                <div class="nome-opzione">
                                                                    {#TODO IMMAGINE DELL OPZIONE#}
                                                                    {{ pagamento.translate().nome }}<br/>
                                                                    {{ pagamento.translate().descrizione }}
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 conclusione">
                                        {{ form_row(data.formPagamenti.note) }}
                                        {{ form_row(data.formPagamenti.condizioni_vendita) }}

                                        <div class="col-lg-6 col-md-6">
                                            &nbsp;
                                        </div>

                                        <div class="col-lg-6 col-md-6 text-right">
                                            <input type="submit"
                                                   class="btn btn-default btn-continue btn-confirm"
                                                   value="Conferma ordine"/>
                                        </div>
                                    </div>

                                    {{ form_end(data.formPagamenti) }}
                                {% endif %}

                            </div>


                        {% endif %}
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script type="text/x-handlebars-template" id="optionsTemplate">
        {% verbatim %}
        {{#each options}}<option value="{{id}}">{{nome}}</option>{{/each}}
    {% endverbatim %}
    </script>

    <script type="text/x-handlebars-template" id="emptyComuneTemplate">
        <option value="0">{% trans %} anagrafica.labels.select_province {% endtrans %}</option>
    </script>
{% else %}
    <div class="alert alert-danger">Non c'Ã¨ nulla da pagare</div>
{% endif %}


<script type="text/x-handlebars" id="noPrivacyTemplate">

    <div id="noWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                        {% trans %}default.labels.privacyRequired{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% trans %}ecommerce.labels.privacyRequiredErrorText{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>







</script>