$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color3: #878787 !default;
$color4: #C9C9C9 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;

.user-login-text {
  color: $color1;
}

.user-login-text {
  font-size: 18px;
  a {
    color: $color2;
  }
}

@media(max-width: 767px) {
  .user-login-text {
    font-size: 16px;
  }
}

.conclusione .col-md-3, .conclusione .col-md-9 {
  padding: 0;
  width: 100%;
}

.noteProdotto {
  font-size: 0.8em;
}

.conclusione textarea {
  border-color: #Efefef;
  border-radius: 0;
}

.conclusione textarea:focus {
  border-color: $color2;
  box-shadow: none;
}

.conclusione .control-label {
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: left !important;
  margin-bottom: 5px;
}

.type-panel {
  display: none;
}

.panel, .panel-body {
  box-shadow: none;
  border: 0;
}

.alert {
  background-color: $color2;
  background-image: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  padding: 6px;
  .fa {
    color: white;
    margin-right: 10px;
  }
}

#scelta_indirizzo_form_indirizzoId, #scelta_spedizionieri_form_delivery, #scelta_pagamento_form_Payment {
  opacity: 0;
  visible: false;
  height: 0;
  width: 0;
}

.pannello {
  border: 1px solid $color5;
  padding: 40px 20px;
  margin-bottom: 40px;
}

.panel {
  margin-bottom: 40px;
  .btn, .btn-default {
    background-image: none;
    border-radius: 0;
    border: 0;
    background-color: $color2;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
  }
}

.conclusione {
  .btn, .btn-default {
    background-image: none;
    border-radius: 0;
    border: 0;
    background-color: $color3;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
  }

}

.btn-confirm {
  background-color: $color2 !important;
}

.pannello {
  .center-absolute {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  p {
    font-size: 14px;
    color: $color6;
    text-align: center;
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    color: $color6;
    font-size: 24px;
    font-weight: 600;
  }

  input {
    background-color: #e9e9e9;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    &:focus {
      box-shadow: none;
    }
  }

  .form-control {
    height: 50px;
    margin-bottom: 20px;
  }

  .psw-forgot {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    color: $color6;
    font-size: 14px;
    font-weight: 600;
  }

  .btn-main-submit {
    background-color: $color2;
    background-image: none;
    border: 0;
    width: 100%;
    border-radius: 0;
    color: white;
    padding: 12px 5px;
    font-weight: 700;
    font-size: 14px;
  }
}

.registrazione {

  & {

    .error-block {
      margin-top: -20px;
    }
    padding: 40px 0;
    .informativa-privacy {
      height: 300px;
      overflow: scroll;
      background-color: #f7f7f7;
      padding: 20px;
      border: 0;
    }
    input, select {
      margin-bottom: 30px;
    }

    .alert {
      background-color: $color2;
      background-image: none;
      color: white;
      font-weight: 600;
      font-size: 18px;
      border: 0;
      @media(max-width: 767px) {
        font-size: 14px;
      }
      .fa {
        color: white;
        margin-right: 10px;
      }
    }

    .titolo-registrazione {
      font-size: 28px;
      color: $color1;
      font-weight: 600;
      text-align: left;
      margin-bottom: 40px;
    }
    .subtitle-registrazione {
      font-size: 14px;
      font-weight: 400;
      color: $color1;
    }
    .titoletto-form {
      font-size: 14px;
      font-weight: 600;
      color: $color6;
    }
    label {
      font-size: 14px;
      color: $color6;
      font-weight: 500;
      span {
        color: $color6;
        font-weight: 700;
      }
    }
    .radio {
      display: inline-block;
      margin-right: 20px;
    }
    .radio label, .checkbox label, .radio-inline, .checkbox-inline, .light-description, .checkbox label {
      font-size: 14px;
      font-weight: 400;
      color: $color6;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    select,
    input[type='text'], input[type='email'], input[type='password'] {
      height: 55px;
      border-radius: 5px;
    }
    input[type="text"] {
      border: 1px #cbcbcb solid;
    }
  }

  @media(max-width: 500px) {
    .titolo-registrazione {
      font-size: 33px;
    }
  }

  @media(max-width: 340px) {
    .titolo-registrazione {
      font-size: 25px;
    }
  }
}

#carrello {
  .panel-heading {
    background-color: $color2;
    .panel-title {
      color: white;
      font-size: 18px;
    }
  }
  .tab-esterna {
    .riga-totale td {
      font-size: 22px;
      font-weight: 400;
      color: $color6;
    }
    .numeric {
      font-size: 15px;
      color: $color1;
      font-weight: 600;
    }
    tr:first-child td, tr:nth-child(2) td {
      border: 0;
    }
    .imponibile {
      border-top: 1px solid #EFEFEF;
    }
    tr td {
      border: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      color: $color1;
      font-size: 14px;
    }
  }
}

.nome-opzione {
  font-size: 16px;
  font-weight: 600;
  color: $color6;
  text-align: center;
  margin-bottom: 10px;
}

.prezzo-opzione {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.panel-body {
  border: 1px solid $color22;
  border-top: 0;
  p {
    font-size: 14px;
    font-weight: 400;
    color: $color6;
  }
}

.addAddressWrap {
  text-align: left;
}

.addAddress {
  display: inline !important;
  color: $color6;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  i {
    color: $color2;
    vertical-align: middle;
    padding-right: 10px;
  }
}

.indirizzo, .corriere, .pagamento {
  .panel-body {
    border: 1px solid $color22;
  }
  &.panel-primary .panel-body {
    border: 1px solid $color2;
  }
}

.panel-heading {
  border: 0;
  border-radius: 0;
  background-image: none;
  background-color: $color22;
  padding: 15px;
  padding-left: 27px;
}

.panel-title {
  font-size: 18px;
  font-weight: 500;
  color: $color6;
}

.type-panel-active {
  display: block;
}

.indirizzo {
  min-height: 8em;
}

.addAddress {
  margin: 1em auto 0 auto;
  width: 4em;
  display: inline-block;
}

.indirizzoAdd {
  text-align: center;
}

.indirizzo, .corriere, .pagamento {
  cursor: pointer;
}

.indirizzo.panel-primary {
}

.numeric {
  text-align: right;
  vertical-align: bottom;
}

.detailDiv {
  display: none;
}

.detail tr td img {
  width: 3em;
}

.detail {
  .brand {
    color: $color8;
    font-size: 14px;
  }
  .nome-prodotto {
    color: $color20;
    font-size: 15px;
  }
  .variante-prodotto {
    color: $color8;
    font-size: 13px;
  }
  .quantita {
    color: $color20;
    font-size: 13px;
  }
}

.detail tr td {
  vertical-align: middle;
}

table.detail > tbody > tr > td {
  border: 0;
}

.newAddressForm {
  display: none;
}

@media(max-width: 991px) {
  .registrazione .titolo-registrazione {
    font-size: 40px;
  }
  .pannello {
    padding: 60px 20px;
  }
  .center-absolute .title {
    margin-top: 0;
  }
  .pannello .center-absolute {
    position: static;
    top: auto;
    left: auto;
    transform: none;
  }
}

@media(max-width: 767px) {
  .registrazione .titolo-registrazione {
    font-size: 32px;
  }
}
