& {
  display: table-row;
  cursor: pointer;
  position: relative;
  .icon-search {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: white;
    font-size: 20px;
    position: relative;
    &:before {
      transition: 2s;
    }
  }

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.6);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.6);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.6);
}

.search-input {
  cursor: pointer;
  opacity: 0;
  width: 0;
  transition: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  font-family: $font;
  color: white !important;
  font-size: 16px !important;
  border: 0;
  background-color: #DA4C5D;
  padding: 0 20px;
  &:focus {
    background-color: rgba(0, 0, 0, 0.10);
    outline: none;
  }

}



