$dimensione-testo-modulo: $dimensione-testo-uber;
$dimensione-testo-modulo-medio: $dimensione-testo-medio;
$line-height: $dimensione-testo-uber;

.box-doppio-new {
  overflow: hidden;
  width: 100%;

  .col-lg-6 {
    padding: 0;
  }
  .col-img {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .col-text {
    display: table;
    .box-testo {
      text-align: left;
      padding: 50px 15%;
      background-color: $colore-sfondo-box1;
      color: $testo-quarto-colore;
      height: 100%;
      background-repeat: no-repeat;
      background-position: -30% 100%;
      display: table-cell;
      vertical-align: middle;
      background-size: 80%;

      img {
        position: absolute;
        bottom: -30px;
        left: -110px;
        width: 75%;
        opacity: 0.4;
      }
      .titoletto {
        font-size: font-percentage($dimensione-testo-modulo, 1);
        font-weight: $medium;
        font-family: 'main-font';
      }
      .titolo {
        font-family: 'main-font';
        font-size: $dimensione-testo-modulo;
        font-weight: $semi-bold;
        strong {
          font-weight: $bold;
        }
        margin-bottom: 30px;
      }
      .testo {
        line-height: $line-height;
        font-family: 'second-font';
        font-size: font-percentage($dimensione-testo-modulo-medio, 0.95);
        font-weight: $regular;
        color: $testo-quarto-colore;

        strong {
          font-weight: $extra-bold;
          color: $testo-quarto-colore;
          font-style: italic;
          font-family: $third-font;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .box-doppio-new {
    .col-text {
      .box-testo {
        padding: 30px 12%;
        .titoletto {
          font-size: font-percentage($dimensione-testo-modulo, 0.85);
        }
        .titolo {
          font-size: font-percentage($dimensione-testo-modulo, 0.85);
          margin-bottom: 30px;
        }
        .testo {
          line-height: font-percentage($line-height, 0.90);
          font-size: font-percentage($dimensione-testo-modulo-medio, 0.70);
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .box-doppio-new {
    .col-text {
      .box-testo {
        padding: 30px 10%;
        .titoletto {
          font-size: font-percentage($dimensione-testo-modulo, 0.75);
        }
        .titolo {
          font-size: font-percentage($dimensione-testo-modulo, 0.75);
          margin-bottom: 25px;
        }
        .testo {
          line-height: font-percentage($line-height, 0.75);
          font-size: font-percentage($dimensione-testo-modulo-medio, 0.60);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .box-doppio-new {
    .col-text {
      .box-testo {
        padding: 30px 5%;
        .titoletto {
          font-size: font-percentage($dimensione-testo-modulo, 0.65);
        }
        .titolo {
          font-size: font-percentage($dimensione-testo-modulo, 0.65);
          margin-bottom: 25px;
        }
        .testo {
          line-height: font-percentage($line-height, 0.60);
          font-size: font-percentage($dimensione-testo-modulo-medio, 0.55);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .box-doppio-new {
    .col-text {
      background-size: 50%;
      .box-testo {
        padding: 50px 5%;
        text-align: center;
        .titoletto {
          font-size: font-percentage($dimensione-testo-modulo, 0.65);
        }
        .titolo {
          font-size: font-percentage($dimensione-testo-modulo, 0.65);
          margin-bottom: 25px;
        }
        .testo {
          line-height: font-percentage($line-height, 0.55);
          font-size: font-percentage($dimensione-testo-modulo-medio, 0.55);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .box-doppio-new .col-img {
    height: 300px !important;
  }
}
