{% extends "@WebtekEcommerce/admin/brands/formLayout.html.twig" %}

{% block title %} {% trans %} brands.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} brands.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


