.slider-cards {
  background-color: $color6;
  padding-bottom: 80px;
  position: relative;
  h3 {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    font-size: $text8;
    font-weight: $bold;
  }
  .link-download {
    position: absolute;
    right: 30px;
    bottom: 30px;
    a {
      font-weight: $bold;
      color: $color3;
    }
  }
  .slider {
    .slick-dots {
      bottom: -65px;
      li button:before {
        font-size: $text1;
      }
      li.slick-active button:before {
        color: transparent;
        border: 3px solid $color1;
        border-radius: 10px;
        font-size: 12px;
        top: -2px;
      }
    }
    .thumbnail {
      padding: 50px;
      border: none;
      text-align: center;
      margin: 0 10px;
      > img {
        height: 120px;
        margin-bottom: 20px;
      }
      p {
        font-size: $text2;
        letter-spacing: 0.5px;
      }
      .read-more {
        font-weight: $bold;
        font-size: $text1;
        img {
          display: inline-block;
        }
        &.dark {
          color: $color3;
        }
        &:hover, &:focus, &:active {
          color: $color1;
          transition-duration: 0.3s;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .slider-cards .slider .thumbnail {
    > img {
      height: 80px;
    }
    p {
      font-size: font-percentage($text2, 0.9);
    }
  }
}

@media screen and (max-width: 767px) {
  .slider-cards .slider .thumbnail {
    padding: 20px;
    > img {
      height: 70px;
    }
    p {
      font-size: font-percentage($text2, 0.8);
    }
  }
  .slider-cards .slider .slick-dots {
    bottom: -95px;
  }
  .slider-cards {
    .link-download {
      position: relative;
      right: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  }
}
