{% trans_default_domain "public" %}
<div class="sezione thumbnails">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-aos="flip-right" data-aos-duration="1000"
                 data-aos-delay="">
                <div class="thumbnail">
                    <img src="{{ immagine1.src | default("") }}" alt="{{ immagine1.alt | default("") }}"/>
                </div>
                <div class="box-hover">
                    <h5>{% trans %}ottoblocchititolotesto.labels.claim1{% endtrans %}</h5>
                    <h3>{% trans %}ottoblocchititolotesto.labels.claim2{% endtrans %}</h3>
                    <a href="{{ link1.link| default("#") }}"
                       class="btn btn-default">{% trans %}default.labels.richiedi_informazioni{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
                </div>
                <h2>{{ titolo1.val | default("") }}</h2>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-aos="flip-right" data-aos-duration="1000"
                 data-aos-delay="200">
                <div class="thumbnail">
                    <img src="{{ immagine2.src | default("") }}" alt="{{ immagine2.alt | default("") }}"/>
                </div>
                <div class="box-hover">
                    <h5>{% trans %}ottoblocchititolotesto.labels.claim1{% endtrans %}</h5>
                    <h3>{% trans %}ottoblocchititolotesto.labels.claim2{% endtrans %}</h3>
                    <a href="{{ link2.link| default("#") }}"
                       class="btn btn-default">{% trans %}default.labels.richiedi_informazioni{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
                </div>
                <h2>{{ titolo2.val | default("") }}</h2>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-aos="flip-right" data-aos-duration="1000"
                 data-aos-delay="400">
                <div class="thumbnail">
                    <img src="{{ immagine3.src | default("") }}" alt="{{ immagine3.alt | default("") }}"/>
                </div>
                <div class="box-hover">
                    <h5>{% trans %}ottoblocchititolotesto.labels.claim1{% endtrans %}</h5>
                    <h3>{% trans %}ottoblocchititolotesto.labels.claim2{% endtrans %}</h3>
                    <a href="{{ link3.link| default("#") }}"
                       class="btn btn-default">{% trans %}default.labels.richiedi_informazioni{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
                </div>
                <h2>{{ titolo3.val | default("") }}</h2>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-aos="flip-right" data-aos-duration="1000"
                 data-aos-delay="600">
                <div class="thumbnail">
                    <img src="{{ immagine4.src | default("") }}" alt="{{ immagine4.alt | default("") }}"/>
                </div>
                <div class="box-hover">
                    <h5>{% trans %}ottoblocchititolotesto.labels.claim1{% endtrans %}</h5>
                    <h3>{% trans %}ottoblocchititolotesto.labels.claim2{% endtrans %}</h3>
                    <a href="{{ link4.link| default("#") }}"
                       class="btn btn-default">{% trans %}default.labels.richiedi_informazioni{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
                </div>
                <h2>{{ titolo4.val | default("") }}</h2>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-aos="flip-right" data-aos-duration="1000"
                 data-aos-delay="800">
                <div class="thumbnail">
                    <img src="{{ immagine5.src | default("") }}" alt="{{ immagine5.alt | default("") }}"/>
                </div>
                <div class="box-hover">
                    <h5>{% trans %}ottoblocchititolotesto.labels.claim1{% endtrans %}</h5>
                    <h3>{% trans %}ottoblocchititolotesto.labels.claim2{% endtrans %}</h3>
                    <a href="{{ link5.link| default("#") }}"
                       class="btn btn-default">{% trans %}default.labels.richiedi_informazioni{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
                </div>
                <h2>{{ titolo5.val | default("") }}</h2>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-aos="flip-right" data-aos-duration="1000"
                 data-aos-delay="1000">
                <div class="thumbnail">
                    <img src="{{ immagine6.src | default("") }}" alt="{{ immagine6.alt | default("") }}"/>
                </div>
                <div class="box-hover">
                    <h5>{% trans %}ottoblocchititolotesto.labels.claim1{% endtrans %}</h5>
                    <h3>{% trans %}ottoblocchititolotesto.labels.claim2{% endtrans %}</h3>
                    <a href="{{ link6.link| default("#") }}"
                       class="btn btn-default">{% trans %}default.labels.richiedi_informazioni{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
                </div>
                <h2>{{ titolo6.val | default("") }}</h2>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-aos="flip-right" data-aos-duration="1000"
                 data-aos-delay="1200">
                <div class="thumbnail">
                    <img src="{{ immagine7.src | default("") }}" alt="{{ immagine7.alt | default("") }}"/>
                </div>
                <div class="box-hover">
                    <h5>{% trans %}ottoblocchititolotesto.labels.claim1{% endtrans %}</h5>
                    <h3>{% trans %}ottoblocchititolotesto.labels.claim2{% endtrans %}</h3>
                    <a href="{{ link7.link| default("#") }}"
                       class="btn btn-default">{% trans %}default.labels.richiedi_informazioni{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
                </div>
                <h2>{{ titolo7.val | default("") }}</h2>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-aos="flip-right" data-aos-duration="1000"
                 data-aos-delay="1400">
                <div class="thumbnail">
                    <img src="{{ immagine8.src | default("") }}" alt="{{ immagine8.alt | default("") }}"/>
                </div>
                <div class="box-hover">
                    <h5>{% trans %}ottoblocchititolotesto.labels.claim1{% endtrans %}</h5>
                    <h3>{% trans %}ottoblocchititolotesto.labels.claim2{% endtrans %}</h3>
                    <a href="{{ link8.link| default("#") }}"
                       class="btn btn-default">{% trans %}default.labels.richiedi_informazioni{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
                </div>
                <h2>{{ titolo8.val | default("") }}</h2>
            </div>
        </div>
    </div>
</div>
