{{ form_start(vetrinaCatForm) }}
{{ form_errors(vetrinaCatForm) }}

{{ form_row(vetrinaCatForm.nome) }}
{{ form_row(vetrinaCatForm.dimensioni) }}

<div class="clearfix"></div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

    <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
            default.labels.salva {% endtrans %}</button>

    <a href="{{ path('vetrinacat') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
            default.labels.chiudi {% endtrans %}</a>
</div>


{{ form_end(vetrinaCatForm) }}