{% extends "admin/admin.html.twig" %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/vendors/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('admin/vendors/Croppie/croppie.js') }}"></script>
    <script src="{{ asset('admin/node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/moment/min/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/webtekecommerce/admin/js/orders_status.js') }}"></script>


{% endblock %}

{% block page_content %}
    {{ include('@WebtekEcommerce/admin/orders_status/form.html.twig') }}
{% endblock %}
