<section class="blocchi_logo_testo_foto">
    <div class="container-fluid">
        <div class="row">
            {% if posizione.val != 1 %}
                <div class="col-md-4 col-xs-12 col_logo dx_arrow col_matcheight">
                    <div class="logo_wrapper">
                        <img class="logo img-responsive" src="{{ logo.src }}" alt="{{ logo.alt|default("") }}">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col_testo col_matcheight">
                    <p class="titolo">{{ titolo.val }}</p>
                    <p class="sottotitolo">{{ sottotitolo.val }}</p>
                    <p class="testo">{{ testo.val }}</p>
                    <p class="riconoscimento">{{ riconoscimento.val }}</p>
                    <p class="commento">{{ commento.val }}</p>
                </div>
                <div class="col-md-2 col_foto col_matcheight">
                    <div class="foto_wrapper">
                        <img class="foto float_r img-responsive" src="{{ foto.src }}" alt="{{ foto.alt|default("") }}">
                    </div>
                </div>
            {% else %}
                <div class="col-md-2 col_foto col_matcheight">
                    <div class="foto_wrapper">
                        <img class="foto float_l img-responsive" src="{{ foto.src }}" alt="{{ foto.alt|default("") }}">
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-md-push-6 col_logo sx_arrow col_matcheight">
                    <div class="logo_wrapper">
                        <img class="logo img-responsive" src="{{ logo.src }}" alt="{{ logo.alt|default("") }}">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-md-pull-4 col_testo col_matcheight">
                    <p class="titolo">{{ titolo.val }}</p>
                    <p class="sottotitolo">{{ sottotitolo.val }}</p>
                    <p class="testo">{{ testo.val }}</p>
                    <p class="riconoscimento">{{ riconoscimento.val }}</p>
                    <p class="commento">{{ commento.val }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
