<ol class="breadcrumb">
    {% for item in data.items %}
        {% if loop.last %}
            <li class="active">{{ item.label }}</li>
        {% else %}
            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
        {% endif %}
    {% endfor %}
</ol>