.box-doppio-opinioni {
  .col-lg-6 {
    padding: 0;
  }
  .col-slider {
    .quote {
      position: relative;
      top: 20px;
      left: 20px;
    }
    .slider-opinioni {
      padding: 50px 100px;
      > div {
        text-align: center;
        img {
          margin: 0 auto;
          margin-bottom: 30px;
        }
        h3 {
          color: $color3;
          font-size: $text6;
          margin-bottom: 30px;
          font-weight: $bold;
        }
        p {
          color: $color11;
          font-size: $text5;
          margin-bottom: 30px;
          &.firma {
            font-family: 'Pacifico', cursive;
            color: $color11;
            font-size: $text5;
          }
        }
      }
      .slick-dots {
        position: relative;
        bottom: -25px;
        li button:before {
          font-size: $text1;
        }
        li.slick-active button:before {
          color: transparent;
          border: 3px solid $color1;
          border-radius: 10px;
          font-size: 12px;
          top: -2px;
        }
      }
    }
  }
  .col-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-doppio-opinioni .col-slider .slider-opinioni > div {
    img {
      width: 80px;
    }
    h3 {
      font-size: font-percentage($text6, 0.9);
    }
    p {
      font-size: font-percentage($text5, 0.9);
    }
  }
  .box-doppio-opinioni .col-slider .slider-opinioni {
    padding: 30px 60px;
  }
}

@media screen and (max-width: 991px) {
  .box-doppio-opinioni .col-slider .slider-opinioni > div {
    img {
      width: 60px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: font-percentage($text6, 0.8);
      margin-bottom: 10px;
    }
    p {
      font-size: font-percentage($text5, 0.8);
      margin-bottom: 10px;
    }
  }
  .box-doppio-opinioni .col-slider .sliders-opinioni {
    padding: 20px 40px;
  }
  .box-doppio-opinioni .col-slider .quote {
    width: 35px;
  }
}

@media screen and (max-width: 767px) {
  .box-doppio-opinioni .col-slider .slider-opinioni > div {
    h3 {
      font-size: font-percentage($text6, 0.7);
      margin-bottom: 10px;
    }
    p {
      font-size: font-percentage($text5, 0.7);
      margin-bottom: 10px;
    }
  }
  .box-doppio-opinioni .col-slider .sliders-opinioni {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 649px) {
  .box-doppio-opinioni .col-img {
    height: 300px !important;
  }
}
