<div class="sezione home-video"
     {% if not mp4.src and not webm.src and img.src is defined %}style="background-image:url('{{ img.src }}');"
        {% endif %}>
    <div class="overlay"></div>
    {% if mp4.src or webm.src %}
        <video autoplay loop muted{% if img.src %} poster="{{ img.src }}"{% endif %}>
            {% if mp4.src %}
                <source src="{{ mp4.src }}" type="video/mp4">
            {% endif %}
            {% if webm.src %}
                <source src="{{ webm.src }}" type="video/webm">
            {% endif %}
        </video>
    {% endif %}
    <div class="box-centered">
        {% if logo.src %}<img src="{{ logo.src }}" alt="{{ logo.alt }}">{% endif %}
        {% if titolo1.val %}<h3>{{ titolo1.val }}</h3>{% endif %}
        {% if titolo2.val %}<h1>{{ titolo2.val }}</h1>{% endif %}
    </div>
    <div class="icon-box arrow">
        <i class="fa fa-angle-down fa-5x" aria-hidden="true" data-to="{{ link.link }}"></i>
    </div>
</div>
