.sezione.home-video {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  video {
    height: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
  }
  .box-centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color4;
    img {
      width: 400px;
    }
    h1 {
      font-size: 72px;
    }
    h3 {
      font-size: 30px;
    }
  }
  .icon-box.arrow {
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    i {
      color: $color4;
      cursor: pointer;
    }
  }
}

// SEZIONE HOME VIDEO

@media screen and (max-width: 767px) {
  .sezione.home-video .box-centered {
    img {
      width: 200px;
    }
    h3 {
      font-size: 20px;
    }
    h1 {
      font-size: 35px;
    }
  }
  .sezione.home-video .icon-box.arrow {
    bottom: 10%;
  }
}
