{% extends "@WebtekEcommerce/admin/product/formLayout.html.twig" %}

{% block title %} {% trans %} product.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} product.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


