{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/jstree/dist/themes/default/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset("admin/vendors/jquery.tagsinput/dist/jquery.tagsinput.min.css") }}" rel="stylesheet">
    <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/webtekecommerce/admin/css/product.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--  JSTREE -->
    <script src="{{ asset('node_modules/jstree/dist/jstree.min.js') }}"></script>
    <!-- jQuery autocomplete -->
    <script src="{{ asset("admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js") }}"></script>
    <script src="{{ asset("admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js") }}"></script>
    <script src="{{ asset('node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('node_modules/croppie/croppie.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/seo-pixels.js') }}"></script>
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/webtekecommerce/admin/js/product.js') }}"></script>
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/resizableImage.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/allegati.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('@WebtekEcommerce/admin/product/form.html.twig') }}
{% endblock %}
