$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color3: #878787 !default;
$color4: #C9C9C9 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;
$color8: #717078 !default;
$color9: #a0a0a0 !default;
$color10: #FAFAFA !default;
$color11: #949494 !default;
$color12: #595959 !default;
$color13: #d2d2d2 !default;
$color14: #f39200 !default;
$color15: #8d8d8d !default;
$color16: #bdbdbd !default;
$color17: #F9F9F9 !default;
$color18: #F4F4F4 !default;
$color19: #b9b9b9 !default;
$color20: #53c76e !default;
$color21: #787878 !default;
$color22: #EFEFEF !default;
$color23: #585858 !default;
$color24: #f7f7f7 !default;
$color25: #f0f0f0 !default;
$color26: #BFBFBF !default;

.prodotto-main {
  @media(min-width: 992px) {
    .input-group-addon {
      display: none;
    }
  }
  @media(max-width: 992px) {
    .input-group {
      width: 173px;
    }
    .qty {
      margin-right: 0 !important;
      border-radius: 0 !important;
      height: 40px !important;
      width: 100px !important;
      padding-left: 46px !important;
    }
    .input-group-addon.quantity-up, .input-group-addon.quantity-down {
      cursor: pointer;
      background-color: $color2;
      color: white;
      font-size: 15px;
      height: 40px;
      width: 40px;
      font-weight: 600;
      border-radius: 0;
      border: 0;
    }
  }
  .quantity-up, .quantity-down {
    cursor: pointer;
  }

  .voto-numerico {
    display: inline-block;
    color: $color1;
    font-size: 16px;
  }
  .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 24px;
    height: 25px;
    width: 109px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    display: inline-block;
    margin-bottom: 10px;

    &-top {
      color: #FBB03B;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
  }

  .social-link {
    vertical-align: middle;
  }
  .wrap-square {
    padding-bottom: 100%;
    width: 100%;
    position: relative;
    //border: 1px solid $color5;
  }
  .marchioH3 {
    h3 {
      display: inline;
      font-size: inherit;
    }
  }
  .share-box {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-left: 10px;
      li {
        display: inline-block;
        a:hover {
          text-decoration: none;
        }
        span {
          font-size: 26px;
        }
      }
    }
  }
  .nome-prodotto-main {
    font-size: 40px;
    color: $color1;
    margin-bottom: 0px;
    margin-top: 0;
    line-height: 40px;
    font-weight: 300;
  }
  .categoria-prodotto {
    color: #9D9D9D;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .marchioH3 {
    margin-top: 10px;
    display: block;
    margin-bottom: 20px;
  }
  .marchioH3 h3 {
    color: $color2;
    font-size: 16px;
    text-transform: uppercase;

  }
  .testi {
    border-top: 1px solid $color5;
  }
  .descrizione-prodotto, .descrizione-prodotto p {

    .titolo {
      font-size: 12px;
      color: $color2;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 34px;
      margin-top: 60px;
      &:first-child {
        margin-top: 29px;
      }
    }
    li {
      color: $color1;
      font-size: 14px;
    }
    font-size: 14px;
    font-weight: 300;
    color: $color1;
  }
  .nome-variante {
    color: $color1;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .tabs-prodotto {
    margin-top: 40px;
    li {
      border-color: $color5;
      &.active a {
        color: $color6;
      }
      a {
        font-size: 14px;
        font-weight: 700;
        color: $color3;
      }
      a:hover {
        background-color: white;
        color: $color6;
      }
    }
    li:focus {
      outline: 0;
      box-shadow: none;
    }

  }
  .tab-content-prodotto {
    border-left: 1px solid $color5;
    border-right: 1px solid $color5;
    border-bottom: 1px solid $color5;
    margin-bottom: 40px;
    .tab-pane {
      padding: 40px 20px;
      padding-bottom: 30px;
    }
  }
  .sezione-prodotto {
    margin-bottom: 0;
    .disponibilita {
      font-size: 12px;
      font-weight: 600;
      color: #3FB4B3;
      text-transform: uppercase;
      &.disabled {
        color: red;
      }
    }
    .promo-spedizione {
      float: right;
      font-size: 14px;
      font-weight: 600;
      color: $color3;
      img {
        margin-right: 10px;
      }
      strong {
        color: $color2;
        font-weight: 600;
      }
    }
    .prezzo {
      font-size: 30px;
      font-weight: 600;
      float: right;
      color: $color2;
      .old {
        color: $color1;
        text-decoration: line-through;
        font-size: 22px;
        font-weight: 300;
        margin-right: 5px;
      }
    }
    .wishlist-add {
      float: left;
      cursor: pointer;
      color: $color1;
      font-size: 12px;
      span {
        font-size: 30px;
        vertical-align: middle;
        color: #a2a2a2;
      }
      &.active {
        //content: "\e900";
        span {
          color: $color2;
        }
      }
    }
    .lista-vantaggi {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        color: $color1;
        font-size: 10px;
        font-weight: 500;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          color: $color2;
          font-size: 25px;
          vertical-align: middle;
          margin-right: 10px;
          position: relative;
          top: -2px;
        }
      }
    }
    .modulo-quantita {
      display: block;
      margin-top: 20px;
      label {
        font-size: 12px;
        font-weight: 500;
        color: $color1;
        text-transform: uppercase;
      }
      .quantity-nav {
        float: left;
        position: relative;
        height: 50px;
        margin-top: 26px;
      }

      .quantity-button {
        position: relative;
        cursor: pointer;
        border: 1px solid $color5;
        width: 20px;
        text-align: center;
        color: #333;
        font-size: 13px;
        font-family: "Trebuchet MS", Helvetica, sans-serif !important;
        line-height: 1.7;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      .quantity-button.quantity-up {
        position: absolute;
        height: 50%;
        top: 0;
        border-bottom: 1px solid #eee;
      }

      .quantity-button.quantity-down {
        position: absolute;
        bottom: -1px;
        height: 50%;
      }
      .quantita {
        width: 152px;
        height: 50px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        margin-right: 26px;
        padding-left: 72px;
        padding-bottom: 2px;
        padding-top: 2px;
        font-size: 18px;
        color: $color1;
        &:focus {
          box-shadow: none;
        }
      }
      .add-q, .remove-q {
        float: left;
      }
      .acquista-button {
        font-size: 14px;
        font-weight: bold;
        background-color: $color2;
        color: white;
        height: 50px;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
        padding: 12px;
        text-transform: uppercase;

        span {
          color: white;
          vertical-align: middle;
          font-size: 28px;
          margin-right: 10px;
        }
        &.disabled {
          background-color: grey;
          cursor: not-allowed;
        }
      }
    }

  }
  .box-varianti {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    li {
      display: inline-block;
      margin-right: 5px;
      cursor: pointer;
    }
    .notAvailable {
      opacity: 0.5;
      cursor: not-allowed;
      &:focus, &:hover {
        background-color: transparent !important;
        color: $color19 !important;
        border: 1px solid $color5;
      }
    }
    .variante-colore {
      width: 30px;
      height: 30px;
      border-radius: 30px;
    }
    .variante-taglia .attributeSelected {
      background-color: $color2;
      color: white;
      border-color: transparent;
      font-weight: 600;
    }
    .variante-taglia a {
      border: 1px solid $color5;
      padding: 4px 7px;
      height: 30px;
      display: table;
      text-align: center;
      vertical-align: middle;
      color: $color19;
      &:hover {
        text-decoration: none;
        background-color: #484848;
        border-color: transparent;
        color: white;
      }
      &:focus {
        background-color: $color2;
        color: white;
        border-color: transparent;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  .sezione-prodotto {
    padding: 20px 0;
    border-top: 1px solid $color5;
    list-style: none;
    font-size: 17px;
    li {
      color: $color19;
      margin-bottom: 5px;

      strong, > a {
        color: $color3;
        font-weight: 400;
      }
    }
  }
  .slider-img-prodotto {
    a {

      padding: 5px;
      transition: 200ms;
      opacity: 0.85;
      &:hover {
        opacity: 1;
        transition: 200ms;
      }
      &:focus {
        outline: none;
        opacity: 1;
      }
      .wrap {
        position: relative;
        width: 100%;
        height: 150px;
        text-align: center;
        font: 0/0 a;
        &::before {
          content: ' ';
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
      }
      img {
        text-align: center;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .img-prodotto-big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;

    max-width: 100%;
    font: 0/0 a;

    //&::before {
    //  content: " ";
    //  display: inline-block;
    //  vertical-align: middle;
    //  height: 100%;
    //}
    //img {
    //  margin-bottom: 10px;
    //  text-align: center;
    //  max-height: 100%;
    //  max-width: 100%;
    //  width: auto;
    //  display: inline-block;
    //  vertical-align: middle;
    //}

  }

  @media(max-width: 1100px) {
    .sezione-prodotto .modulo-quantita .col-sm-6 {
      width: 100%;
    }
  }

  @media(max-width: 1250px) {

    .nome-prodotto-main {
      font-size: 24px;
      line-height: 28px;
    }
    .sezione-prodotto .prezzo {
      font-size: 30px;
    }
  }
  @media(max-width: 991px) {
    .wrap-square {
      padding-bottom: 50%;
    }
  }

  @media(max-width: 767px) {
    .mobileHelp {
      margin-top: 20px;
    }
  }

}



