.box-doppio-testo-lista {
  .col-lista {
    position: relative;
    .lista {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      padding-left: 100px;
      p {
        margin-bottom: 30px;
        font-size: $text5;
        color: $color10;
        img {
          margin-right: 10px;
        }
        &:hover, &:active, &:focus {
          color: $color3;
          font-weight: $bold;
          transition-duration: 0.3s;
        }
      }
      h2 {
        margin-bottom: 70px;
        font-size: $text10;
        strong {
          font-weight: $extra-bold;
        }
      }
    }
  }
  .col-img {
    .box {
      display: inline-block;
      position: absolute;
      background-color: rgba($color2, .8);
      color: $color5;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      right: 3%;
      padding: 40px 15px;
      h3 {
        font-size: $text7;
        font-weight: $extra-bold;
        strong {
          font-size: $text14;
        }
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-doppio-testo-lista .col-img .box {
    h3 {
      font-size: font-percentage($text7, 0.9);
      strong {
        font-size: font-percentage($text14, 0.8);
      }
    }
  }
  .box-doppio-testo-lista .col-lista .lista {
    h2 {
      font-size: font-percentage($text10, 0.8);
      margin-bottom: 50px;
    }
    p {
      font-size: font-percentage($text5, 0.9);
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 991px) {
  .box-doppio-testo-lista .col-img .box {
    h3 {
      font-size: font-percentage($text7, 0.8);
      strong {
        font-size: font-percentage($text14, 0.6);
      }
    }
  }
  .box-doppio-testo-lista .col-lista .lista {
    padding-left: 20px;
    h2 {
      font-size: font-percentage($text10, 0.6);
      margin-bottom: 20px;
    }
    p {
      font-size: font-percentage($text5, 0.8);
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .box-doppio-testo-lista .col-img .box {
    h3 {
      font-size: font-percentage($text7, 0.7);
      strong {
        font-size: font-percentage($text14, 0.5);
      }
    }
  }
  .box-doppio-testo-lista .col-lista .lista {
    padding-left: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    h2 {
      font-size: font-percentage($text10, 0.5);
      margin-bottom: 10px;
    }
    p {
      font-size: font-percentage($text5, 0.7);
      margin-bottom: 5px;
    }
  }
  .box-doppio-testo-lista .col-img {
    height: 300px !important;
  }
}
