.col-lg-6 {
  padding: 50px 15px;
  .thumbnail {
    margin: 0;
    padding: 30px;
    img {
      margin-bottom: 10px;
      height: 50px;
    }
    h3 {
      font-size: $text8;
      font-weight: $bold;
      color: $color3;
    }
    &:hover, &:focus, &:active {
      h3 {
        color: $color1;
      }
    }
  }
}

@media screen and (max-width: 499px) {
  padding: 15px;
  .col-lg-6 {
    padding: 50px 0;
  }
  .col-lg-6 {
    width: 100%;
  }
}