.pannelli-testo-collapse {
  padding-bottom: 80px;
  > h3 {
    text-align: center;
    font-size: $text8;
    color: $color3;
    font-weight: $bold;
    margin: 0;
    padding: 80px 15px;
  }
  .pannello {
    border-bottom: 1px solid $color11;
    .media {
      padding: 15px 0;
      .media-body {
        h4 {
          margin: 0;
          color: $color3;
          font-weight: $regular;
          font-size: $text5;
        }
      }
      .media-right {
        padding-right: 10px;
        img {
          cursor: pointer;
          transform: rotate(0);
          -moz-transform: rotate(0);
          -webkit-transform: rotate(0);
          -o-transform: rotate(0);
          -ms-transform: rotate(0);
          transition-duration: 0.3s;
        }
        img.rotate {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transition-duration: 0.3s;
        }
      }
    }
    .contenuto-pannello {
      p {
        font-size: $text1;
        color: $color3;
        font-weight: $light;
      }
    }
    &:last-child {
      border: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .pannelli-testo-collapse .pannello {
    padding: 0 20px;
    .media .media-body h4 {
      font-size: font-percentage($text5, 0.8);
    }
  }
}