{% extends "@WebtekEcommerce/admin/group_feature/formLayout.html.twig" %}

{% block title %} {% trans %} group_feature.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} group_feature.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


