<section class="headerImgWithImgBottom">
    {% if img.src == "" %}
        <img class="main-img" src="{{ data.header.img.src }}" alt="{{ data.header.img.alt|default("") }}">
    {% else %}
        <img class="main-img" src="{{ img.src }}" alt="{{ img.alt|default("") }}">
    {% endif %}
    <img class="bottom-img" src="{{ img_bottom.src }}" alt="{{ img_bottom.alt|default("") }}">
    {% if link_img.src != "" %}
        <a class="link" rel="nofollow" href="{{ link.link }}">
            <img src="{{ link_img.src }}" alt="{{ link_img.alt|default("") }}">
        </a>
    {% endif %}
</section>