$color2: #F39200 !default;
$color5: #DEDEDE !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;

.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.titolo {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: $color6;
}

.squares4Row {
  margin-bottom: 60px;
  .square {
    float: left;
    position: relative;
    width: 23.8%;
    padding-bottom: 23.8%;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid $color5;
    margin: 0.6%;
  }
  .square:hover .fade-overlay {
    opacity: 1;
    transition: 500ms;
  }
  .fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 700ms;
    background-color: $color2;
    .overlay-text {
      color: white;
      position: absolute;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
      width: 100%;
      transition: 700ms;
      .marca-overlay {
        a {
          color: inherit;
        }
        font-size: 24px;
        font-weight: 700;
      }
      .subtitle-overlay {
        font-size: 18px;
        margin-top: 5px;
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .freccetta {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      color: white;
      span {
        font-size: 30px;
      }
    }
  }
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .quadrati-container {
    &::after {
      display: table;
      content: " ";
      clear: both;
    }
  }
  .content {
    position: absolute;
    height: 100%;
    width: 100%;

  }
  .text-box {
    height: 30%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: $color6;
    margin: 0;
    &::before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  .img-box {
    width: 100%;
    height: 70%;
    text-align: center;
    font: 0/0 a;
    &:before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    img {
      max-height: 100%;
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media (max-width: 991px) {
    .square {
      width: 31.73%;
      padding-bottom: 31.73%;
      margin: 0.6%;
    }
  }

  @media(max-width: 767px) {
    .square {
      width: 48.8%;
      padding-bottom: 48.8%;
    }
  }
  @media(max-width: 400px) {
    .square {
      width: 98.8%;
      padding-bottom: 98.8%;
    }
  }
}
