{% trans_default_domain "public" %}
<div class="left-blog">
    <h2 class="titolo-ris">Risultati Ricerca:</h2>
    {% if data.pagination is defined and data.pagination|length == 0 %}
        <div class="no-result-container">
            <p>
                Nessun Risultato
            </p>
        </div>
    {% endif %}

    {% for News in data.pagination %}
        {% if data.type == 'category' %}
            {% set News = News.News %}
        {% endif %}
        {% if News.ListImgFileName %}
            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
            {% set imgAlt = News.HeaderImgAlt %}
        {% else %}
            {% set img = "/images/defaults/placeholder.png" %}
            {% set imgAlt = News.translate(app.request.locale).titolo %}
        {% endif %}

        <div class="row row_articolo">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-img">
                <a rel="nofollow"
                   href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                    <img src="{{ asset(img) | imagine_filter('news4') }}" alt="{{ News.listImgAlt }}"/>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-testo">
                <div class="content">
                    <h3 class="titolo-articolo">
                        <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                            {{ News.translate(app.request.locale).titolo }}
                        </a>
                    </h3>
                    <a class="categoria-news"
                       href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">
                        {{ blogService.getCategory(News, app.request.locale).titolo|upper }}
                    </a>
                    <p class="testo-articolo">
                        {{ blogService.getTextPreview(News,300, app.request.locale) }}
                    </p>
                    <a rel="nofollow"
                       href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}"
                       class="btn btn-default">
                        {% trans %}blog.labels.leggi_di_piu{% endtrans %} >
                    </a>
                    {% set commenti = blogService.getCountCommenti(News) %}
                    {#{% if commenti %}
                        <p class="icon-comment">{{ commenti }}
                          <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>
                        </p>
                    {% endif %}#}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if data.pagination is defined and data.pagination|length > 1 %}
        <div id="loader">
            <img src="{{ asset('icons-logos/ajax-load.gif') }}"/>
        </div>
    {% endif %}

    <div class="navigation">
        {{ knp_pagination_render(data.pagination) }}
    </div>
</div>
<script type="text/x-handlebars" id="blogPostTemplate">

    <div class="row row_articolo">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-img">
            <a rel="nofollow" href="{% verbatim %}{{ url }}{% endverbatim %}">
                <img src="{% verbatim %}{{ img }}{% endverbatim %}" alt="{% verbatim %}{{ imgAlt }}{% endverbatim %}" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-testo">
            <div class="content">
                <p class="data-cat-articolo">
                    <span>{% verbatim %}{{ data }}{% endverbatim %}</span> |
                    <a href="{% verbatim %}{{ category_url }}{% endverbatim %}">
                        {% verbatim %}{{ category }}{% endverbatim %}
                    </a>
                </p>
                <h3 class="titolo-articolo">
                    <a href="{% verbatim %}{{ url }}{% endverbatim %}">
                        {% verbatim %}{{ titolo }}{% endverbatim %}
                    </a>
                </h3>
                <p class="testo-articolo">
                    {% verbatim %}{{ text }}{% endverbatim %}
                </p>
                <a rel="nofollow" class="btn btn-default" href="{% verbatim %}{{ url }}{% endverbatim %}">
                    {% trans %}blog.labels.leggi_di_piu{% endtrans %} >
                </a>
            </div>
        </div>
    </div>



</script>
