overflow: hidden

;
height:
calc

(
100
%

-
80
px

)
;
.tabs_with_text_and_images {
  padding: 50px 0 0 0;
  height: calc(100% - 80px);
  min-height: calc(100% - 80px);
  overflow: hidden;
  .container_sezioni,
  .row_sezioni {
    height: 100%;
  }
  .tab-pane {
    height: 100%;
    .row {
      height: 100%;
    }
  }
  .tab-content {
    height: calc(100% - 90px);
  }
  .titolo_servizio {
    color: $color1;
    font-size: font-percentage($font-size4, 0.6);
    font-weight: $bold;
    margin: 0;
    font-style: italic;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      width: 30%;
      transform: translateX(-50%);
      height: 3px;
      background: $color1;
    }
  }
  .sottotitolo_servizio {
    color: $color2;
    font-size: $font-size3;
    font-weight: $regular;
    padding-top: 25px;
    margin: 0;
  }
  .testo_servizio {
    color: $color2;
    padding-top: 25px;
    margin: 0;
    font-size: $font-size1;
    line-height: 35px;
    font-weight: $regular;
    strong {
      font-weight: $medium;
      color: $color1;
    }
  }
  .col_sfondo_servizi {
    opacity: 0;
    transition: 700ms ease-out;
    -moz-transition: 700ms ease-out;
    -o-transition: 700ms ease-out;
    -webkit-transition: 700ms ease-out;
    overflow: hidden;
    height: 100%;
    img {
      padding-top: 60px;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
    }
  }
  .col_testo_servizi {
    opacity: 0;
    transition: 700ms ease-out;
    -moz-transition: 700ms ease-out;
    -o-transition: 700ms ease-out;
    -webkit-transition: 700ms ease-out;
    height: 100%;
    display: table;
  }
  .wrapper_testo_servizi {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .animation_dx {
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    .wrapper_testo_servizi {
      width: 100%;
      padding: 0 10% 0 10%;
    }
  }
  .animation_sx {
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    .wrapper_testo_servizi {
      width: 100%;
      padding: 0 10% 0 20%;
    }
    img {
      right: 0;
    }
  }
  .show_block {
    transform: translate(0%);
    -moz-transform: translate(0%);
    -o-transform: translate(0%);
    -webkit-transform: translate(0%);
    opacity: 1;
  }
  .nav-tabs {
    border: none;
    display: table;
    margin: auto;
    li.active > a {
      &:hover, &:focus {
        border: 1px solid transparent;
      }
    }
    li {
      display: table-cell;
      background-color: transparent;
      a {
        padding: 0 15px;
      }
      &:not(:last-child) {
        border-right: 1px solid rgba($color2, 0.7);
      }
    }
    .active {
      a, .testo_link {
        color: $color2;
        font-style: italic;
        border: 1px solid transparent;
      }
    }
    a, .testo_link {
      color: rgba($color2, 0.7);
      border: 1px solid transparent;
      font-size: $font-size1;
      font-weight: $medium;
      &:hover {
        color: $color1;
        background-color: transparent;
        border: 1px solid transparent;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .tabs_with_text_and_images {
    .sottotitolo_servizio {
      font-size: font-percentage($font-size3, 0.9);
      padding-top: 15px;
    }
    .testo_servizio {
      padding-top: 20px;
      line-height: 30px;
      font-size: font-percentage($font-size1, 0.9);
    }
    .titolo_servizio {
      font-size: font-percentage($font-size4, 0.5);
    }
  }
}

@media screen and (max-width: 1300px) {
  .tabs_with_text_and_images {
    .nav-tabs {
      .testo_link {
        font-size: font-percentage($font-size1, 0.9);
      }
      li {
        a {
          padding: 0px 10px;
        }
      }
    }
    .sottotitolo_servizio {
      font-size: font-percentage($font-size3, 0.8);
      padding-top: 10px;
    }
    .testo_servizio {
      padding-top: 15px;
      line-height: 25px;
      font-size: font-percentage($font-size1, 0.8);
    }
    .titolo_servizio {
      font-size: font-percentage($font-size4, 0.45);
    }
    .wrapper_testo_servizi {
      padding: 0 10% 0 10%;
    }
  }
}

@media screen and (max-width: 991px) {
  height: auto;
  .tabs_with_text_and_images {
    padding: 50px 0 50px 0;
    height: auto;
    min-height: auto;
    text-align: center;
    .testo_link {
      display: none;
    }
    .animation_sx .wrapper_testo_servizi {
      padding: 0 10% 0 10%;
    }
    .titolo_servizio {
      font-size: font-percentage($font-size4, 0.4);
    }
    .sottotitolo_servizio {
      font-size: font-percentage($font-size3, 0.7);
      padding-top: 15px;
    }
    .testo_servizio {
      line-height: 20px;
      font-size: font-percentage($font-size1, 0.8);
    }
    .col_sfondo_servizi {
      img {
        position: static;
        height: auto;
        width: 80%;
        margin-left: auto;
        transform: none;
        -moz-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
    .nav-tabs {
      padding-bottom: 25px;
      li:not(:last-child) {
        border: none;
      }
      a {
        width: 10px;
        height: 10px;
      }
    }
    .button_slider_services {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 10px;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        color: black;
        -webkit-font-smoothing: antialiased;
        font-size: 18px !important;
        content: "" !important;
        border-radius: 10px;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background-color: $color2;
        opacity: .55;
      }
    }
    .active {
      .button_slider_services {
        &:before {
          background-color: $color4;
          border: 3px solid $color1;
          width: 15px;
          height: 15px;
          margin-top: -1.5px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .tabs_with_text_and_images {
    .testo_servizio {
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 640px) {
  .tabs_with_text_and_images {
    .sottotitolo_servizio {
      font-size: font-percentage($font-size3, 0.6);
      padding-top: 10px;
    }
    .titolo_servizio {
      font-size: font-percentage($font-size4, 0.35);
    }
    .testo_servizio {
      font-size: font-percentage($font-size1, 0.7);

    }
    .wrapper_testo_servizi {
      padding: 0 5% 0 5% !important;
    }
  }
}

@media screen and (max-height: 720px) {
  .tabs_with_text_and_images {
    min-height: 635px;
  }
}
