$color2: #F39200 !default;
$color3: #878787 !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.pulsante-col {
  text-align: center;
}

.pulsante-call {
  background-color: $color2;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.totalCount {
  text-align: right;
  strong {
    color: $color2;
  }
}

.lista-prodotti-4col, .lista-prodotti-3col {
  margin-top: 10px;
  margin-bottom: 0px;
  .colonna-prodotto:first-child {
    padding-left: 15px;
  }
  .colonna-prodotto:last-child {
    padding-right: 15px;
  }
  .colonna-prodotto {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 14px;
  }
  @media(max-width: 767px) {
    .colonna-prodotto {
      margin-bottom: 0;
    }
  }
  @media(max-width: 540px) {
    .colonna-prodotto:nth-child(1n+4) {
      display: none;
    }
    .colonna-prodotto {
      width: 100%;
    }
  }
}