{% trans_default_domain "public" %}
<section class="container-fluid container-limitato lista-prodotti lista-prodotti-4col">
    <div class="row">
        {% for Prodotto in data.prodotti %}
            {% include "public/layouts/"~generali.layout~"/includes/prodotto.twig" with {"Prodotto":Prodotto} %}
        {% endfor %}

    </div>
    <div class="row">
        <div class="col-sm-12 pulsante-col">
            <a class="btn pulsante-call" href="/prodotti-piu-venduti">Visualizzali tutti</a>
        </div>
    </div>
</section>