.selettoreLingue {

  .navbar-nav {
    li a {

      font-weight: 500;
    }
  }

  .dropdown a {
    font-family: $font2;
    font-weight: $bold;
  }
  .dropdown a img {
    margin-right: 5px;
    vertical-align: sub;
  }
  .dropdown-menu {
    li {
      text-align: center;
      a {
        img {
          margin-right: 5px;
        }
        font-weight: 500;
      }
    }
  }

}
