<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <a href="#">{% trans %} ecommerce.labels.ospite {% endtrans %}</a>
        </div>
        <div class="col-lg-4">
            <a href="#">{% trans %} ecommerce.labels.registrati {% endtrans %}</a>
        </div>
        <div class="col-lg-4">
            <a href="#">{% trans %} ecommerce.labels.login {% endtrans %}</a>
        </div>
        <div class="personal-information">

        </div>
        <div class="registrazione">

            {{ form_start(data.formRegistrazione) }}
            {{ form_end(data.formRegistrazione) }}

        </div>
        <div class="ospite">

        </div>
        <div class="login">

        </div>
    </div>
</div>