{% trans_default_domain "public" %}
<section class="menu-laterale">


    <h1 class="titoloSezione">{% trans %}ecommerce.labels.your_account{% endtrans %}</h1>

    <div class="mobileWrap mobile">

        <select class="mobile menuSelectMobile">
            {% for cat in data.menu %}
                <option {% if cat.active %} selected
                                            {% endif %}value="{% if cat.url is defined %}{{ cat.url }}{% else %}{{ to_route(cat.route) }}{% endif %}">{{ cat.titolo }}</option>
            {% endfor %}
        </select>
    </div>
    <ul class="lista-categorie">
        {% for cat in data.menu %}
            <li>
                <a {% if cat.active %}class="active"
                   {% endif %}href="{% if cat.url is defined %}{{ cat.url }}{% else %}{{ to_route(cat.route) }}{% endif %}">{{ cat.titolo }}</a>
            </li>
        {% endfor %}
    </ul>

</section>
