$color2: #F39200 !default;
$color17: #F9F9F9 !default;

.titoloSezione {
  color: $color1;
  font-size: 48px;
  font-family: $font2;
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
  strong {
    color: $color2;
    font-weight: 400;
  }
}

.lista-categorie {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  text-align: center;
  li {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      padding: 14px 20px;
      border: 1px solid $color5;
      font-size: 15px;
      color: $color1;
      &:hover {
        text-decoration: none;
        background-color: $color1;
        color: white;
      }
      &.active {
        background-color: $color2;
        color: white;
        font-weight: 600;
      }
    }

  }
}

.mobile {
  display: none;
}

@media (max-width: 767px) {
  .lista-categorie {
    display: none;
  }
  .mobileWrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  h1 {
    text-align: center;
    font-size: 30px;
    color: $color6;
    margin-bottom: 30px;
  }
  .menuSelectMobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 20px;
    color: $color6;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .mobile {
    display: block;
  }
  .headMenu {
    display: none;

  }
  .bodyMenu {
    display: none;
  }
}

