.sezione.gallery-sinistra {
  background-color: $color4;
  padding: 80px;
  .col-lg-9 {
    position: relative;
    .fa-angle-right {
      position: absolute;
      top: 0;
      right: -30px;
      color: $color1;
    }
    .fa-angle-left {
      position: absolute;
      top: 0;
      left: -30px;
      color: $color1;
    }
    .fotorama__nav--thumbs {
      background-color: rgba($color3, .8);
    }
  }
  .col-lg-3 {
    text-align: center;
    padding: 0 20px;
    h2 {
      display: inline-block;
      font-size: 35px;
      margin-top: 0;
    }
    .specs-list {
      padding-top: 50px;
      ul {
        padding-left: 0;
        line-height: 60px;
        list-style-type: none;
        li {
          text-align: center;
          img {
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
  .sezione.gallery-sinistra .col-lg-3 h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 1199px) {
  .sezione.gallery-sinistra .col-lg-3 .specs-list {
    padding-top: 20px;
  }
  .sezione.gallery-sinistra .col-lg-3 .specs-list ul li {
    display: inline-block;
    padding: 0 20px;
  }
  .sezione.gallery-sinistra .col-lg-3 h2 {
    margin-top: 20px;
  }
  .sezione.gallery-sinistra {
    padding: 20px;
  }
  .sezione.gallery-sinistra .col-lg-9 .fa-4x {
    display: none;
  }
}
