<section class="modulo_menu_centered">
    <img class="img-responsive logo_cell" src="{{ iconaMenu.src }}" alt="{{ iconaMenu.alt|default("") }}"/>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {% for menu in data.menu %}
                <li class="lista_menu {% if menu.active %}active{% endif %}">
                    <a href="{{ menu.slug }}"
                       class="link_menu {% if menu.active %}active{% endif %}">{{ menu.titolo|upper }}</a>
                </li>
                {% if loop.length / 2 == loop.index %}
                    <li class="lista_menu icona-menu">
                        <img class="social_icon img-responsive" src="{{ iconaMenu.src }}"
                             alt="{{ iconaMenu.alt|default("") }}"/>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div><!-- /.navbar-collapse -->
    <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>
    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
                {% for menu in data.menu %}
                    <li>
                        <a href="{{ menu.slug }}" {% if menu.active %} class="active"{% endif %}
                           rel="nofollow">{{ menu.titolo|upper }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>
