{% trans_default_domain 'public' %}
<div class="ricerca-avanzata-wrap">
    <div class="container-fluid ricerca-avanzata container-limitato">
        <div class="row">
            <div class="col-lg-2 ricerca-label">
                <img src="{{ assetLayout("img/ricerca-avanzata.png") }}">RICERCA AVANZATA
            </div>
            <div class="col-sm-5 col-lg-4">
                <select class="form-control select-style brand-search">
                    <option value="">{% trans %}ecommerce.labels.brand{% endtrans %}</option>
                    {% for brand in data.brands %}
                        <option value="{{ brand.titolo }}">{{ brand.titolo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5 col-lg-4">
                <select class="form-control select-style category-search">
                    <option value="">{% trans %}ecommerce.labels.category{% endtrans %}</option>
                    {% for category in data.categories %}
                        <option value="{{ category.nome }}">{{ category.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2 col-lg-2">
                <a class="pulsante-ghebagas btn search"><span>Cerca ora</span></a>
            </div>
        </div>
    </div>
</div>